<section class="about">
  <div class="container">
    <div class="wrapper">
      {{#if majorDonorString}}
        <h4>Major Donors</h4>
        <p>{{majorDonorString}}</p>
      {{/if}}
      {{#if monthlyDonorString}}
        <h4 style="padding-top: 20px;">Monthly Donors</h4>
        <p>{{monthlyDonorString}}</p>
      {{/if}}
      {{#if supportingDonorString}}
        <h4 style="padding-top: 20px;">Supporting Donors</h4>
        <p>{{supportingDonorString}}</p>
      {{/if}}
    </div>
  </div>
</section>
