<div class="nw-card-side-by-side">
  <div class="nw-card-side-by-side-title">
    Challenge<br />Badges
  </div>
  <div class="nw-card-side-by-side-content">
    <div class="nw-badges-new-ux" style="align-self: center; flex: 1 1 100%;">
      {{#if firstBadge}}
        {{#each filteredBadges as |badge|}}
          {{badge-rendered badge=badge user=user projectChallenge=projectChallenge renderSize='small'}}
        {{/each}}
      {{else}}
        <div class="nw-list-loading">
          <i class="fa fa-spinner fa-spin"></i>
          Loading...
        </div>
      {{/if}}
    </div>
  </div>
</div>
