{{#if displayPrepDayBanner}}
  <div class="flash-banner">
    <div class="banner-left">
    </div>
    <div class="banner-content">
      <div class="flash-image image-unframed">
        <img src="/images/banners/nanoprep.jpg" style="height: 120px; margin: 10px; filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));" />
      </div>
      <div class="flash-content">
        <div class="flash-text">
          <span>
            <b>It's NaNo Prep Weekend!</b>
            Donate $30 to support the nonprofit behind NaNoWriMo by October 10, and you'll also receive a 60-day, prep &amp; pep calendar to help you get ready to write!
          </span>
        </div>
        <div class="flash-button">
          <a href="https://store.nanowrimo.org/products/committed-writers" target="_blank">
            <button>
              Donate today!
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="banner-right">
    </div>
  </div>
{{/if}}
