<!-- Behind the Scenes -->
<section class="behind-the-scenes">
  <div class="container">
    <div class="wrapper">
      <div class="headline">Meanwhile, behind the scenes...</div>
      <div class="image-wrapper">
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.00 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.09 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.17 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.23 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.50 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.57 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.50.20 PM.png" alt=""></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.44 PM.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
