<!-- Behind the Scenes -->
<section class="behind-the-scenes">
  <div class="container">
    <div class="wrapper">
      <div class="headline">Meanwhile, behind the scenes...</div>
      <div class="image-wrapper">
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.00 PM.png"
            alt="A camera and book on a bed"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.09 PM.png"
            alt="Three people standing on the street"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.17 PM.png"
            alt="A man wearing a horned helmet giving a thumnbs up"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.23 PM.png"
            alt="A woman on a stage"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.50 PM.png"
            alt="Five people hlding books and smiling"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.57 PM.png"
            alt="A horned helmet in front of a window"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.50.20 PM.png"
            alt="Two people wearing costumes in an office"></div>
        <div class="image"><img src="/images/logged-out/Screen Shot 2018-04-09 at 8.49.44 PM.png"
            alt="A man smiling and holding a bottle"></div>
      </div>
    </div>
  </div>
</section>