{{#each cmsOfferPromos as |offer|}}
  {{cms-offer offer=offer}}
{{/each}}
<div class='nw-card flex-large'>
  <div class="nw-card-header">
    <div class='nw-card-title'>
      More of our sponsors
    </div>
  </div>
  <div class='nw-card-content nw-card-horizontal'>
  
    {{#each cmsThirdOfferPromos as |offer|}}
      <a href="{{offer.external-link}}" target="_blank">
        <img src="{{offer.card-image}}" />
      </a>
    {{/each}}
  
  </div>
</div>