{{#each cmsOfferPromos as |offer|}}
  {{cms-offer offer=offer}}
{{/each}}
<div class='nw-card flex-large no-height-limit'>
  <div class="nw-card-header">
    <div class='nw-card-title'>
      More of our sponsors
    </div>
  </div>
  <div class='nw-card-content nw-card-horizontal'>
  
    {{#each cmsThirdOfferPromos as |offer|}}
      <div class="nw-cms-third-tier-offer">
        <a href="{{offer.external-link}}" target="_blank">
          <img src="{{offer.card-image}}" />
        </a>
      </div>
    {{/each}}
  
  </div>
</div>