<div class="congratulations">
  <svg viewBox="0 0 400 140">
    <path id="curve" d="M10 120 Q 195 10 380 120" stroke="transparent" fill="transparent"/>
    <text width="400">
      <textPath xlink:href="#curve">
        CONGRATULATIONS
      </textPath>
    </text>
  </svg>
</div>