<button class="nano-button-dark-blue full-width" {{action 'authenticateFacebook'}}>{{fa-icon "facebook-f"}} Continue with Facebook</button>
<button class="nano-button-red full-width" {{action 'authenticateGoogle'}}>{{fa-icon "google"}} Continue with Google</button>
