<button class="btn nano-blue" {{action 'authenticateFacebook'}}>{{fa-icon "facebook-f"}} Continue with Facebook</button>
<button class="btn nano-red" {{action 'authenticateGoogle'}}>{{fa-icon "google"}} Continue with Google</button>
