<button class="nano-button-dark-blue" {{action 'authenticateFacebook'}}>{{fa-icon "facebook-f"}} Continue with Facebook</button>
<button class="nano-button-red" {{action 'authenticateGoogle'}}>{{fa-icon "google"}} Continue with Google</button>
