{{#link-to 'authenticated.nanomessages.show' conversationSlug}}
  <div class='conversation-list-item user-listing'>
    <div class='nano-avatar nano-avatar-medium'>
      <img src='{{conversationAvatar}}' />
    </div>
    <div class='user-info'>
      <div class='nano-user-name'>
        {{conversationLabel}}
      </div>
    </div>
  </div>
{{/link-to}}