{{#link-to 'authenticated.nanomessages.show' conversationSlug}}
  <div class='conversation-list-item nw-user-listing'>
    {{#if conversationAvatar}}
      <div class='nw-avatar nw-avatar-medium'>
        <img src='{{conversationAvatar}}' />
      </div>
    {{/if}}
    <div class='nw-user-info'>
      <div class='nw-user-name'>
        {{conversationLabel}}
      </div>
      <div class='nw-last-message'>
        {{{latestMessage}}}
      </div>
    </div>
  </div>
{{/link-to}}