<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">My Buddies</div>
  </div>
  <div class="nano-subcard-content center-vertically" style="background-image: url('/images/cards/handsclapping.svg'); background-position: bottom center;">
    <div>You're three times more likely to finish a novel with a buddy!<br /><button type="submit" class="">Connect My Social Accounts</button><br /><button type="submit" class=" button-reversed">Find Wrimos Near Me</button></div>
  </div>
</div>