<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">My Badges</div>
  </div>
  <div class="nano-subcard-content side-by-side badge-subcard">
    <div class="side-by-side-even">
      <div class="full-width">
        <div class="nano-card-icon badge-large"><img src="/images/badges/profile1.svg" /></div>
        <div><div class="max-color">Filled out your profile</div><div>You unlocked this badge by adding content to your profile</div><div class="note-text">Unlocked on September 28, 2017</div></div>
      </div>
    </div>
    <div class="side-by-side-even">
      <ul class="badges">
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
        <li>
          <div><img src="/images/badges/profile1.svg" /></div>
        </li>
      </ul>
    </div>
  </div>
</div>