<div class="nw-card-header">
  <div class="nw-card-title">Welcome to NaNoWriMo!</div>
</div>
<div class="nw-card-content nw-horizontal-content">
  <div class="nw-card-left-image">
    <img src='/images/other/helmet_image.svg' alt="helmet image" />
  </div>
  <div class="nw-card-right-content">
    <h2>Welcome, Bold and Wondrous Writer, to the next steps of your creative journey!</h2>
    <p>Start your first writing project by setting a goal. If there’s a community writing event underway, you can set an official challenge goal for that. If not, set an independent goal with whatever dates work for you! Once the challenge starts, you can update your word count using the + widget at the top of your screen.</p>
    <h3>Explore our writer resources</h3>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
          {{#link-to "pages" "nano-prep-101"}}
            Novel prep? Check.
          {{/link-to}}
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
          {{#link-to "pages" "nano-prep-101"}}
            Revision help? Check.
          {{/link-to}}
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
          {{#link-to "pages" "nano-prep-101"}}
            Checklists? Double check.
          {{/link-to}}
      </div>
    </div>
    <h3>Connect with the NaNoWriMo community</h3>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        Join a region
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        Visit the forums
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        Attend a virtual NaNo HQ event
      </div>
    </div>
  </div>
</div>
