<div class="fundometer-image">
  <!--difference between these two images?-->
  <img alt='drawing of a stack of books' src='/images/other/bookstackfill.svg' style={{stack_style}}>
  <img alt='drawing of a stack of books' src='/images/other/bookstack.svg'>
  <div class="fundometer-label">{{goal_string}}</div>
</div>
<div class="fundometer-text">
  <div class="fundometer-raised">{{raised_string}} raised!</div>
  <div>Thanks to {{donor_string}}.<br /><a href="https://store.nanowrimo.org/collections/donate" target="_blank">Have
      you donated yet?</a></div>
</div>