<div class="nw-card-header">
  <div class="nw-card-title">Welcome to NaNoWriMo!</div>
</div>
<div class="nw-card-content nw-horizontal-content">
  <div class="nw-card-left-image">
    <img src='/images/other/helmet_image.svg' alt="helmet image" />
  </div>
  <div class="nw-card-right-content">
    <h2>Welcome, Bold and Wondrous Writer, to the next steps of your creative journey!</h2>
    <p>Start your first writing project by setting a goal. If there’s a community writing challenge underway, you can set an official goal for that. If not, set an independent goal with whatever dates work for you!</p> 
    <p>Once the challenge starts, you can update your word count using the + widget at the top of your screen.</p>
    <h3>Explore our Writer's Resources:</h3>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        The {{#link-to "pages" "nano-resource-hub"}}NaNo Resource Hub{{/link-to}}, your one stop shop!
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        Starting a novel? Try {{#link-to "pages" "nano-prep-101"}}NaNo Prep 101{{/link-to}}.
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        Need a boost? Read a {{#link-to "pages" "pep-talks"}}Pep Talk{{/link-to}}!
      </div>
    </div>
    <h3>Connect with the NaNoWriMo community:</h3>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        {{#link-to "authenticated.regions.find"}}Join a region.{{/link-to}}
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        <a href="https://forums.nanowrimo.org">Visit the forums.</a>
      </div>
    </div>
    <div class="nw-icon-content-list">
      <div class="nw-card-content-list-icon">
        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
      </div>
      <div class="nw-card-content-list-text">
        <a href="/regions/nanowrimo-hq/events/upcoming">Attend a virtual NaNo HQ event.</a>
      </div>
    </div>
  </div>
</div>
