<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">Twitter</div>
  </div>
  <div class="nano-subcard-content center-vertically" style="background-image: url('/images/cards/twitterbird.svg')">
    <div>Smart people are saying smart stuff about writing. Care to follow the conversation?<br /><button type="submit" class="">Follow Accounts or Hashtags</button></div>
  </div>
</div>