<div class="nw-card-header">
  <div class="nw-card-title">My Buddies</div>
</div>
<div class="nw-card-content nw-center-horiz">
  <div>
    <div class="nw-promo-text">
      You're three times more likely to finish a novel with a buddy!
    </div>
    <div>
      {{#link-to "authenticated.search"}}
        <button type="submit">Find buddies!</button>
      {{/link-to}}
    </div>
  </div>
  <div class="nw-card-bottom-image"><img src="/images/cards/handsclapping.svg" /></div>
</div>
