<div class="nw-card-header">
  <div class="nw-card-title">My Offers</div>
</div>
<div class="nw-card-content nw-center-horiz">
  <div>
    <div class="nw-promo-text">
      Our terrific sponsors can help you through every step of the writing process, and many have special offers for Wrimos.
    </div>
    <div >
      <a href="/offers"><button>Show me!</button></a>
    </div>
  </div>
</div>
