<div class="nw-card-header">
  <div class="nw-card-title">{{fa-icon "home"}} Home Region</div>
</div>
<div class="nw-card-content center-vertically center-horizontally" style="background-image: url('/images/cards/homeregion.svg')">
  <div class="center-horizontally">There are lots of fun things going on around you, but we don't know your home region yet.<br />
    {{#link-to "authenticated.regions.find" tagName="button"}}
      Find Home Region
    {{/link-to}}
  </div>
</div>
