<div class="nw-card-header">
  <div class="nw-card-title">NaNoWriMo 2019 Winner</div>
</div>
<div class="nw-card-content">
  <div class='store-item'>
    <a href="/nano-winner-2019">
      <img src="/images/cards/dashboard-nano-winner/nano-winner.jpg">
      <button style="margin-top: 10px;">
        Claim your winner goodies!
      </button>
    </a>
  </div>
</div>