<div class="nw-card-header">
  <div class="nw-card-title">Twitter</div>
</div>
<div class="nw-card-content">
  <a class="twitter-timeline" data-height="250" href="https://twitter.com/NaNoWriMo?ref_src=twsrc%5Etfw">Tweets by
    NaNoWriMo</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>