<div class="nw-card-header">
  <div class="nw-card-title">Pep Talks</div>
</div>
<div class="nw-card-content nw-center-horiz">
  <div>
    <div class="nw-promo-text">
      Pep talks are inspirational letters written by well-known authors during NaNoWriMo just for you. Need some inspiration or motivation?
    </div>
    <div >
      <a href="/pep-talks"><button>Inspire me!</button></a>
    </div>
  </div>
</div>
