<div class="nw-card-header">
  <div class="nw-card-title">{{fa-icon "home"}} Home Region</div>
</div>
<div class="nw-card-content nw-center-horiz">
  <div>
    <div class="nw-promo-text">
      There are lots of fun things going on around you, but we don't know your home region yet.
    </div>
    <div>
      {{#link-to "authenticated.regions.find" tagName="button"}}
        Find Home Region
      {{/link-to}}
    </div>
  </div>
  <div class="nw-card-bottom-image"><img src="/images/cards/homeregion.svg" /></div>
</div>
