<div class="nw-card-header">
  <div class="nw-card-title">{{fa-icon "home"}} Home Region</div>
</div>
<div class="nw-card-content nw-center-horiz">
  <div>
    <div class="nw-promo-text">
      There are lots of fun things going on around you, but we don't know your home region yet.
    </div>
    <div>
      <LinkTo @route="authenticated.regions.find" @tagName="button" @query={{hash ps="false"}}>
        Find Home Region
      </LinkTo>
    </div>
  </div>
  <div class="nw-card-bottom-image"><img alt="drawing of two buildings next to each other"
      src="/images/cards/homeregion.svg" /></div>
</div>