{{#if displayDonationDayBanner}}
  <div class="flash-banner">
    <div class="banner-left">
    </div>
    <div class="banner-content">
      <div class="flash-image image-unframed">
        <img src="/images/banners/wavinghand.svg" />
      </div>
      <div class="flash-content">
        <div class="flash-text">
          <span>
            <b>Today is our Double-Up Donation Day!</b>
            <a href="donation-day">Learn more</a> about how you can spend the day writing and supporting NaNoWriMo's nonprofit programs.
          </span>
        </div>
      </div>
    </div>
    <div class="banner-right">
    </div>
  </div>
{{/if}}
