<div class='nw-card-header nw-card-header-no-height'>
  <div class='nw-card-actions'>
  </div>
</div>
<div class="nw-card-content nw-card-horizontal">
  <div class='nw-title'>
    {{#link-to 'authenticated.regions.show.events.show' group.slug event.slug}}
      {{event.name}}
    {{/link-to}}
    <div class="subtitle" style="font-size: 16px;">
      {{startDateTime}}
    </div>
  </div>
  <div>
    <button>
      Count me in!
    </button>
  </div>
</div>
