<div class="content-gutters">
  <div class="container-fluid">
    <div class="nano-panel">
      <div class="grid-wrapper">
        <div class="nano-card prompt-card short-card g3-col1 g3-row1 g3-hspan3 g3-vspan1 g2-col1 g2-row1 g2-hspan2 g2-vspan1">
          <div class="nano-subcard">
            <div class="nano-subcard-face">
              <div class="nano-subcard-content">
                footer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
