{{#validation-error
  relationshipErrors=model.relationshipErrors
  hasAttemptedSubmit=hasAttemptedSubmit
  property=property
  as |hasError|
}}
  <label for={{name}}>{{label}}</label>
  {{#power-select-multiple-with-create
    class=(if hasError 'is-invalid')
    options=unselectedOptions
    selected=(get model property)
    searchField=searchField
    searchEnabled=searchEnabled
    showCreatePosition="bottom"
    showCreateWhen=(action "showCreateWhen")
    onChange=(action (mut (get model property)))
    onCreate=(action "createOption")
    dropdownClass="in-modal-dropdown"
    renderInPlace=true
    as |opt|
  }}
    {{get opt searchField}}
  {{/power-select-multiple-with-create}}
{{/validation-error}}
