<form {{action "submitForm" on="submit"}}>
  {{yield (hash
    currentStepIndex=currentStepIndex
    isLastStep=isLastStep
    input=(component 'form-for--input' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    select=( component 'form-for--select' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    multiselect=( component 'form-for--multiselect' model=model modelErrors=modelErrors hasAttemptedSubmit=hasAttemptedSubmit)
  )}}
</form>
