{{#validation-error
  changeset=changeset
  hasAttemptedSubmit=hasAttemptedSubmit
  hasBlurred=hasBlurred
  property=property
  as |hasError|
}}
  <label for={{name}}>{{label}}</label>
  {{input
    data-test-form-for--input=name
    autocomplete=autocomplete
    autofocus=autofocus
    class=(concat 'form-control' (if hasError ' is-invalid'))
    focusOut=(action (mut hasBlurred) true)
    id=name
    name=name
    placeholder=placeholder
    type=type
    value=(get changeset property)
    disabled=isDisabled
    min=min
    max=max
  }}
  {{get changeset}}
{{/validation-error}}
