{{#validation-error
  changeset=changeset
  hasAttemptedSubmit=hasAttemptedSubmit
  hasBlurred=hasBlurred
  property=property
  as |hasError|
}}
  <label for={{name}}>{{label}}</label>
  {{textarea
    data-test-form-for--textarea=name
    autocomplete=autocomplete
    autofocus=autofocus
    class=(concat 'form-control' (if hasError ' is-invalid'))
    focusOut=(action (mut hasBlurred) true)
    id=name
    name=name
    placeholder=placeholder
    rows=rows
    value=(get changeset property)
    key-press=(action "keyPress")
  }}
{{/validation-error}}
