<form {{action "submitForm" on="submit"}}>
  {{yield (hash
    currentStepIndex=currentStepIndex
    isLastStep=isLastStep
    checkbox =( component 'form-for--checkbox' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    hidden=(component 'form-for--hidden' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    imageUpload=(component 'form-for--image-upload' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    input=(component 'form-for--input' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    multiselect=( component 'form-for--multiselect' model=model hasAttemptedSubmit=hasAttemptedSubmit)
    password=(component 'form-for--password' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    select=( component 'form-for--select' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
    textarea=( component 'form-for--textarea' changeset=changeset hasAttemptedSubmit=hasAttemptedSubmit)
  )}}
</form>
