<form {{action "validateAndSubmit" on="submit"}}>
  {{yield (hash
    changeset=changeset
    input=(component 'form-for--input' errors=changeset.errors hasAttemptedSubmit=hasAttemptedSubmit)
  )}}
</form>
