<div class="nw-card-content conversation">
  <div class="conversation-header">
    To: <span class='conversation-name'>{{groupName}}</span>
    {{#if showForm}}
      {{nanomessage-form group=group context=context adminIsChecked=adminIsChecked refreshMessages=(action 'afterNanomessageSubmit')}}
    {{/if}}
  </div>
  <div class="conversation-content" id="convo-content">
    <div class="nanomessages-container">
      {{#each sortedMessages as |n|}}
        {{nanomessage-item nanomessage=n userIsAdmin=userIsAdmin}}
      {{/each}}
    </div>
  </div>
</div>
