<div class="nw-user-social">
  {{#each socialLinks as |link|}}
    <a href={{link.url}} class="social-button">{{fa-icon link.service}}</a>
  {{/each}}
</div>
{{#each otherLinks as |link|}}
  <div class="nw-user-link">
    <a href={{link.url}}>{{link.url}}</a>
  </div>
{{/each}}
