<div class="nw-card-header">
  <div class="nw-card-title">Attending</div>
</div>
<div class="nw-card-content">
  {{#each groupUsersAttending as |gu|}}
    {{user-listing userId=gu.user_id}}
  {{/each}}
</div>
