{{#bs-modal
  open=open
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Edit Your Header Image
  {{/modal.header}}
  {{#form-for
    afterSubmit=modal.close
    onSubmit=(action "updateChangeset")
    model=group
    changeset=changeset
    as |f|
  }}
    {{#modal.body}}

      {{#bs-tab
        activeId=activeTab
        onChange=(action (mut activeTab))
        as |tab|
      }}

        {{#tab.pane title="Header" id="headerTab"}}
          <div class="form-group">
            {{f.imageUpload
              label="Update your header image"
              property="plate"
            }}
          </div>
        {{/tab.pane}}

      {{/bs-tab}}

    {{/modal.body}}
    {{#modal.footer}}

      <input type="submit" class="nano-button" value="Save Image" />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
