<div class="nw-card-header">
  <div class="nw-card-title">Edit Group Settings</div>
</div>
<div class="nw-card-content">
  <div style="margin-bottom: 20px;">
    Your writing group name, avatar, and background image help make your writing group a unique and special place. Click below to customize your group!
  </div>
  {{group-edit-button group=group buttonType="button"}}
</div>
