<div class="flash-banner-ux">
  <div class="banner-left">
  </div>
  <div class="banner-content">
    <div class="flash-image image-unframed">
      <img style="width:148px; margin: 10px;" src={{imageSource}} />
    </div>
    <div class="flash-content">
      <div class="flash-text">
        <div class="flash-headline">{{headerText}}</div>
        <div>{{text}}</div>
      </div>
      <div class="flash-button" style="display: flex; flex-wrap: wrap;">
        {{project-new-simple-modal-buttons buttonContext='event-hub' challenge=challenge}}
      </div>
    </div>
  </div>
  <div class="banner-right">
  </div>
</div>
