<!-- NaNo Press -->
<section class="nano-press">
  <div class="container">
    <div class="headline">NaNoWriMo in the news...</div>
    <div class="image-wrapper">
      <img src="/images/logged-out/writersdigest.png" class="logo" alt="">
      <img src="/images/logged-out/newyorktimes.png" class="logo" alt="">
      <img src="/images/logged-out/bookforum.png" class="logo" alt="">
      <img src="/images/logged-out/SF Chronicle.png" class="logo" alt="">
      <img src="/images/logged-out/USA TODAY.png" class="logo" alt="">
      <img src="/images/logged-out/publishersweekly.png" class="logo" alt="">
    </div>
    <div class="btn-wrapper">
      {{link-to "Read more NaNoWriMo Press" "press" class="btn btn-blue"}}
    </div>
  </div>
</section>
