<nav class="navbar micronav navbar-expand-lg" aria-label="secondary">
  <div class="container-fluid d-flex">
    <div class="shield-logo-container" aria="hidden"><a class="shield-logo" href="/"><img src="/logo/logo.svg" alt="" /></a></div>
    {{#if session.isAuthenticated}}
      <div class="nav-search d-flex flex-row">
        {{search-field}}
      </div>
    {{/if}}
    <div class="nav-store d-flex flex-row-reverse">
      {{store-nav}}
      {{help-nav}}
    </div>
  </div>
</nav>
