<form {{action "afterSubmit" this on='submit'}} class="full-width">
  <div class="form-group">
    {{textarea
      class="editable"
      value=content
    }}
  </div>
  <input id='nanomessage-form-submit' type="submit" value="send" class="nano-button" />
</form>
<script>var editor = new MediumEditor('.editable');</script>
