{{#form-for
  model=newNanomessage
  afterSubmit=(action "afterSubmit")
  as |f|
}}
  <div class="form-group">
    {{f.textarea
      property="content"
      onKeyPress=(action "keyPress")
    }}
  </div>
  <input id='nanomessage-form-submit' type="submit" value="send" class="nano-button" />
{{/form-for}}
