<div class="notification noti-new">
  <div class="noti-image">
  </div>
  <div class="noti-content-container">
    <div class="noti-content">
      <span class="noti-headline-string">{{notification.headline}}</span>
      <span class="noti-content-string">{{notification.content}}</span>
    </div>
    <div class="noti-tools-container">
      <div class="noti-time-ago">
        {{timeSince}}
      </div>
      <div class="noti-button">
        <button>View Badge</button>
      </div>
    </div>
  </div>
</div>
