{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Notifications
  {{/modal.header}}
  {{#modal.body
    class='notifications-modal-body'
  }}
    {{#each allNotifications as |notification|}}
      {{notification-rendered notification=notification clickAction=clickAction}}
    {{/each}}
  {{/modal.body}}
  {{#modal.footer}}
    <div><span style='cursor: pointer;' {{action 'openPreferences'}}>Preferences</span> | <span style='cursor: pointer;' {{action 'openNotifications'}}>View all</span></div>
    <input class='nano-button btn-underlined' {{action 'cancel'}} type='button' value='Close'>
  {{/modal.footer}}
{{/bs-modal}}
