{{#bs-nav class="nav-notify-buttons" type="pills" as |nav|}}
  {{#nav.dropdown as |dd|}}
    {{#dd.toggle}}
      <button class="button-clear button-bell">
        {{#if media.isDesktop}}
          <span class="non-mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
        {{/if}}
        {{#if media.isMobile}}
          <span class="mobile" aria-hidden="false">{{fa-icon "bell-o"}}</span>
        {{/if}}
        <div class="unread-circle">1</div>
      </button>
    {{/dd.toggle}}
    {{#dd.menu align="right" as |ddm|}}
      <img src="/images/nav/tab.svg" alt="" class="nano-menu-tab" />
      <div class="modal-content">
        <div class="modal-header">
          Notifications
        </div>
        <div class="modal-body">
    
        </div>
        <div class="modal-footer">
          How's your writing going?
        </div>
      </div>
    {{/dd.menu}}
  {{/nav.dropdown}}
{{/bs-nav}}
