{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Recent Notifications
  {{/modal.header}}
  {{#modal.body
    class='notifications-modal-body'
  }}
    {{#each allNotifications as |notification|}}
      {{notification-rendered notification=notification clickAction=clickAction}}
    {{/each}}
  {{/modal.body}}
  {{#modal.footer}}
    <div><a href="" class="underline-link" {{action 'openPreferences'}}>Preferences</a> | <a class="underline-link" {{action 'openNotifications'}}>View all</a></div>
    <div><a href="" class="underline-link" {{action 'cancel'}}>Close</a></div>
  {{/modal.footer}}
{{/bs-modal}}
