<div class='save-cancel'>
  <button type="submit" disabled={{noChanges}} class="nano-button-large form-save">Save Changes</button>
  <a href="#" class='form-cancel' {{action "resetForm"}}>Reset Form</a>
</div>
