<img src="/images/nav/tab.svg" alt="" class="nano-menu-tab" />
<div class="modal-content">
  <div class="modal-header">
    How's your writing going?
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    How's your writing going?
  </div>
</div>