<img src="/images/nav/tab.svg" alt="" class="nano-menu-tab" />
<div class="modal-content">
  <div class="modal-header">
    How's your writing going?
  </div>
  <div class="modal-body">
    <div id='menu-progress-update-modal-project-display'>
      <div class='primary-project-display'>
        <div class='project-cover' >
          <div class='project-cover-clip'>
            <img src="{{primaryProject.coverUrl}}">
          </div>
        </div>
           <div class='project-title'>
          {{primaryProject.title}}
        </div>
      </div>
    <div id='menu-progress-update-modal-form'>
      <form onsubmit={{action "formSubmit" this.target on='submit'}}>
        <input name='count' type='number' value={{initialValue}}>
        <select name='update-type'>
          <option value='0'>Total Count</option>
          <option value='1'>Words This Session</option>
        </select>
        <input type='submit' value='Submit'>
      </form>
    </div>
      
    </div>
  </div>
</div>
