<div class="nw-card-list-item">
  <div class="nw-card-list-item-left">
    {{formattedEnd}}
  </div>
  <div class="nw-card-list-item-center">
    {{projectSession.count}} words
  </div>
  <div class="nw-card-list-item-right">
    <i class="fa fa-trash" {{action 'deleteProjectSession'}}></i>
  </div>
</div>
