<div class="nw-panel-primary-container">
  {{search-field size='big' q=q}}
</div>
<div class="nw-panel-secondary-container">

    <div class="nw-panel-secondary nw-panel-flex">
      {{#if searchResults.data}}
        {{#each searchResults.data as |u|}}
          {{user-card user=u.attributes}}
        {{/each}}
        
      {{else}}
        0 results for "{{q}}"
      {{/if}}
    </div>

</div>
