<div class="nw-search">
  <div class="form-group nw-search-field {{sizeClass}}">
    <form onSubmit={{action "searchSubmit"}}>
      <input
        class="ember-text-field"
        label="Search"
        name="q"
        placeholder="Search for users..."
        type="text"
        value={{q}}
      />
      <button class="nw-search-button" aria-label="search"><span aria-hidden="true">{{fa-icon "search"}}</span></button>
    </form>
  </div>
</div>
