<form {{action submit on="submit"}}>
  <div class="form-group">
    {{validated-input
      autocomplete="email"
      errors=changeset.errors
      label="Email"
      name="email"
      placeholder="user@domain.com"
      required=true
      type="email"
      value=changeset.email
    }}
  </div>
  <div class="form-group">
    {{validated-input
      autocomplete="current-password"
      errors=changeset.errors
      label="Password"
      name="password"
      placeholder="Password"
      required=true
      type="password"
      value=changeset.password
    }}
  </div>

  <input data-test-sign-in-submit type="submit" class="btn btn-primary" value="Sign In" />
</form>
