<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-content side-by-side">
    <div class="side-by-side-left">{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
    <div class="side-by-side-right">
      <div>
        <div><span class='max-color'>37,500</span> / 50,000</div>
        <div>total words</div>
      </div>
    </div>
  </div>
</div>