<div class="nw-card-content nw-card-horizontal">
  <div>{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
  <div>
    <div class="nw-promo-text"><div class="nw-highlight">{{ countNeededToday }}</div>{{goalUnit}} needed today</div>
  </div>
</div>
