<div class="nw-card-header">
  <div class="nw-card-title">My Average {{goalUnitSingular}} Count</div>
</div>
<div class="nw-card-content">
  <div class="nw-card-icon"><img src="/images/cards/calendar.svg" /></div>
  <div class="nw-promo-text">On average, you write<div class="nw-highlight">{{format-number dailyAverage}} {{goalUnit}} per day!</div></div>
</div>
