<div class="nw-card-content nw-horiz-flex">
  <div>{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
  <div>
    <div class='centered'>
      <div class='nw-card-headline'>{{ countNeededToday }}</div>
      <div>{{goalUnit}} needed today</div>
    </div>
  </div>
</div>
