<div class="nw-card-content nw-card-horizontal">
  <div><img src="/images/cards/daysstraight.svg" /></div>
  <div>
    <div class="nw-promo-text">
      <div class="nw-highlight"> {{daysStraight}}</div>days in a row
    </div>
  </div>
</div>