<div class="content-gutters">
  <div class="container-fluid">
    <div class="nano-panel">
      <div class="grid-wrapper">
        <div class="nano-card g3-col1 g3-row1 g2-col1 g2-row1">
          <div class="subcard filled-grey">
            <div class="circle-chart"></div>
          </div>
        </div>
        <div class="nano-card g3-col2 g3-row1 g2-col2 g2-row1">
          <div class="subcard filled-grey">
            <div class="circle-chart"></div>
          </div>
        </div>
        <div class="nano-card g3-col3 g3-row1 g2-col1 g2-row2">
          <div class="subcard filled-grey">
          </div>
        </div>
        <div class="nano-card g3-col1 g3-row2 g3-hspan3 g2-col1 g2-row3 g2-hspan2 d-flex">
          <div class="subcard filled-grey g3-1 g2-1">
            <div class="corner-label">My Milestones</div>
          </div>
          <div class="subcard filled-white g3-2 g2-1">
            <div class="corner-label">My Overall Progress</div>
            {{chart-my-overall-progress}}
          </div>
        </div>
        <div class="nano-card g3-col1 g3-row3 g2-col1 g2-row4">
          <div class="subcard filled-grey">
            <div class="corner-label">When I Write</div>
            {{chart-when-i-write}}
          </div>
        </div>
        <div class="nano-card g3-col2 g3-row3 g3-hspan2 g2-col2 g2-row2">
          <div class="subcard filled-white">
            <div class="corner-label">My Daily Word Count</div>
            {{chart-my-daily-word-count}}
          </div>
        </div>
        <div class="nano-card g3-col1 g3-row4 g2-col2 g2-row4">
          <div class="subcard filled-grey">
            <div class="corner-label">Where I Write</div>
          </div>
        </div>
        <div class="nano-card g3-col2 g3-row4 g2-col1 g2-row5">
          <div class="subcard filled-grey">
            <div class="corner-label">My Daily Word Count</div>
          </div>
        </div>
        <div class="nano-card g3-col3 g3-row4 g2-col2 g2-row5">
          <div class="subcard filled-grey">
            <div class="corner-label">When I'll Finish</div>
          </div>
        </div>
        <div class="nano-card g3-col1 g3-row5 g2-col1 g2-row6">
          <div class="subcard filled-grey">
            <div class="corner-label">My Writing Speed</div>
          </div>
        </div>
        <div class="nano-card g3-col2 g3-row5 g2-col2 g2-row6">
          <div class="subcard filled-grey">
            <div class="corner-label">My Sprint-iness</div>
          </div>
        </div>
        <div class="nano-card g3-col3 g3-row5 g2-col1 g2-row7">
          <div class="subcard filled-grey">
            <div class="corner-label">How I Feel</div>
          </div>
        </div>
        <div class="nano-card g3-col1 g3-row6 g2-col2 g2-row7">
          <div class="subcard filled-grey">
            <div class="corner-label">Badges From This Project (6/14)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
