<div class="nw-card-content nw-horiz-flex">
  <div><img src="/images/cards/daysstraight.svg" /></div>
  <div>
    <div class="nw-promo-text"><div class="nw-highlight">{{days}}</div>days straight</div>
  </div>
</div>
