<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">My Writing Speed</div>
  </div>
  <div class="nano-subcard-content">
    <div class="nano-card-icon"><img src="/images/cards/keyboard.svg" /></div>
    <div class="icon-summary">Your average writing speed is<div class="max-color">{{writingSpeed}} words per minute!</div></div>
  </div>
</div>
<div class="nano-subcard-face face-back filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">My Writing Speed</div>
    <div class="nano-subcard-toggle" {{action "toggleSubcard"}}>
      <div>{{fa-icon "picture-o"}}</div>
    </div>
  </div>
  <div class="nano-subcard-content">
    <div class="icon-summary">[list goes here]</div>
  </div>
</div>
