<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">Where I Write</div>
  </div>
  <div class="nano-subcard-content">
    <div class="nw-card-icon">
    {{#if svgPath}}
      <img src="{{svgPath}}" />
    {{/if}}
    </div>
    {{#if whereIWrite}}
      <div class="icon-summary">You've written mostly<div class="max-color">{{whereIWrite}}!</div></div>
    {{else}}
       <div class="nw-no-data">Where in the world is {{user.name}} writing? We don't know yet.</div>
    {{/if}}
  </div>
</div>
