<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-header">
    <div class="corner-label">My Sprint-iness</div>
  </div>
  <div class="nano-subcard-content">
    <div class="nano-card-icon"><img src="/images/cards/checkeredflag.svg" /></div>
    <div class="icon-summary"><div class="max-color">25%</div>of your writing was done in a NaNo Sprint!</div>
  </div>
</div>