<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-content side-by-side">
    <div class="side-by-side-left">{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
    <div class="side-by-side-right">
      <div>
        <div class='max-color'>{{ countNeededToday }}</div>
        <div>{{goalUnit}} needed today</div>
      </div>
    </div>
  </div>
</div>
