<div class="nw-card-content nw-horiz-flex">
  <div>{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
  <div>
    <div class='centered'>
      <div><span class='nw-card-headline'>{{count}}</span> / {{goal}}</div>
      <div>total {{goalUnit}}</div>
    </div>
  </div>
</div>
