<div class='nw-card-header'>
  <div class="nw-card-title">My Writing Speed</div>
</div>
<div class='nw-card-content'>
  <div class="nw-card-icon"><img src="/images/cards/keyboard.svg" alt="" /></div>
  <div class="nw-promo-text">Your average writing speed is<div class="nw-highlight">{{writingSpeed}} words per minute!
    </div>
  </div>
</div>