<div class="nano-subcard-face face-front filled-grey">
  <div class="nano-subcard-content side-by-side">
    <div class="side-by-side-left"><img src="/images/cards/daysstraight.svg" /></div>
    <div class="side-by-side-right">
      <div>
        <div class='max-color'>14</div>
        <div>days straight</div>
      </div>
    </div>
  </div>
</div>