<div class="nw-card-content nw-horiz-flex">
  <div>{{high-charts content=chartData chartOptions=chartOptions theme=theme}}</div>
  <div>
    <div class="nw-promo-text"><div class="nw-highlight">{{count}}<span class="nw-dehighlight"> / {{goal}}</span></div>total {{goalUnit}}</div>
  </div>
</div>
