<div class="congratulations">
  <svg viewBox="0 0 460 140">
    <path id="curve" d="M20 120 Q 215 10 450 120" stroke="transparent" fill="transparent"/>
    <text>
      <textPath xlink:href="#curve">
        CONGRATULATIONS
      </textPath>
    </text>
  </svg>
</div>
