{{#bs-modal
  open=open
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Edit Your Profile
  {{/modal.header}}
  {{#form-for
    afterSubmit=modal.close
    model=user
    data-test-user-edit-profile-form=true
    as |f|
  }}
    {{#modal.body}}

      <div class="form-group">
        {{f.input
          label="What is your username?"
          property="name"
        }}
      </div>

      <div class="form-group">
        {{f.input
          label="What is your location?"
          property="location"
        }}
      </div>

      {{user-edit-links user=user}}

    {{/modal.body}}
    {{#modal.footer tagName="div"}}

      <input type="submit" value="Save Details" data-test-user-profile-submit />
      <input type="button" value="Cancel" {{action modal.close}} />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
