<div class="nw-user-social">
  {{#each socialLinks as |link|}}
    <a href={{link.link}} class="social-button" target="_blank">{{fa-icon link.service}}</a>
  {{/each}}
</div>
{{#each otherLinks as |link|}}
  <div class="nw-user-link">
    <a href={{link.link}} target="_blank">{{link.url}}</a>
  </div>
{{/each}}
