<label for={{name}}>Genre(s)</label>
{{#power-select-multiple-with-create
  class=selectClasses
  options=unselectedGenres
  selected=value
  searchEnabled=true
  searchField="name"
  showCreatePosition="bottom"
  showCreateWhen=(action "showCreateWhen")
  onChange=(action (mut value))
  onCreate=(action "createGenre")
  as |genre|
}}
  {{genre.name}}
{{/power-select-multiple-with-create}}
{{#if showErrorMessage}}
  <div data-test-error-message class="invalid-feedback">{{errorMessage}}</div>
{{/if}}
