<label for={{name}}>{{label}}</label>
{{input
  data-test-validated-input=name
  autocomplete=autocomplete
  class=inputClasses
  name=name
  placeholder=placeholder
  required=required
  type=type
  value=value
}}
{{#if hasErrorMessage}}
  <div class="invalid-feedback">{{errorMessage}}</div>
{{/if}}
