<label for="timezone">Time Zone</label>
<div class={{selectClasses}}>
  {{select-timezone value=value}}
</div>
{{#if showErrorMessage}}
  <div data-test-error-message class="invalid-feedback">{{errorMessage}}</div>
{{/if}}
