<div class="nw-card-content">
  <div class="nw-project-container">
    <div class="nw-project">
      <div class='nw-project-cover' >
        <div class="nw-card-icon badge-large">
          <img src='/images/badges/{{imgSrc}}' />
        </div>
      </div>
      <div>
        <div class='nw-supertitle'>
          {{superString}}
        </div>
        <div class='nw-title'>
          {{mainString}}
        </div>
        <div class='nw-subtitle'>
          {{subString}}
        </div>
      </div>
    </div>
  </div>
</div>
