<div style="width:100%; display: flex; justify-content: center; margin-top: 20px;">
  <div style="max-width: 300px; display: flex; flex-direction: column; align-items: center;">
    <div style="font-size: 24px; font-family: 'SerifRegular', serif; font-weight: bold;">Don't write alone.</div>
    <div style="text-align: center;">Search for a writing buddy by their username, or find a new friend <a href='{{forumsUrl}}' alt='Link to forums'>on our forums</a>.</div>
    <div style='margin-top: 10px;'>
      {{#link-to "authenticated.search"}}
        <button type="submit">Search usernames</button>
      {{/link-to}}
    </div>
    <div style='margin-top: 20px;'>
      <img src='/images/global/highfive.svg' alt='Two hands highfiving' />
    </div>
  </div>
</div>