// WHITES
$nano-white: #ffffff;
$nano-white-1: #f7f7f7;
$nano-white-2: #ededed;

// BLUES
$nano-lightblue: #e2eff3;
$nano-mediumlightblue: #75abbc;
$nano-mediumblue: #6595a3;
$nano-darkblue: #2f3061;

// GREYS
$nano-lightgrey: #b8b8b8;
$nano-mediumgrey: #979797;
$nano-darkgrey: #343434;

// GREENS
$nano-lightgreen: #95d0bf;
$nano-mediumgreen: #73ab9b;
$nano-darkgreen: #5f8c7f;
