<div class="grid-wrapper">
  <div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
    <div class="nano-subcard g3-sub1 g2-sub1">
      <div class="nano-subcard-face face-front filled-grey">
        <div class="nano-subcard-content">
          {{#if canEditGroup}}
            <div class="nano-icon-tabs">
              <LinkTo @route='authenticated.regions.show.admin.members'>
                <div class="nano-icon-tab">
                  <i class='fa fa-users'></i>
                  Members
                </div>
              </LinkTo>
              <LinkTo @route='authenticated.regions.show.admin.writing'>
                <div class="nano-icon-tab">
                  <i class='fa fa-pencil'></i>
                  Writing
                </div>
              </LinkTo>
              <LinkTo @route='authenticated.regions.show.admin.locations'>
                <div class="nano-icon-tab">
                  <i class='fa fa-home'></i>
                  Locations
                </div>
              </LinkTo>
            </div>
            <div class="info-text side-by-side-even">
              {{outlet}}
            </div>
          {{else}}
            <NwLoading />
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
