<div class="nw-panel right-resize nw-with-tabs">
  <ul class="nw-panel-tabs">
    <li>{{link-to 'Overview' 'authenticated.regions.show.index'}}</li>
    {{#if canAddEvent}}
      <li>{{link-to 'Events' 'authenticated.regions.show.events.upcoming'}}</li>
    {{/if}}
  </ul>
  <div class="grid-wrapper">
    <div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
      {{nanochat-convo group=group}}
    </div>
  </div>
</div>
