<div class="flash-banner">
  <div class="banner-left">
  </div>
  <div class="banner-content">
    <div class="flash-image image-unframed">
      <img style="width:100px; margin: 10px;" src="{{imageSource}}" />
    </div>
    <div class="flash-content">
      <div class="flash-text">
        {{#if (eq type "NowWhat")}}
        <span>
          So you wrote a novel... now what? During 
          <LinkTo @route="pages" @model="now-what">the "Now What?" Months</LinkTo>, join the challenge to revise 150 pages of your novel by the end of February.
        </span>
        {{/if}}
        {{#if (eq type "Camp")}}
        <span>
          {{text}}
        </span>
        {{/if}}
      </div>
      <div class="flash-button">
        <button {{action "buttonClicked"}}>
          {{buttonText}}
        </button>
      </div>
    </div>
  </div>
  <div class="banner-right">
  </div>
</div>
