<div class="flash-banner">
  <div class="banner-left">
  </div>
  <div class="banner-content">
    <div class="flash-image image-unframed">
      <img style="width:100px; margin: 10px;" src="{{imageSource}}" />
    </div>
    <div class="flash-content">
      <div class="flash-text">
        {{text}}
      </div>
      <div class="flash-button">
        <button {{action "buttonClicked"}}>
          {{buttonText}}
        </button>
      </div>
    </div>
  </div>
  <div class="banner-right">
  </div>
</div>
