<div id="widget-display" style="margin:20px">
  <div style="width:500px">
  
    <h2>Date and Time Picking</h2>
    
    <!--start the card -->
    <div class='nw-card'>
      <div class='nw-card-header'>
        <div class='nw-card-title'>
          Pick a winner
        </div>
        <div class='nw-card-actions'>
          <div class='nw-card-display-actions'></div>
          <div class='nw-card-model-actions'></div>
        </div>
      </div>
      
      <div class='nw-card-content'>
        <table>
          <tr><td>Time:</td><td><input class='nano-timepicker' /></td></tr>
          <tr><td>Date:</td><td><input class='nano-datepicker' /></td></tr>
          <tr><td>Cal:</td><td><input class='nano-calpicker' /></td></tr>
          <tr><td>Cal Multi:</td><td><input class='nano-calmultipicker' /></td></tr>
        
        </table>
      </div>
      <div class='nw-card-footer'>
        <div class='nw-card-footer-image'>
        </div>
        <div class='nw-card-footer-actions'></div>
      </div>
    </div>
    <!--end of card -->
    
  </div>
</div>

