<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class="nw-panel nanomessages-panel nw-with-grid">
      <div class="grid-wrapper">
        <div class="nw-card g3-col1 g3-row1 g3-hspan1 g3-vspan1 g2-col1 g2-row1 g2-hspan1 g2-vspan1">
          <div class="nw-card-header">
            <div class="nw-card-title">Conversations</div>
          </div>
          <div class="nw-card-content">
            {{conversations-list class="full-width"}}
          </div>
        </div>
        <div class="nw-card g3-col2 g3-row1 g3-hspan2 g3-vspan1 g2-col2 g2-row1 g2-hspan1 g2-vspan1">
          {{#if hasGroup}}
            {{outlet}}
          {{else}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
