<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class="nw-panel nanomessages-panel">
      <div class="nano-card one-third">
        <div class="nano-subcard">
          <div class="nano-subcard-face face-front filled-grey">
            <div class="nano-subcard-header">
              <div class="corner-label-full">Conversations</div>
            </div>
            <div class="nano-subcard-content no-padding full-width">
              {{conversations-list class="full-width"}}
            </div>
          </div>
        </div>
      </div>
      <div class="nano-card two-thirds">
        <div class="nano-subcard">
          <div class="nano-subcard-face face-front filled-grey">
            {{#if hasGroup}}
              {{outlet}}
            {{else}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
