<div class="nano-subcard-body conversation">
  <div class="conversation-header">
    <div class="new-message-form">
      To: <span class='conversation-name'>{{groupName}}</span>
      
      {{#if showForm}}
        {{nanomessage-form group=group refreshMessages=(action 'afterNanomessageSubmit')}}
      {{/if}}
    </div>
  </div>
  <div class="conversation-content" id="convo-content">
    <div class="nanomessages-container">
      {{#each sortedMessages as |n|}}
        {{nanomessage-item nanomessage=n}}
      {{/each}}
    </div>
  </div>
</div>
