<div class="nano-subcard-body conversation">
  <div class="conversation-header">
    To: <span class='conversation-name'>{{groupName}}</span>
  </div>
  <div class="conversation-content" id="convo-content">
    <div class="nanomessages-container">
      {{#each sortedMessages as |n|}}
        {{nanomessage-item nanomessage=n}}
      {{/each}}
    </div>
  </div>
  <div class="new-message-form">
    {{#if showForm}}
      {{nanomessage-form group=group refreshMessages=(action 'afterNanomessageSubmit')}}
    {{/if}}
  </div>
</div>
