<div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
  <div class="nano-subcard g3-sub1 g2-sub1">
    <div class="nano-subcard-face face-front filled-grey">
      <div class="nano-subcard-content">
        blocked
      </div>
    </div>
  </div>
</div>
