<div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
  <div class="nano-subcard g3-sub1 g2-sub1">
    <div class="nano-subcard-face face-front filled-grey">
      <div class="nano-subcard-content">
        <div class='title'>notifications</div>
        <div class='instruction'>Select the type of notifications you would like to receive.</div>
        {{#form-for model="user" as |f|}}
          <div class="form-group">
            {{f.checkbox label="who can view your profile?" property="privacyViewProfile"}}
          </div>
          <div class="form-group">
            {{f.checkbox label="who can view your profile?" property="privacyViewProfile"}}
          </div>
          <div class="form-group">
            {{f.checkbox label="who can view your profile?" property="privacyView-profile"}}
          </div>
          <div class="form-group">
            {{f.checkbox label="who can view your profile?" property="privacyView-profile"}}
          </div>
        {{/form-for}}
        
      </div>
    </div>
  </div>
</div>
<div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
  <div class="nano-subcard g3-sub1 g2-sub1">
    <div class="nano-subcard-face face-front filled-grey">
      <div class="nano-subcard-content">
        <div class='title'>emails</div>
        <div class='instruction'>Select the type of emails you would like to receive.</div>
      </div>
    </div>
  </div>
</div>
