

  {{#form-for model=user as |f| }}        
    <div class='nw-card'>      
      <div class='nw-card-header'>
         <div class='nw-card-title'>Privacy</div>
      </div>
      <div class='nw-card-content'>
        <div class="form-group">
          {{f.radio-group 
            title="Account Privacy"
            property="privacyViewProfile" 
            options=optionsForPrivacyAccount
            showRadios=showFormRadios}}
        </div>
        <div class="form-group">
          {{f.radio-group 
            title="Who can view your projects?"
            property="privacyViewProjects" 
            options=optionsForPrivacyProjects
            showRadios=showFormRadios}}
        </div>
        <div class="form-group">
          {{f.radio-group 
            title="Who can view your buddies?"
            property="privacyViewBuddies" 
            options=optionsForPrivacyBuddies
            showRadios=showFormRadios}}
        </div>
      </div>
    </div>
    <div class='nano-panel-footer'>
      {{f.save-cancel class="save-cancel" resetCallback=(action "resetCallback") }}
    </div>
  {{/form-for}}

