<div class='nano-panel'>
  <div>Cover</div>
  <div>flipper-doodle</div>
  <div>
    <div class='project-title'>
      {{project.title}}
    </div>
    <div class='project-genres'>
      {{project.concatGenres}}
    </div>
  </div>
  
</div>


