<div id='project-listing-panel' class="nano-panel right-resize with-tabs">
  <ul class="nano-panel-tabs">
    <li>{{link-to 'Profile' 'authenticated.users.show.index'}}</li>
    <li>{{link-to 'Projects' 'authenticated.users.show.projects' }}</li>
    <li>{{link-to 'Buddies' 'authenticated.users.show.buddies' }}</li>
  </ul>
  
  <div id='buddies-listing'>
    <div>
      {{#each user.buddiesActive as |buddy|}}
        {{buddy-listing user=buddy}}
      {{/each}}
      
    </div>
    
  </div>
</div>
