<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class="nw-panel">
      <div class="nw-panel-primary-container">
        <h3 style="margin-bottom: 20px;">All Notifications</h3>
        {{#if notificationsLoaded}}
          {{#each sortedNotifications as |notification|}}
            <div class="nw-card">
              <div class="nw-card-content" style="padding: 0px;">
                {{notification-rendered notification=notification clickAction=(action 'notificationClicked')}}
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="nw-list-loading">
            <i class="fa fa-spinner fa-spin"></i>
            Loading...
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if showBadgeSplash}}
  {{splash-badge badge=badgeForSplash closeAction=(action 'hideBadgeSplash')}}
{{/if}}
{{#if showWinnerSplash}}
  {{splash-winner badge=badgeForSplash closeAction=(action 'hideWinnerSplash')}}
{{/if}}
