<div class="d-flex align-top">
  <div class="nano-panel with-tabs full-width" id='nano-panel-project'>
    <ul class="nano-panel-tabs">
      <li>{{link-to 'Goals' 'authenticated.users.show.projects.show.goals'}}</li>
      <li>{{link-to 'Details' 'authenticated.users.show.projects.show.index' }}</li>
      <li>{{link-to 'Badges' 'authenticated.users.show.projects.show.badges' }}</li>
    </ul>
 
    <div class ='nano-card' id='project-badges-card'>
      badges
    </div>
 
   
  </div>
</div>
