<div class='nw-panel-actions'>
  <div>
    {{#if canAddProjectChallenge}}
      <button {{action 'newProjectChallenge'}}>create new goal</button>
    {{/if}}
  </div>
  <div class='nw-panel-actions-select' >
    <span id='project-summary-sort-by-select'>
      <label for="project-challenge-filter">
        Show goals: 
      </label>
      <select id="project-challenge-filter" onChange={{action 'filterChanged' value='target.value'}}>
        <option value='0'>all</option>
        <option value='1'>active</option>
        <option value='2'>past</option>
      </select>
    </span>
  </div>
</div>
{{#each filteredProjectChallenges as |pc|}}
  {{project-challenge-listing projectChallenge=pc author=author project=project class='nw-card project-challenge-listing-card'}}
{{/each}}

{{project-challenge-new-modal project=project open=addGoal createNew="true"}}
