<div id='goals-tab'>
  <div class='panel-actions'>
    <button id='create-new-goal-button' {{action 'newProjectChallenge'}}>create new goal</button>
    
    <div class='right-actions'>
      <select onChange={{action 'filterChanged' value='target.value'}}>
        <option value='0'>show all goals</option>
        <option value='1'>show active goals</option>
        <option value='2'>show past goals</option>
      </select>
    </div>
  </div>

  {{#each filteredProjectChallenges as |pc|}}
    {{project-challenge-listing projectChallenge=pc author=author project=project}}
  {{/each}}

   

</div>

{{project-challenge-new-modal project=project open=newProjectChallenge}}
