<div class='nw-panel-actions nw-horiz-flex'>
  <div>
    <button {{action 'editProject'}}>Edit Details</button>
    <button {{action 'editCover'}}>Edit Cover</button>
  </div>
</div>  
{{project-flippy-details project=project class='nw-flippy-project-cover' }}
