{{#if hasDetails}}
  {{project-flippy-details project=project class='nw-flippy-project-cover' }}
{{else}}
  <div id='project-needs-details'>
    <div id="texts">
      {{#if canEdit }}
        <div id='line-1'>You haven't told us much about your new project.</div>
        <div id='line-2'>
          <a href="#" {{action "editProject"}}>
            Fill out your project details
          </a>
        </div>
      {{else}}
        Nothing is known about this project
      {{/if}}
    </div>
    <div id='graphic'>
      <img src='/images/projects/pencilandpen.svg'>
    </div>
  </div>
{{/if}}

