{{page-title "Find a Region"}}
<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class="nw-panel nw-with-tabs nw-with-grid">
      <ul class="nw-panel-tabs">
        <li class="nw-panel-tabs-spacer"></li>
        <li>{{link-to "Find a Region" "authenticated.regions.find"}}</li>
      </ul>
      {{region-find class='grid-wrapper' regions=regions}}
    </div>
  </div>
</div>

