<div class="content-gutters">
  <div class="container-fluid">
    <div class="d-flex align-top">
      <div class="nano-panel with-tabs">
        <ul class="nano-panel-tabs">
          <li class="nano-panel-tabs-spacer"></li>
          <li>{{link-to "Find a Region" "authenticated.regions.find"}}</li>
          <li>{{link-to "Regional Leaderboard" "authenticated.regions.find"}}</li>
        </ul>
        {{find-region class='grid-wrapper' model=model}}
      </div>
    </div>
  </div>
</div>

