<div class="nano-user-plate full-width d-flex">

  <div class="plate-cover">


  </div>
</div>
<div class="content-gutters">
  <div class="container-fluid">
    <div class="d-flex align-top">
      <div class="nano-panel left-sidebar nano-profile">
        <div class="flip-corner">

          <div class="nano-user-name">
            {{region.name}}
          </div>
          <div>DESCRIPTION</div>
          <hr />
          <div class="nano-region-description">
            {{region.description}}
          </div>

        </div>
        <div class="banner-divot"></div>
      </div>

      {{outlet}}

    </div>
  </div>
</div>
