<div class="nw-panel-primary-container">
  <div class='nw-panel-actions'>
    <button {{action "openNewWritingGroupModal"}}>
      Create a writing group
    </button>

    {{group-create-modal
      onHidden=(action "afterWritingGroupModalClose")
      open=addWritingGroup
      user=user
    }}
  </div>
  <div class='group-listings'>
    <div>
    </div>
  </div>
  <div class='group-listings'>
    <div>
      {{#if hasRegions}}
        {{#each user.myGroups as |group|}}
          {{group-listing group=group buttons=true}}
        {{/each}}
      {{else}}
        <div class="nw-card nw-prompt-card">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Don't forget who you are and where you come from."<br />
                <span class="quotee">F. Scott Fitzgerald</span>
              </div>
            </div>
            <div class='action'>
              {{#link-to "authenticated.regions.find"}}
                Join a region!
              {{/link-to}}
            </div>
            <div class='prompt-image'>
              <img src="/images/cards/homeregion.svg">
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>