<div class="content-gutters">
  <div class="container-fluid">
    <div class="nw-panel-intro">
      <div class="welcome-content left-side">
        <h1>Your {{model.year}} Year in Review</h1>
      </div>
    </div>
    <div class="nw-panel">
      {{year-in-review-stat}}
      {{year-in-review-stat}}
    </div>
  </div>
</div>
