.forgot-password-card{
  min-height: initial;
  max-width: 436px;
  
  .card-instruction {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: .3px;
    text-align: left;
    color: $nw-mediumgrey;
    margin-bottom: 10px;
  }
}
