.buddy-listings {
  margin-top: 28px;
}
.buddy-buttons {
  padding: 10px;
  .buddy-status {
  }
  &.button-danger {
    .buddy-status {
      color: $nw-darkred;
      font-family: 'SansBold', sans-serif;
    }
  }
}