.buddy-listings {
  margin-top: 28px;
}
.buddy-buttons {
  padding: 10px;
  .buddy-status {
    font-family: 'SourceSansPro-Regular';
    font-weight: normal;
  }
  &.button-danger {
    .buddy-status {
      color: $nano-darkred;
      font-family: 'SourceSansPro-Bold';
    }
  }
}