button, input.nano-button {
  
  /* Cursor */
  cursor: pointer;
  
  /* Dimensions  and spacing */
  height: 28px;
  width: auto;  
  
  /* Button text */
  font-family: 'SansBold', sans-serif;
  font-size: 14px;
  color: $nw-lightblue;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 12px;
  text-align: center;
  
  /* Background and border */
  border-radius: 6px;
  background-image: linear-gradient(to bottom, $nw-darkgreen, $nw-mediumgreen);
  &:hover, &:active, &:focus {
    background-image: linear-gradient(to bottom, $nw-lightgreen, $nw-mediumgreen);
  }
  border: solid 2px $nw-darkgreen;
  
  /* Reversed green button */
  &.button-reversed {
    background-image: linear-gradient(to bottom, $nw-white-1, $nw-white-2);
    border: solid 2px $nw-darkgreen;
    color: $nw-darkgreen;
    padding-top: 0.1rem;
    &:hover, &:active, &:focus {
      background-image: linear-gradient(to bottom, $nw-lightgreen, $nw-mediumgreen);
      color: $nw-lightblue;
      &.button-danger {
        background-image: linear-gradient(to bottom, $nw-lightred, $nw-mediumred);
        color: $nw-white;
      }
      
    }
    &.button-danger {
      border: solid 2px $nw-darkred;
      color: $nw-darkred;
      
    }
  }
  
  /* Blue buttons */
  &.nano-button-blue {
    background-image: linear-gradient(to bottom, $nw-darkaqua, $nw-mediumblue);
    border: solid 1px $nw-mediumblue;
    &:hover, &:active {
      background-image: linear-gradient(to bottom, $nw-lightblue, $nw-darkaqua);
    }
    
    /* Blue buttons reversed */
    &.button-reversed {
      border: solid 2px $nw-mediumblue;
      color: $nw-mediumblue;
    }
  }
  
  /* Dark blue button */
  &.nano-button-dark-blue {
    background-image: linear-gradient(to bottom, #3d5a96, #27437d);
    border: solid 1px #27437d;
  }
  
  /* Red button */
  &.nano-button-red {
    background-image: linear-gradient(to bottom, #d5412c, #bd2815);
    border: solid 1px #bd2815;
  }
  
  
  &.nano-button-large {
    height: 36px;
    font-size: 16px;
    line-height: 16px;
  }
  
  &.nano-button-small {
    height: 22px;
    font-size: 12px;
    line-height: 12px;
    &.button-reversed {
      border: solid 1px $nw-mediumblue;
    }
    
  }
  
  &.btn-underlined, &.truncate-multiline--button {
    background: transparent;
    border: 0px;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: $nw-mediumgrey;
    text-transform: none;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}
.modal-content {
  .modal-body {
    .form-group {
      input.nano-button {
        height: 28px;
      }
      input.btn-underlined {
        background: transparent;
        border: 0px;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: $nw-mediumgrey;
        text-transform: none;
        box-shadow: none;
        text-align: right;
        &:hover, &:active, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

    
button:focus, input.nano-button:focus {
  outline: 0;
}

button.btn {
  width: 100%;
  max-width: 394px;
}

button .spinner {
  float: right;
  width: 14px;
  height: 14px;
}

.nano-link {
  font-size: 16px;
  color: $nw-mediumgrey;
  text-decoration: underline;
}

.nw-loading-button {
  position: relative;
  i {
    position: absolute;
    font-size: 24px;
    width: 90%;
    top: 0;
    display: none;
  }
  &.is-loading {
    i {
      display: block;
    }
  }
}
.nw-loading-button:disabled {
  cursor: default;
  opacity: 0.6 !important;
  color: rgba(255,255,255,0.3);
  i {
    color: rgba(255,255,255,1.0);
  }
  
}

.nw-new-message-button:focus {
  border: 3px solid black
}

.nw-close-button {
  font-size: 10px;
  border-color: transparent;
  background-image: none !important;
  background-color: transparent !important;
  text-transform: none !important;
  height: auto;
  border-radius: 0px !important;
  color: black;
  float: right;
  margin-top: -3px;
  &:focus {
    border-color: black;

  }
}
