button, input.nano-button {
  
  /* Cursor */
  cursor: pointer;
  
  /* Dimensions  and spacing */
  height: 28px;
  width: auto;  
  
  /* Button text */
  font-family: 'SansBold', sans-serif;
  color: $nw-lightblue;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 14px;
  text-align: center;
  
  /* Background and border */
  border-radius: 6px;
  background-image: linear-gradient(to bottom, $nw-mediumgreen, $nw-darkgreen);
  &:hover, &:active {
    background-image: linear-gradient(to bottom, $nw-lightgreen, $nw-mediumgreen);
  }
  border: solid 2px $nw-darkgreen;
  
  /* Reversed green button */
  &.button-reversed {
    background-image: linear-gradient(to bottom, $nw-white-1, $nw-white-2);
    border: solid 2px $nw-darkgreen;
    color: $nw-darkgreen;
    padding-top: 0.1rem;
    &:hover, &:active {
      background-image: linear-gradient(to bottom, $nw-lightgreen, $nw-mediumgreen);
      color: $nw-lightblue;
      &.button-danger {
        background-image: linear-gradient(to bottom, $nw-lightred, $nw-mediumred);
        color: $nw-white;
      }
      
    }
    &.button-danger {
      border: solid 2px $nw-darkred;
      color: $nw-darkred;
      
    }
  }
  
  /* Blue buttons */
  &.nano-button-blue {
    background-image: linear-gradient(to bottom, $nw-darkaqua, $nw-mediumblue);
    border: solid 1px $nw-mediumblue;
    &:hover, &:active {
      background-image: linear-gradient(to bottom, $nw-lightblue, $nw-darkaqua);
    }
    
    /* Blue buttons reversed */
    &.button-reversed {
      border: solid 2px $nw-mediumblue;
      color: $nw-mediumblue;
    }
  }
  
  /* Dark blue button */
  &.nano-button-dark-blue {
    background-image: linear-gradient(to bottom, #3d5a96, #27437d);
    border: solid 1px #27437d;
  }
  
  /* Red button */
  &.nano-button-red {
    background-image: linear-gradient(to bottom, #d5412c, #bd2815);
    border: solid 1px #bd2815;
  }
  
  
  &.nano-button-large {
    height: 36px;
    font-size: 16px;
    line-height: 16px;
  }
  
  &.nano-button-small {
    height: 22px;
    font-size: 12px;
    line-height: 12px;
    &.button-reversed {
      border: solid 1px $nw-mediumblue;
    }
    
  }
  
  &.btn-underlined, &.truncate-multiline--button {
    background: transparent;
    border: 0px;
    text-decoration: underline;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: $nw-mediumgrey;
    text-transform: none;
    
  }
}

button:focus, input.nano-button:focus {
  outline: 0;
}


button.btn {
  width: 100%;
  max-width: 394px;
}

button .spinner {
  float: right;
  width: 14px;
  height: 14px;
}

.nano-link {
  font-size: 16px;
  color: $nw-mediumgrey;
  text-decoration: underline;
}
