.nano-card {
  background: repeating-linear-gradient(90deg, #fff, #fff 7px, #fafafa 7px, #fafafa 8px);
  border: 1px solid #DFE4E6;
  border-radius: 6px;
  padding: $spacer;
  margin: 0px;
  margin-bottom: $spacer;
  box-shadow: 0 0 14px 0px rgba(47,48,97,0.06);
  
}
