.nano-card {
  display: flex;
  min-height: 80px;
  border-radius: 6px;
  border: solid 1px #dfe4e6;
  padding: 0px;
  box-shadow: 0 0 14px 2px rgba(47, 48, 97, 0.12);
  align-items: stretch;
  align-content: stretch;
  &.login {
    max-width: 436px;
  }
  .subcard {
    flex: 0 0 100%;
    padding: 21px;
    border-radius: 5px;
    
    &.filled-grey {
      background-image: linear-gradient(to bottom, #f7f7f7, #ededed);
    }
    &.filled-white {
      background-color: #FFFFFF;
    }
    .corner-label {
      position: absolute;
      z-index: 50;
      padding: 5px;
      padding-right: 14px;
      padding-left: 14px;
      margin-top: -21px;
      margin-left: -21px;
      border-bottom-right-radius: 6px;
      background-color: #dfe4e6;
      font-family: SourceSansPro-Bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #979797;
    }
  }
  .card-title {
    font-family: SourceSerifPro;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
  }
  
}