.nano-card {
  position: relative;
  display: flex;
  min-height: 380px;
  &.short-card {
    min-height: 80px;
  }
  align-items: stretch;
  align-content: stretch;
  box-shadow: 0 0 14px 2px rgba(47, 48, 97, 0.12);
  border-radius: 6px;
  border: solid 1px #dfe4e6;
  .flip-corner-link {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
  }
  &:hover {
    .flip-corner-link {
      display: block;
    }
  }
  &.login {
    max-width: 436px;
  }
  &.wrap-content {
    flex-wrap: wrap;
  }
  .nano-subcard {
    flex: 1 1 100%;
    border-radius: 6px;
    border: solid 0px #dfe4e6;
    padding: 0px;
    .nano-subcard-face {
      width:100%;
      height: 100%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      &.filled-grey {
        /*background-image: linear-gradient(to bottom, #f7f7f7, #ededed);*/
        background-image: url('/images/global/card_back.png');
        background-repeat: repeat-x;
        background-size: 4px 100%;
      }
      &.filled-white {
        background-color: #FFFFFF;
      }
      .nano-subcard-header {
        flex: 0 0 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 40px;
        .corner-label {
          padding: 4px;
          padding-right: 14px;
          padding-left: 14px;
          border-bottom-right-radius: 6px;
          background-color: #dfe4e6;
          font-family: SourceSansPro-Bold;
          line-height: 20px;
          font-size: 14px;
          text-transform: uppercase;
          color: $nano-mediumgrey;
          i {
            color: $nano-lightgrey;
            padding-right: 4px;
          }
        }
        .nano-subcard-toggle {
          cursor: pointer;
          text-align: center;
          color: $nano-mediumgrey;
          width: 28px;
          margin-left: 7px;
          padding: 4px;
          line-height: 20px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          background-color: $nano-lightblue;
          &:hover {
            background-color: rgb(190, 242, 253);
          }
        }
        .nano-subcard-tab {
          cursor: pointer;
          text-align: center;
          color: $nano-mediumgrey;
          margin-left: 7px;
          padding: 4px;
          line-height: 20px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          background-color: $nano-lightblue;
          font-size: 12px;
          padding: 4px;
          padding-right: 14px;
          padding-left: 14px;
          line-height: 20px;
          font-size: 12px;
          color: $nano-lightgrey;
          &.tabSelected, &:hover {
            background-color: #75abbc;
            color: rgba(255, 255, 255, 0.8);
          }
          &.tabSelected {
            cursor: auto;
          }
        }
      }
      .nano-subcard-content {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        &.center-vertically {
          align-items: center;
        }
        .center-horizontally {
          text-align: center;
        }
        width: 100%;
        padding: 21px;
        padding-top: 0px;
        padding-bottom: 30px;
        font-family: SourceSerifPro-Regular;
        font-size: 20px;
        color: $nano-mediumgrey;
        background-repeat: no-repeat;
        background-position: left bottom;
        &.no-padding {
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
          padding-right: 0px;
          border-radius: 6px;
        }
        .g-map{
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
        .g-map-canvas {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
        .quotee {
          font-family: SourceSansPro-Regular;
          font-size: 16px;
          line-height: 1.38;
          color: $nano-lightgrey;
        }
        .info-text {
          text-align: left;
          font-family: SourceSansPro-Regular;
          font-size: 16px;
          line-height: 1.38;
          color: $nano-darkgrey;
          &.side-by-side {
            display: flex;
            .side-by-side-even {
              margin-left: 20px;
            }
          }
          ul {
            li {
              margin-top: 14px;
              .fa {
                font-size: 16px;
                line-height: 1.38;
                color: $nano-mediumlightblue;
              }
            }
          }
        }
        &.side-by-side {
          display: flex;
          margin: auto;
          
          align-items: stretch;
          flex-wrap: nowrap;
          @media (max-width: $screen-md) {
            flex-wrap: wrap;
          }
          padding-top: 21px;
          padding-bottom: 21px;
          .side-by-side-even {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 100%;
            font-family: SourceSerifPro-Regular;
            font-size: 16px;
            color: $nano-darkgrey;
            .max-color {
              font-family: SourceSerifPro-Bold;
              font-size: 20px;
              color: $nano-darkblue;
            }
            .note-text {
              font-family: SourceSerifPro-Italic;
              font-size: 12px;
              color: $nano-mediumgrey;
              margin-top: 15px;
              margin-bottom: 15px;
            }
          }
          .side-by-side-left {
            flex: 0 0 114px;
            
          }
          .side-by-side-right {
            flex: 1 1 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 20px;
            line-height: 1.3;
            color: $nano-mediumgrey;
            .max-color {
              font-family: SourceSerifPro-Bold;
              font-size: 40px;
              color: $nano-darkblue;
            }
            div {
              flex: 1 1 100%;
            }
          }
        }
        h6 {
          font-family: SourceSansPro-Bold;
          font-size: 14px;
          color: $nano-mediumgrey;
          text-transform: uppercase;
        }
        .nano-card-icon {
          flex: 0 0 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 200px;
          margin-bottom: 28px;
          &.badge-large {
            height: 147px;
            img {
              width: 130px;
              height: 147px;
            }
          }
        }
        .highcharts-wrapper {
          flex: 0 0 100%;
          .chart-container {
            width: 100%;
          }
        }
        .chart-summary, .icon-summary {
          flex: 0 0 100%;
          text-align: center;
          font-size: 20px;
          line-height: 1.3;
          color: $nano-darkgrey;
          .max-color {
            color: $nano-mediumgreen;
          }
        }
        .icon-summary {
          color: $nano-mediumgrey;
          .max-color {
            font-size: 30px;
            color: $nano-darkblue;
          }
        }
      }
    }
    @media (min-width: $screen-sm) {
      &.g2-sub1 {
        flex: 1 1 50%;
        border: solid 0px #dfe4e6;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        .nano-subcard-face {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      &.g2-sub2 {
        flex: 1 1 50%;
        border: solid 0px #dfe4e6;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        .nano-subcard-face {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
    @media (min-width: $screen-lg) {
      &.g3-sub1 {
        flex: 1 1 33%;
        border: solid 0px #dfe4e6;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        .nano-subcard-face {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      &.g3-sub2 {
        flex: 2 2 67%;
        border: solid 0px #dfe4e6;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        .nano-subcard-face {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
  &.flippable {
    perspective: 1000px;
    border-radius: 6px;
    border: 0;
    box-shadow: none;
    .nano-subcard {
      min-height: 380px;
      box-shadow: none;
      border: 0px;
      transform-style:preserve-3d;
      -webkit-transition: transform 0.6s;
      transition: transform 0.6s;
      &.flipped {
        -ms-transform: rotateY(-180deg); /* IE 9 */
        -webkit-transform: rotateY(-180deg); /* Safari */
        transform: rotateY(-180deg);
      }
      .nano-subcard-face {
        box-shadow: 0 0 14px 2px rgba(47, 48, 97, 0.12);
        border-radius: 6px;
        border: solid 1px #dfe4e6;
        position: absolute;
        height:100%;
        width:100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.face-front {
        }
        &.face-back{
          -ms-transform: rotateY(-180deg); /* IE 9 */
          -webkit-transform: rotateY(-180deg); /* Safari */
          transform: rotateY(-180deg);
        }
      }
    }
  }
  &.prompt-card {
    box-shadow: none;
    border: 0px;
    .nano-subcard {
      .nano-subcard-face {
        border-style: dashed;
        border: dashed 2px #dfe4e6;
        .nano-subcard-content {
          color: $nano-lightgrey;
          align-items: center;
          a {
            font-family: SourceSerifPro-Regular;
            font-size: 26px;
            text-align: center;
            color: $nano-mediumgrey;
            text-decoration: underline;
          }
          .prompt-image {
            margin-bottom: -21px;
          }
        }
      }
    }
  }
  .card-title {
    font-family: SourceSerifPro;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $nano-darkgrey;
    margin-top: 20px;
  }
  .nano-user-bio {
    /* line-height is currently 24px */
    overflow: hidden;
    max-height: 144px; /* line-height (24px) * number of lines (6) */
  }
  .nano-user-bio.expanded {
    max-height: none;
  }
  
}
.nano-card {
  &.nano-card-clear {
    box-shadow: 0 0 14px 2px rgba(47, 48, 97, 0);
    border: solid 0px #dfe4e6;
    .nano-subcard {
    }
  }
}
        

.quote-text {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b8;
}
.ember-google-map {
  width: 100%;
  height: 100%;
}
