.is-invalid .ember-power-select-trigger {
  border-color: $form-feedback-invalid-color;

  &--active {
    box-shadow: 0 0 0 0.2rem rgba($form-feedback-invalid-color, 0.25);
  }
}

.is-invalid ~ .invalid-feedback {
  display: block;
}
