form {
  width: 100%;
}
.form-group {
  margin-bottom: 10px;
  .radio-group-title {
    font-weight: bold;
    color: $nw-mediumdarkgrey;
  }
  label {
    text-align: left;
    color: $nw-mediumdarkgrey;
    margin-bottom: 3px;
  }
  &.side-by-side {
    justify-content: space-between;
    > div {
      flex: 0 0 48%;
    }
  }
  &.inline-checkbox {
    width: 100%;
    label {
      &.checkbox-label {
        font-size: 16px;
        color: $nw-darkgrey;
      }
    }
  }
  &.radio-group {
    .nw-radio-item {
      width: 100%;
      display: inline-flex;
      align-items: center;
    }
    label {
      color: $nw-darkgrey;
      max-width: 90%;
      margin-left: 10px;
      line-height: 18px;
      &.disabled {
        color: $nw-mediumgrey;
      }
    }
  }
  &.invalid{
    .invalid-feedback {
      display: block;
      text-align: right;
      font-family: 'SansItalic', sans-serif;
      line-height: 1.43;
      color: $nw-darkred; 
    }
    input {
      border-color: $nw-darkred;
      background-color: $nw-pink30;
    }
  }
  .ember-checkbox {
    width: 20px;
    display: inline;
    vertical-align: text-top;
    margin-top: 3px;
  }
  .checkbox-label {
    width: 90%;
    vertical-align: text-top;
  }
  .ember-text-field {
    border-radius: 3px;
    box-shadow: inset 0 1px 4px 0 $nw-grey50;
    background-color: $nw-white-1;
    border: solid 1px #699c8d;
    &:focus {
      border: solid 2px #305555;
    }
    font-size: 20px;
    line-height: 22px;
    color: $nw-darkgrey;
    text-align: left;
    &.is-invalid {
      border-color: $nw-darkred;
      background-color: $nw-pink30;
    }
  }
  .ember-text-area {
    border-radius: 3px;
    box-shadow: inset 0 1px 4px 0 $nw-grey50;
    background-color: $nw-white-1;
    border: solid 1px #699c8d;
    font-size: 16px;
    line-height: 22px;
    color: $nw-darkgrey;
    text-align: left;
    &.is-invalid {
      border-color: $nw-darkred;
      background-color: $nw-pink30;
    }
  }
  .ember-text-field::placeholder, .ember-text-field:-ms-input-placeholder, .ember-text-field::-ms-input-placeholder {
    font-family: 'SansItalic', sans-serif;
    font-size: 14px;
    line-height: 1.57;
    color: $nw-mediumgrey;
  }
  .is-invalid .ember-power-select-trigger {
    border-color: $nw-darkred;
    background-color: $nw-pink30;
    &--active {
      box-shadow: 0 0 0 0.2rem rgba($form-feedback-invalid-color, 0.25);
    }
  }

  .is-invalid ~ .invalid-feedback, .ext-invalid-feedback {
    display: block;
    text-align: right;
    font-family: 'SansItalic', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: $nw-darkred;
  }
}
.form-group-ux {
  .fa-container {
    align-self: flex-end;
    flex: 0 0 46px;
    text-align: right;
    padding-right: 10px;
    .fa {
      color: #dddddd;
    }
  }
  .input-ux {
    align-self: flex-end;
    flex: 1 1 100%;
  }
}
.form-group-ux:focus-within {
  .fa {
    color: #73ab9b;
  }
}
select {
  border-radius: 0px;
}
.select-container {
  overflow: hidden; 
  height: 40px;    
  width: 100%;
  position: relative;
  display: block;
  &:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color: $nw-black;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box; 
  }  
}
select.form-control {
  font-family: 'SansRegular';
  font-size: 20px;
  line-height: 1.1;
  background-color: transparent;
  width: 100%;
  padding: 4px;
  padding-left: 0px;
  font-size: 16px;
  color: $nw-darkgrey;
  border: none;
  border-bottom: 2px solid $nw-mediumgrey;
  border-radius: 0;
  -webkit-appearance: none;
}
select.form-control:focus {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid $nw-mediumgrey;
}
.ember-checkbox {
  &.form-control {
    height: 20px;
  }
}
.alert-danger {
  line-height: 1.43;
  color: $nw-darkred;
  border: 0;
  padding: 0;
}
.modal-content {
  .modal-body {
    .tab-content {
      .form-group {
        input.ember-power-select-trigger-multiple-input {
          background-color: transparent;
          border: 0px;
          box-shadow: none;
        }
        li.ember-power-select-multiple-option {
          margin-top: 5px;
        }
      }
    }
  }
}
input:disabled, select:disabled, button:disabled {
  opacity: 0.3 !important;
}
.form-instruction {
  color: $nw-mediumgrey;
  margin-bottom: 14px;
}
.save-cancel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  a {
    font-size: 16px;
    text-align: right;
    color: $nw-mediumgrey;
  }
  
}

.form-group {
  input[type=date] {
    background-image: url('/images/global/calendar.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 92% center;
  }
  
  input[type=date], input[type=time] {
    max-width: 210px;
    font-size: 16px;
  }
}

.new-goal-form {
  .form-group {
    input[type=date] {
      background-position: 150px center;
    }
    #start-date {
      background-position: 130px center;
    }
  }
}

.nw-form-section {
  display: flex;
  margin-bottom: 10px;
  .nw-form-section-icon {
    flex: 0 0 33px;
    text-align: center;
    margin-right: 10px;
    .fa {
      font-size: 30px;
      color: $nw-lightgreen;
    }
  }
  .nw-form-section-content {
    flex: 1 1 100%;
  }
}
.nw-label-flex {
  display: flex;
  .nw-left-label {
    flex: 0 0 70px;
    text-align: right;
    height: 36px;
    line-height: 36px;
    color: $nw-mediumdarkgrey;
  }
  .select-container {
    margin-left: 10px;
  }
}


/* Customize the label (the container) */
.nw-checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 4px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    border-radius: 3px;
    border: solid 1px #b8b8b8;
    background-color: #FFF;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* On mouse-over, add a grey background color */
.nw-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Show the checkmark when checked */
.nw-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
label.checkbox-label {
  font-size: 16px;
  line-height: 1.31;
  color: $nw-darkgrey;
}

/* one off for the project session modal 'date' */
#project-session-modal-date {
  background-position: 170px;
}

/* feelings radios */
.project-emoji-list {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  label {
    padding-top: 0px;
  }
  .project-emoji {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center;
    &.emoji-1 {
      background-image: url('/images/projects/emoji/unselected/1.svg');
      &:hover {
        background-image: url('/images/projects/emoji/selected/1.svg');
      }
    }
    &.emoji-2 {
      background-image: url('/images/projects/emoji/unselected/2.svg');
      &:hover {
        background-image: url('/images/projects/emoji/selected/2.svg');
      }
    }
    &.emoji-3 {
      background-image: url('/images/projects/emoji/unselected/3.svg');
      &:hover {
        background-image: url('/images/projects/emoji/selected/3.svg');
      }
    }
    &.emoji-4 {
      background-image: url('/images/projects/emoji/unselected/4.svg');
      &:hover {
        background-image: url('/images/projects/emoji/selected/4.svg');
      }
    }
    &.emoji-5 {
      background-image: url('/images/projects/emoji/unselected/5.svg');
      &:hover {
        background-image: url('/images/projects/emoji/selected/5.svg');
      }
    }
  }  
  input:focus + label {     
    background-color: $nw-mediumblue;    
    border-radius: 25px;  
  }
  input:checked + label {     
    background-color: $nw-mediumblue;    
    border-radius: 25px;  
  }
  #feeling5:checked + label{
    background-image: url('/images/projects/emoji/selected/5.svg');
  }
  #feeling4:checked + label{
    background-image: url('/images/projects/emoji/selected/4.svg');
  }
  #feeling3:checked + label{
    background-image: url('/images/projects/emoji/selected/3.svg');
  }
  #feeling2:checked + label{
    background-image: url('/images/projects/emoji/selected/2.svg');
  }
  #feeling1:checked + label {
    background-image: url('/images/projects/emoji/selected/1.svg');
  }
}

.feelings-radios {
  legend {
    font-size: 18px;
    text-align: center;
  }
}

/* medium editor in the events modal */ 
#event-description-group {
  .medium-editor-element {
    min-height: 10rem;
  }
}

input[type="checkbox"]:focus {
    outline: 1px solid black;
}
