.fundometer {
  display: flex;
  align-items: stretch;
  .fundometer-image {
    position: relative;
    width: 130px;
    height: 139px;
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .fundometer-label {
      position: absolute;
      top: 0;
      width: 100%;
      font-family: SourceSansPro-Bold;
      font-size: 10px;
      letter-spacing: 0.2px;
      color: $nano-darkblue;
      text-transform: uppercase;
      text-align: center;
      margin-top: 5px;
      padding-right: 16px;
    }
  }
  .fundometer-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: $nano-darkgrey;
    div {
      flex: 0 0 auto;
      &.fundometer-raised {
        font-family: SourceSerifPro-Bold;
        font-size: 20px;
        line-height: 1.25;
        color: $nano-darkblue;
        margin-bottom: 10px;
      }
      a {
        color: $nano-darkgrey;
        text-decoration: underline;
      }
    }
  }
}