// ----------------------------------
// Body and container styles
// ----------------------------------

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: $nw-lightblue;
  font-family: 'SansRegular', sans-serif;
  font-size: 14px;
  color: $nw-darkgrey;
  line-height: 1.4;
  .page-background {
    width: 100%;
    height: 100%;
  }
}
body.full-screen > .ember-view {
  height: 100%;
}
main {
  margin-top: 90px;
  &.unverified {
    margin-top: 160px;
  }
  @media (max-width: $screen-lg) {
    margin-top: 42px;
  }
  @media (min-width: $screen-sm) {
    background-color: $nw-lightblue;
    background-image: url("/images/backgrounds/camp_back.png");
    background-repeat: repeat-x; 
    background-position: bottom;
    padding-bottom: 336px;
  }
  
}
.flex-row {
  display: flex;
}
.clickable {
  cursor: pointer;
}
.container-fluid {
  &.align-top {
    display: flex;
    align-items: flex-start;
    &.with-wrap {
      flex-wrap: wrap;
    }
    @media (max-width: $screen-xs-max) {
      flex-wrap: wrap;
    }
  }
}

body.full-screen {
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  .page-background {
    padding-bottom: 0px;
    main {
      height: 100%;
      padding-bottom: 20px;
      .content-gutters {
        height: 100%;
        .container-fluid {
          height: 100%;
          .nano-panel {
            height: 100%;
            margin-bottom: 0px;
            .nano-card {
              height: 100%;
              margin-bottom: 0px;
              margin-left: 0px;
              margin-right: 0px;
              
              &.one-third {
                flex: 1 2 100%;
                margin-right: 15px;
              }
              &.two-thirds {
                flex: 2 1 100%;
              }
              
              .nano-subcard {
                height: 100%;
                .nano-subcard-face {
                  height: 100%;
                  .nano-subcard-body {
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.content-gutters {
  padding-left: 1rem;
  padding-right: 1rem;
  &.nw-pad-top {
    padding-top: 35px;
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.container-fluid {
  max-width: 1280px;
  padding-right: 0px;
  padding-left: 0px;
  &.narrow {
    max-width: 626px;
  }
}
.nano-centered {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nano-full-width {
  width: 100%;
}
.padding-14px {
  padding: 14px;
}
.nano-hide, .info-hidden {
  display: none;
}

.left-right-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  a, div {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: left;
    color: $nw-mediumgrey;
  }
}
.full-width {
  width: 100%;
  flex: 1 1 100%;
}

div {
  &.remove-element {
    cursor: pointer;
    color: $nw-lightred;
    &:hover {
      color: $nw-darkred;
    }
  }
}
// ----------------------------------
// Button styling, for inside forms
// or stand-alone
// ----------------------------------

button.btn {
  font-family: 'SansBold', sans-serif;
  cursor: pointer;
  width: 100%;
  max-width: 394px;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, $nw-darkgreen, $nw-mediumgreen);
  border: solid 1px $nw-darkgreen;
  color: $nw-lightblue;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  &.nano-blue {
    background-image: linear-gradient(to bottom, #3d5a96, #27437d);
    border: solid 1px #27437d;
    font-size: 14px;
  }
  &.nano-red {
    background-image: linear-gradient(to bottom, #d5412c, #bd2815);
    border: solid 1px #bd2815;
    font-size: 14px;
  }
}
.password-reveal-container {
  position: relative;
  .password-reveal {
    display: flex;
    cursor: pointer;
    background-image: none;
    border: 0;
    background-color: transparent;
    width: 40px;
    height: 36px;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1.1;
    color: $nw-mediumblue;
    position: absolute;
    bottom: 0;
    right: 0;
    align-content: center;
    &:hover {
      color: $nw-mediumblue;
    }
    &:focus {
      border: 3px solid $nw-mediumblue;
      color: black;
    }
    &.is-invalid {
      bottom: 24px;
    }
    i {
      align-self: center;
    }
  }
}

// ----------------------------------
// nano-hr styles the horizontal line
// with a word ('OR') at the center
// ----------------------------------

.nano-hr {
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: $nw-lightgrey;
  font-family: 'SansBold', sans-serif;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.nano-hr:before, .nano-hr:after {
  background-color: $nw-lightgreyblue;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.nano-hr:before {
  right: 0.5em;
  margin-left: -50%;
}
.nano-hr:after {
  left: 0.5em;
  margin-right: -50%;
}

// ----------------------------------
// Resetting list styles
// ----------------------------------

ul {
  list-style-type: disc;
  // margin: 0;
  // padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

// ----------------------------------
// Truncation  and font styles
// ----------------------------------
.truncate-multiline--last-line {
  display: none;
}
.truncate-multiline--last-line-wrapper {
  &::before {
    content: "";
    display: block;
  }
}
.truncate-multiline--button {
  text-transform: capitalize;
  padding-left: 0px;
}
// ----------------------------------
// Side by side content
// ----------------------------------

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  @media (max-width: $screen-md) {
    flex-wrap: wrap;
  }
  .side-by-side-even {
    width: 100%;
    @media (max-width: $screen-sm) {
      width: 106%;
      margin-left: -10px;
      margin-right: -10px;
    }
    
  }
}
// --------------
// Mapping
// --------------

.g-map{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.nw-title {
  font-family: 'SerifRegular', serif ;
  font-size: 24px;
  line-height: 24px;
  margin-top: 25px;
  overflow-wrap: break-word;
  a {
    color: $nw-link-color;
  }
  /*color: $nw-darkgrey;*/
  margin-bottom: 7px;
}
a {
  color: #0366d6;
  .nw-title {
    color: $nw-link-color;
  }
}
a.nw-grey-link {
  line-height: 30px;
  color: $nw-mediumgrey;
}

.nw-list-loading {
  padding: 30px;
  font-size: 24px;
  color: $nw-lightgrey;
}
.fa-trash {
  cursor: pointer;
}
.fa-bullhorn {
  font-size: 60px;
}

#application-loading-indicator {
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
}
