// ----------------------------------
// Fonts
// ----------------------------------

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro-Regular';
  src: url('/fonts/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro-Bold';
  src: url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro-SemiBold';
  src: url('../fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// ----------------------------------
// Body and container styles
// ----------------------------------

body {
  @media (min-width: $screen-sm) {
    background-color: $nano-lightblue;
    background-image: url("/images/backgrounds/camp_back.png");
    background-repeat: repeat-x; 
    background-position: bottom;
    padding-bottom: 336px;
  }
}
main.logged-in {
  margin-top: 120px;
}
.content-gutters {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (max-width: $screen-xs-max) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.container-fluid {
  max-width: 1280px;
  padding-right: 0px;
  padding-left: 0px;
  &.narrow {
    max-width: 626px;
  }
}
.nano-centered {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nano-full-width {
  width: 100%;
}
.padding-14px {
  padding: 14px;
}
.nano-hide, .info-hidden {
  display: none;
}

.left-right-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  a, div {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: left;
    color: $nano-mediumgrey;
  }
}
.full-width {
  width: 100%;
  flex: 1 1 100%;
}

div {
  &.remove-element {
    cursor: pointer;
    color: $nano-lightred;
    font-family: 'SourceSansPro-Regular';
    &:hover {
      color: $nano-darkred;
    }
  }
}
// ----------------------------------
// Button styling, for inside forms
// or stand-alone
// ----------------------------------

button.btn {
  font-family: 'SourceSansPro-Bold', sans-serif;
  cursor: pointer;
  width: 100%;
  max-width: 394px;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, $nano-mediumgreen, $nano-darkgreen);
  border: solid 1px $nano-darkgreen;
  color: $nano-lightblue;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  &.nano-blue {
    background-image: linear-gradient(to bottom, #3d5a96, #27437d);
    border: solid 1px #27437d;
    font-size: 14px;
  }
  &.nano-red {
    background-image: linear-gradient(to bottom, #d5412c, #bd2815);
    border: solid 1px #bd2815;
    font-size: 14px;
  }
}
.password-reveal-container {
  position: relative;
  a.password-reveal {
    display: flex;
    cursor: pointer;
    background-image: none;
    border: 0;
    background-color: transparent;
    width: 40px;
    height: 36px;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1.1;
    color: $nano-mediumblue;
    position: absolute;
    bottom: 0;
    right: 0;
    align-content: center;
    &:hover {
      color: $nano-mediumblue;
    }
    &.is-invalid {
      bottom: 24px;
    }
    i {
      align-self: center;
    }
  }
}

// ----------------------------------
// nano-hr styles the horizontal line
// with a word ('OR') at the center
// ----------------------------------

.nano-hr {
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: $nano-lightgrey;
  font-family: 'SourceSansPro-Bold', sans-serif;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.nano-hr:before, .nano-hr:after {
  background-color: #dfe4e6;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.nano-hr:before {
  right: 0.5em;
  margin-left: -50%;
}
.nano-hr:after {
  left: 0.5em;
  margin-right: -50%;
}

// ----------------------------------
// Styling for the red notifications
// circle
// ----------------------------------

.unread-circle {
  width: 17px;
  height: 17px;
  background-color: #FF6B6B;
  border-radius: 8.5px;
  font-size: 9px;
  color: $white;
  line-height: 17px;
  position: absolute;
  right: 0;
  bottom: 1px;
}

// ----------------------------------
// Resetting list styles
// ----------------------------------

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

// ----------------------------------
// Truncation  and font styles
// ----------------------------------
.truncate-multiline--last-line {
  display: none;
}
.truncate-multiline--last-line-wrapper {
  &::before {
    content: "";
    display: block;
  }
}
.truncate-multiline--button {
  text-transform: capitalize;
  padding-left: 0px;
}
// ----------------------------------
// Side by side content
// ----------------------------------

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  @media (max-width: $screen-md) {
    flex-wrap: wrap;
  }
  .side-by-side-even {
    width: 47%;
  }
}
