body {
  @media (min-width: $screen-sm) {
    background: url("/camp_back.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.content-gutters {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (max-width: $screen-xs-max) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
}
.container-fluid {
  max-width: 1044px;
}
.nano-centered {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

// ----------------------------------
// Shorthand styles for mobile and
// non-mobile breakpoints
// ----------------------------------

.non-mobile {
  @media (max-width: $screen-md-max) {
    display: none;
  }
}
.mobile {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

// ----------------------------------
// Button styling, for inside forms
// or stand-alone
// ----------------------------------

button.btn {
  font-family: SourceSansPro-Bold;
  cursor: pointer;
  width: 394px;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, #73ab9b, #5f8c7f);
  border: solid 1px #5f8c7f;
  color: #E2EFF3;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  &.nano-blue {
    background-image: linear-gradient(to bottom, #3d5a96, #27437d);
    border: solid 1px #27437d;
    font-size: 14px;
  }
  &.nano-red {
    background-image: linear-gradient(to bottom, #d5412c, #bd2815);
    border: solid 1px #bd2815;
    font-size: 14px;
  }
}
nav button {
  font-size: 10px;
  line-height: 23px;
  @media (max-width: $screen-lg) {
    width: 49px;
  }
  &.button-clear {
    width: 32px;
    border: 0;
    background-image: none;
    background-color: transparent;
    color: #5F8C7F;
    font-size: 16px;
    position: relative;
    .fa-bell-o {
      font-size: 18px;
      color: #343434;
    }
    .fa-bars {
      font-size: 28px;
    }
  }
  &.button-hamburger {
    margin-left: 10px;
  }
}

// ----------------------------------
// nano-hr styles the horizontal line
// with a word ('OR') at the center
// ----------------------------------

.nano-hr {
  overflow: hidden;
  text-align: center;
  color: #b8b8b8;
  font-family: SourceSansPro-Bold;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.nano-hr:before, .nano-hr:after {
  background-color: #dfe4e6;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.nano-hr:before {
  right: 0.5em;
  margin-left: -50%;
}
.nano-hr:after {
  left: 0.5em;
  margin-right: -50%;
}

// ----------------------------------
// Styling for the red notifications
// circle
// ----------------------------------

.unread-circle {
  width: 17px;
  height: 17px;
  background-color: #FF6B6B;
  border-radius: 8.5px;
  font-size: 9px;
  color: $white;
  line-height: 17px;
  position: absolute;
  right: 0;
  bottom: 1px;
}