#goals-tab {

  margin: 28px;
  
  .panel-actions{
    position: relative;
    
    .right-actions {
      position: absolute;
      right: 0px;
      top: 0px;
      
       select {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 0px;
        border-bottom: 1px solid black;
        padding-right: 25px;
      }
      &:after {
        content:"\f0d7";
        font-family: FontAwesome;
        color: $nw-black;
        position: absolute; right: 0; bottom: -7px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;      
        pointer-events: none;
        box-sizing: border-box; 
      }
      
    }
  }
}
.project-challenge-listing-card {
  height: 100px;
  .nw-card-content {
    height: 80px;
  }
  .project-challenge-progress {
    min-width: 300px;
    .challenge-progress {
      width: 100%;
      .goal-text {
       
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.5px;
        font-size: 16px;
        .winner-route {
          text-align: right;
          margin-left: 1em;
        }
        
      }
    }
    .nano-progress-bar{
      width: 100%;
    }
    .challenge-info {
      position: relative;
      
      .progress-text {
        margin-top: 7.5px;
        height: 18px;
        font-family: 'SansBold', sans-serif;
        .count{
          color: $nw-darkaqua;
        }
        .count.goal-met {
          color: $nw-purple;
        }
      }
      .challenge-start {
        margin-top: 7.5px;
        float: right;
        .started {
          color: $nw-lightgrey;
        }
      }
    }
  }
  .filler-image {
    flex: 0 0 135px;
    height: 77px;
    width: 15%;
    text-align: center;
    img {
      position: relative;
      bottom: -20px;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    
  }
}

.project-challenge-new-form {
  margin: 18px 24px 18px 24px;
}
