#logger-and-timer {
  position: relative;
  
  .nano-menu-tab {
    position: absolute;
    top: -8px;
    right: 12px;
  }
  .logger-timer-modal {
    all: initial;
    z-index: 1000;
    position:absolute;
    box-shadow: 0 0 14px 3px rgba(47,48,97,0.12);
    top: 60px;
    
    .modal-content {
      border: solid 1px #dfe4e6;
    }
    
    .primary-project-display {
      margin-top: 14px;
      height: 90px;
      position: relative;
      
      .project-cover {
        width: 300px;
        float: left;
        .project-cover-clip {
          position: absolute;
          bottom: 0px;
          width: 67px;
          height: 94px;
          left: 10px;
          clip-path: inset(0px 0px 0px -50px);
          img {
            transform: rotate(-15deg);
            transform-origin: bottom right;
            width: 67px;
            height: 94px;
            border-radius: 3px;
          }
        }
      }
      .project-title {
        position: absolute;
        top: 0px;
        left: 80px;
      }
    }  
  }

  #main-nav-timer-form-display {
    right: 0px;
  }
  
  #session-logger-display{ 
    right: 32px;

    #menu-progress-update-project-display {
      

      #progress-update-form {
        .more-info-toggle {
          font-size: 14px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 10px;
          cursor: pointer;
          &.info-hidden {
            display: block;
            .fa-chevron-up {
              display: none;
            }
          }
          &.info-visible {
            .fa-chevron-down {
              display: none;
            }
          }
        }
        .project-additional-info {
          padding: 15px;
          padding-top: 0px;
          .project-emoji-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .project-emoji {
              width: 40px;
              height: 40px;
              cursor: pointer;
              &.emoji-1 {
                background-image: url('/images/projects/emoji/unselected/1.svg');
                &:hover, &.selected {
                  background-image: url('/images/projects/emoji/selected/1.svg');
                }
              }
              &.emoji-2 {
                background-image: url('/images/projects/emoji/unselected/2.svg');
                &:hover, &.selected {
                  background-image: url('/images/projects/emoji/selected/2.svg');
                }
              }
              &.emoji-3 {
                background-image: url('/images/projects/emoji/unselected/3.svg');
                &:hover, &.selected {
                  background-image: url('/images/projects/emoji/selected/3.svg');
                }
              }
              &.emoji-4 {
                background-image: url('/images/projects/emoji/unselected/4.svg');
                &:hover, &.selected {
                  background-image: url('/images/projects/emoji/selected/4.svg');
                }
              }
              &.emoji-5 {
                background-image: url('/images/projects/emoji/unselected/5.svg');
                &:hover, &.selected {
                  background-image: url('/images/projects/emoji/selected/5.svg');
                }
              }
            }
            input {
              display: none;
            }
          }
        }
      }
      #progress-update-form-inputs {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
        padding: 14px;
        background-color: #dfe4e6;
        .progress-update-input::-webkit-inner-spin-button,
        .progress-update-input::-webkit-outer-spin-button {
           -webkit-appearance: textfield;
        }
        select {
          flex: 0 0 47%;
          font-size: 16px;
          font-family: 'SourceSansPro-Regular', sans-serif;
        }
        .progress-update-input {
          flex: 0 0 47%;
          -moz-appearance: textfield;
        }
      }
      #progress-update-form-buttons {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 10px;
        border-top: 1px $nano-lightgrey solid;
        
        a {
          font-size: 16px;
          font-family: 'SourceSansPro-Regular', sans-serif;
          text-align: right;
          color: #979797;
          vertical-align: text-bottom;
        }
      }
      
    }
  }

  #logger-and-timer-overlay {
    z-index: 500;
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
  }

}
