.dropdown {
  ul {
    li {
      height: 37px;
      border-bottom: 2px solid $nw-lightblue;
    }
    li:last-child {
      border-bottom: 0px;
      height: 35px;
    }
  }
  .dropdown-menu {
    box-shadow: 0 0 14px 3px $nw-darkblue10;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    width: 218px;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    display: none;
    overflow: visible;
    opacity: 0;

    &.show {
      opacity: 1;
      display:block;
    }
    
    .dropdown-item {
      display: flex;
      overflow: hidden;
      padding: 0;
      height: 35px;
      color: $nw-darkgreyblue;
      .dropdown-icon {
        flex: 0 0 44px;
        display: flex;
        color: $nw-lightgrey;
        line-height: 35px;
        align-items: center;
        justify-content: center;
      }
      .dropdown-headline {
        flex: 0 0 174px;
        font-family: 'SansSemiBold', sans-serif;
        color: $nw-darkgrey;
        font-size: 14px;
        line-height: 35px;
      }
    }
    .dropdown-item:hover, .dropdown-item.active {
      background-color: $nw-darkblue;
      .dropdown-icon {
        color: $nw-white;
      }
      .dropdown-headline {
        color: $nw-white;
      }
      .dropdown-teaser {
        color: $nw-white;
      }
    }
    li:last-child {
      .dropdown-item {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    li:first-child {
      .dropdown-item {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }
  }
}
.navbar {
  .navbar-brand:hover, .shield-logo:hover {
    -webkit-filter: drop-shadow( 0px 0px 5px $nw-black10 ); 
    filter: drop-shadow( 0px 0px 5px $nw-black10 );
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  &.micronav {
    @media (max-width: $screen-md-max) {
      display: none;
    }
    height: 42px;
    line-height: 42px;
    letter-spacing: 0.25px;
    background: linear-gradient(to right, $nw-mediumgreen 0%,$nw-mediumgreen 50%,$nw-darkblue 50%,$nw-darkblue 100%);
    .container-fluid {
      background: $nw-mediumgreen;
      ul {
        height: 42px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        li {
          height: 42px;
          a.nav-link, button {
            padding: 0;
            padding-right: 1rem;
            padding-left: 1rem;
          }
          a.nav-link:hover {
            text-decoration: underline;
          }
        }
      }
      .shield-logo-container {
        flex: 0 0 86px;
        height: 42px;
        position: relative;
        .shield-logo {
          position: absolute;
          top: 8px;
          left: 0px;
          z-index: 1000;
        }
      }
      .nav-store {
        display: flex;
        margin-right: -1rem;
        .store-blue {
          padding-left: 10px;
          background: $nw-darkblue;
          -webkit-border-radius: 21px 0px 0px 21px;
          -moz-border-radius: 21px 0px 0px 21px;
          border-radius: 21px 0px 0px 21px;
          text-transform: uppercase;
        }
        a.nav-link {
          color: $nw-white-1;
        }
      }
    }  
  }
  &.mainnav {
    height: 48px;
    background-color: $nw-lightblue;
    box-shadow: 0 0.1875rem 0.875rem $nw-darkblue10;
    div.dropdown {
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
    .container-fluid {
      
      .navbar-brand.text-logo {
        flex: 0 0 220px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: 0px;
        margin-left: 76px;
        @media (max-width: $screen-md-max) {
          flex: 0 0 144px;
          margin-left: -10px;
          img {
            width: 144px;
            height: 36px;
          }
        }
      }
      .dropdown-toggle {
        font-family: 'SansBold', sans-serif;
        font-size: 14px;
        color: $nw-darkbrown;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        text-transform: uppercase;
        &.user-menu {
          font-family: 'SansRegular', sans-serif;
          text-transform: none;
        }
      }
      .nav {
        li.nav-item {
          margin-left: 1rem;
          margin-right: 1rem;
        }
        .dropdown {
          @media (max-width: $screen-md-max) {
            display: none;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            li {
              height: 51px;
              border-bottom: 1px solid #d9d9d9;
          
            }
            li:last-child {
              border-bottom: 0px solid #d9d9d9;
              height: 50px;
            }
            li:first-child {
              .dropdown-item {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
              }
            }
          }
          &.show {
            .dropdown-toggle {
              color: $nw-mediumgreen;
              background-color: transparent;
            }
          }
          .dropdown-menu {
            box-shadow: 0 0 14px 3px $nw-darkblue10;
            background: linear-gradient(to bottom, $nw-mediumgreen 0px,$nw-darkgreen 3px,$nw-white 3px,$nw-white 500px);
            border: 1px solid #d9d9d9;
            padding-top: 3px;
            padding-bottom: 0px;
            margin-top: 0px;
            width: 350px;
            ul {
              display: none;
            }
            &.show {
              ul {
                display: block;
              }
            }
            .nano-menu-tab {
              position: absolute;
              top: -5px;
              left: 14px;
            }
            &.dropdown-menu-right {
              
              border: 0px;
              padding-top: 0px;
              background: transparent;
              .nano-menu-tab {
                left: auto;
                right: 14px;
              }
              .modal-content {
                border: 0px;
              }
            }
            
            .dropdown-item {
              overflow: hidden;
              padding: 0;
              height: 50px;
              color: $nw-darkgreyblue;
              .dropdown-image {
                flex: 0 0 62px;
                border-radius: 6px;
                .icon-circle {
                  position:relative;
                  width: 62px;
                  height: 62px;
                  top: 6px;
                  left: -14px;
                  border-radius: 31px;
                  background-color: $nw-lightblue;
                }
              }
              .dropdown-headline {
                flex: 0 0 90px;
                font-family: 'SansSemiBold', sans-serif;
                font-size: 14px;
                line-height: 49px;
              }
              .dropdown-teaser {
                flex: 0 0 200px;
                font-size: 12px;
                line-height: 49px;
              }
            }
            .dropdown-item:hover {
              color: $nw-white;
              background-color: $nw-darkblue;
            }
          }
        }
      }
      button {
        font-size: 10px;
        line-height: 23px;
        &.button-clear {
          width: 32px;
          height: 38px;
          border: 0;
          background-image: none;
          background-color: transparent;
          color: $nw-darkgreen;
          font-size: 20px;
          line-height: 38px;
          position: relative;
          .fa-bell-o {
            font-size: 18px;
            color: $nw-darkgrey;
          }
          .fa-bars {
            font-size: 28px;
          }
        }
        &.button-hamburger {
          margin-left: 10px;
        }
      }
      .nav-logging-buttons {
        li.nav-item {
          margin-left: 0rem;
          margin-right: 0rem;
        }
        
        .dropdown-toggle:after {
          content: none;
        }
        .dropdown-toggle {
          padding: 0px;
        }
        button {
          display: flex;
          @media (min-width: $screen-lg) {
            padding: 0;
          }
          @media (max-width: $screen-md-max) {
            font-size: 12px;
          }
          align-content: center;
          span {
            align-self: center;
            i {
              width: 28px;
              height:28px;
            }
          }
          &.button-log {
            @media (max-width: $screen-md-max) {
              width: 50px;
            }
            @media (min-width: $screen-lg) {
              width: 28px;
              height:28px;
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
            }
          }
          &.button-timer {
            @media (max-width: $screen-md-max) {
              margin-left: 7px;
              width: 60px;
            }
            @media (min-width: $screen-lg) {
              width: 27px;
              height: 28px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              .non-mobile {
                margin-left: -2px;
              }
            }
          }
          .non-mobile {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
  }
}
