.nw-avatar-medium {
  width: 62px;
  text-align: center;
  height: 62px;
  img {
    width: 62px;
    height: 62px;
    border-radius: 31px;
  }
}
.nw-avatar-small {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}
.nw-avatar-large {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -70px;
  height: 140px;
  img, .avatar-editable-overlay{
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
  .avatar-editable-overlay {
    display:none;
  }
  &.user-editable:hover{
    .avatar-editable-overlay {
      display:flex;
      position: relative;
      margin: auto;
      margin-top: -140px;
      left: auto;
    }
  }
}
