.nw-alert {
  width: 100%;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  a {
    text-decoration: underline !important;            
    font-weight: bold;
    cursor: pointer;
  }
  &.warning {
    background-color: $nw-alert-red;
    color: white;
    a { color: white;}
  }
  &.info {
    background-color: $nw-darkgreyblue;
    color: $nw-verylightgrey;
  }
  &.success {
    background-color: $nw-mediumaqua;
    color: white;
  }
  .nw-alert-close {
    border-color: transparent;
    background-image: none !important;
    background-color: transparent !important;
    text-transform: none !important;
    height: auto;
    border-radius: 0px !important;

    float: right;
    &:focus {
      border-color: black;

    }
  }
}
