.nw-avatar-medium {
  width: 62px;
  text-align: center;
  height: 62px;
  img {
    width: 62px;
    height: 62px;
    border-radius: 31px;
  }
}
.nw-avatar-small {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}
.nw-avatar-large {
  position: relative;
  width: 100%;
  text-align: center;
  height: 140px;
  img, .avatar-editable-overlay{
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
  .avatar-editable-overlay {
    display:none;
  }
  &.user-editable:hover{
    .avatar-editable-overlay {
      display:flex;
      position: relative;
      margin: auto;
      margin-top: -140px;
      left: auto;
    }
  }
}

.nw-sidebar {
  .nw-avatar-frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    &.has-laurels {
      margin-bottom: 10px;
    }
  }
}

.nw-avatar-irregular {
  position: relative;
  text-align: center;
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-radius: 70px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.nw-avatar-frame{
  position: relative;
  .laurel {
    position: absolute;
    height: 100%;
    bottom: -11%;
    left: 0px;
    z-index: 5;
  }
  &.user-editable:hover{
    cursor: pointer;
    .avatar-editable-overlay {
      display:flex;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.nw-avatar-frame-small {

}

.nw-avatar-frame-medium {

}

.nw-avatar-frame-large {
  width: 140px;
}
