.nw-avatar-missing {
  display: flex;
  background-color: #ccc;
  height: 100%;
  justify-content: center;
  .nw-avatar-text {
    font-family: "SansBold", sans-serif;
    padding:10px;
    align-self: center;
    color: #3C2109;
  }
}

.nw-avatar-medium {
  width: 62px;
  text-align: center;
  height: 62px;
  a {
    height: 62px;
  }
  img {
    width: 62px;
    height: 62px;
    border-radius: 31px;
  }
  .nw-avatar-missing {
    border-radius: 31px;
    .nw-avatar-text {
      font-size: 16px;
      line-height: 16px;
    }
  }
  
}
.nw-avatar-small {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
  .nw-avatar-missing {
    border-radius: 18px;
    .nw-avatar-text {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
.nw-avatar-large {
  position: relative;
  width: 100%;
  text-align: center;
  height: 140px;
  img, .avatar-editable-overlay{
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
  .avatar-editable-overlay {
    display:none;
  }
  &.user-editable:hover{
    .avatar-editable-overlay {
      display:flex;
      position: relative;
      margin: auto;
      margin-top: -140px;
      left: auto;
    }
  }
  .nw-avatar-missing {
    border-radius: 70px;
    .nw-avatar-text {
      font-size: 24px;
      line-height: 24px;
    }
  }
  
}

.nw-avatar-irregular {
  position: relative;
  text-align: center;
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-radius: 70px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  .nw-avatar-img {  
    height: 140px;
    width: 140px;
    object-fit: cover;
  }
}

.nw-avatar-frame{
  position: relative;
  .laurel {
    position: absolute;
    height: 100%;
    bottom: -11%;
    left: 0px;
    z-index: 5;
  }
  .halo {
    position: absolute;
    height: 70%;
    z-index: 5;
    top: -20%;
    left: 0px;
  }
  &.user-editable:hover{
    cursor: pointer;
    .avatar-editable-overlay {
      display:flex;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.nw-avatar-frame-small {

}

.nw-avatar-frame-medium {

}

.nw-avatar-frame-large {
  width: 140px;
}

