.nw-button-undecorated {
  border: 0px !important;
  background-image: none !important;
  text-transform: none !important;
  height: auto;
  border-radius: 0px !important;
  padding: 0px;
  color: $nw-black;
  background-color: transparent;
}

.nw-button-full-width {
  width: 100%;
}

.nw-button-form-step {
  color: $nw-mediumblue;
  width: 100%;
  font-family: "SansRegular", sans-serif;
  display: block;
  padding-bottom: 4px;
}
