.nw-card {
  position: relative;
  width: 100%;
  height: 100%;
  &.nw-card-fixed-size {
    width: 300px;
    height: 262px;
  }
  border-radius: 5px;
  border: solid 1px #dfe4e6;
  background-image: url('/images/global/card_back.png');
  background-repeat: repeat-x;
  background-size: 4px 100%;
  /*box-shadow: 0 0 14px 2px rgba(47, 48, 97, 0.12);*/
  &.nw-card-white {
    background: white;
  }
  
  .nw-card-header{
    .nw-card-title {
      display: inline-block;
      padding: 4px;
      padding-right: 14px;
      padding-left: 14px;
      border-bottom-right-radius: 6px;
      background-color: #dfe4e6;
      font-family: SourceSansPro-Bold;
      line-height: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: #979797;
    }
    .nw-card-actions {
      display: inline;
      .nw-card-display-actions {
        display:inline;
      }
      .nw-card-model-actions {
        display:inline;
        float:right;
      }
    }
    .nw-promo-image {
      position: relative;
      text-align: center;
      height: 144px;
      width: 300px;
      overflow: hidden;
      display: inline-block;
      background-size: cover;
      border-radius: 5px 5px 0px 0px;
      background-position: center center;
    }
  }
  .nw-card-content {
    position: relative;
    padding: 20px;
    &.nw-fixed-card {
      padding-top: 5px;
    }
    .nw-card-superhead {
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      color: #b8b8b8;
      margin-top: 10px;
    }
    .nw-card-headline {
      font-family: 'SourceSerifPro-Regular', serif;
      font-size: 20px;
      color: #343434;
      line-height: 1.4;
      margin-top: 10px;
    }
    .nw-card-subhead {
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      text-align: center;
      color: #b8b8b8;
      margin-top: 10px;
    }
    
  }
  .nw-card-footer {
  
  }
}
.nw-flippy-card {
  min-width: 300px;
  min-height: 300px;
  perspective: 1000px;
  &.nw-flipped {
    .nw-flippy-wrapper {
      -ms-transform: rotateY(-180deg); /* IE 9 */
      -webkit-transform: rotateY(-180deg); /* Safari */
      transform: rotateY(-180deg);
    }
  }
  .nw-flippy-wrapper {
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    .nw-card {
      width: 300px;
      height: 300px;
      position: absolute;
      flex-direction: column;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style:preserve-3d;
      -webkit-transition: transform 0.6s;
      transition: transform 0.6s;
      .nw-card-actions {
        display: block;
        text-align: right;
        width: 100%;
        height: 28px;
        .nw-flippy-card-toggle {
          cursor: pointer;
          text-align: center;
          color: $nano-lightgrey;
          width: 28px;
          margin-left: 7px;
          padding: 4px;
          line-height: 20px;
        }
      }
      &.nw-card-face-back{
        -ms-transform: rotateY(-180deg); /* IE 9 */
        -webkit-transform: rotateY(-180deg); /* Safari */
        transform: rotateY(-180deg);
      }
      .nw-card-content {
        height: 272px;
        padding-top: 10px;
        padding-right: 10px;
        .nw-card-scrollable {
          height: 100%;
          align-items: stretch;
          overflow: scroll;
          font-size: 13px;
        }
        .nw-centered {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
