.nw-card {
  position: relative;
  width: 100%;
  height: 100%;
  &.nw-card-fixed-size {
    width: 300px;
    height: 262px;
  }
  &.nw-prompt-card {
    border: dashed 2px $nw-lightgreyblue;
    background-color: $nw-white;
    background-image: none;
    color: $nw-lightgrey;
    
    a {
      color: $nw-lightgrey;
      font-family: SourceSerifPro;
      font-size: 26px;
      text-align: center;
    }
  }
  border-radius: 5px;
  border: solid 1px $nw-lightgreyblue;
  background-image: url('/images/global/card_back.png');
  background-repeat: repeat-x;
  background-size: 4px 100%;
  &.nw-card-white {
    background: $nw-white;
  }
  
  .nw-card-header {
    display: flex;
    justify-content: space-between;
    height: 28px;
    &.nw-card-header-no-height {
      height: 0px;
    }
    .nw-card-title {
      flex: 0 0 auto;
      padding: 4px;
      padding-right: 14px;
      padding-left: 14px;
      border-bottom-right-radius: 6px;
      background-color: $nw-lightgreyblue;
      font-family: 'SansBold', sans-serif;
      line-height: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: $nw-mediumgrey;
    }
    .nw-card-actions {
      flex: 1 1 50%;
      text-align: right;
      padding-right: 5px;
      z-index: 500;
      i {
        min-width: 32px;
        line-height: 28px;
        color: $nw-verylightgrey;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: $nw-mediumgrey;
        }
      }
      .nw-card-display-actions {
        display:inline;
      }
      .nw-card-model-actions {
        display:inline;
        float:right;
      }
    }
    .nw-promo-image {
      position: relative;
      text-align: center;
      height: 144px;
      width: 300px;
      overflow: hidden;
      display: inline-block;
      background-size: cover;
      border-radius: 5px 5px 0px 0px;
      background-position: center center;
    }
  }
  .nw-card-content {
    position: relative;
    padding: 20px;
    &.no-padding {
      height: 100%;
      display: flex;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      border-radius: 6px;
    }
    &.nw-horiz-flex {
      display: flex;
      align-items: center;
    }
    &.nw-horiz-flex > div {
      flex: 1 1 50%;
    }
    &.nw-fixed-card {
      padding-top: 5px;
    }
    .nw-card-superhead {
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      color: $nw-lightgrey;
      margin-top: 10px;
    }
    .nw-card-headline {
      font-family: 'SerifBold', serif;
      font-size: 20px;
      color: $nw-darkgrey;
      line-height: 1.4;
      margin-top: 10px;
      a {
        color: $nw-darkgrey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .nw-card-subhead {
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      text-align: center;
      color: $nw-lightgrey;
      margin-top: 10px;
    }
    
  }
  .nw-card-flippy-doodle {
    position: absolute;
    top: -5px;
    left: 180px;
    @media(max-width: $screen-md) {
      left: 10px;
    }
  }
  
  .nw-card-footer {
  
  }
}
.nw-flippy-card {
  min-width: 280px;
  min-height: 280px;
  perspective: 1000px;
  &.nw-flipped {
    .nw-flippy-wrapper {
      -ms-transform: rotateY(-180deg); /* IE 9 */
      -webkit-transform: rotateY(-180deg); /* Safari */
      transform: rotateY(-180deg);
    }
  }
  .nw-flippy-wrapper {
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    .nw-card {
      width: 280px;
      height: 280px;
      position: absolute;
      flex-direction: column;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style:preserve-3d;
      -webkit-transition: transform 0.6s;
      transition: transform 0.6s;
      .nw-card-actions {
        display: block;
        text-align: right;
        width: 100%;
        height: 28px;
        .nw-flippy-card-toggle {
          cursor: pointer;
          text-align: center;
          color: $nw-lightgrey;
          width: 28px;
          margin-left: 7px;
          padding: 4px;
          line-height: 20px;
        }
      }
      &.nw-card-face-back{
        -ms-transform: rotateY(-180deg); /* IE 9 */
        -webkit-transform: rotateY(-180deg); /* Safari */
        transform: rotateY(-180deg);
      }
      .nw-card-content {
        height: 252px;
        padding-top: 10px;
        padding-right: 10px;
        .nw-card-scrollable {
          height: 100%;
          align-items: stretch;
          overflow: scroll;
          font-size: 13px;
        }
        .nw-centered {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

/* -- CSS for specific card instances -- */
#projects-new-project-card {
  .project-announce-quote {
    flex: 1 1 50%;
    .quote-text {
      text-align: center;
      font-size: 20px
    }
    .quotee{
      font-size: 16px;
    }
  }
  .action {
    flex: 1 1 auto;
    text-align: center;
  }
  .prompt-image {
    width: 112px;
    position: relative;
    height: 151px;
    flex: 1 1 auto;
    align-self: flex-end;
    img {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
