.event-listing-card {
  height: 100px;
  .nw-card-content {
    height: 80px;
  }
}
.event-url {
  font-size: 16px; word-break:break-all;
}
.nw-card.event-card {
  .nw-card-content.nw-card-horizontal {
    align-items: flex-start;
    .nw-title {
      margin-top: 5px;
      color: $nw-darkgreen;
      font-family: "SerifSemiBold", serif;
    }
    .nw-event-dates {
      width: 60px;
      margin-right: 29px;
      color: $nw-darkgreen;
      text-transform: uppercase;
      text-align: center;
      .nw-event-mo {
        font-family: 'SansBold', sans-serif;;
        font-size: 31px;
      }
      .nw-event-date {
        font-family: 'SansSemiBold', sans-serif;
        font-size: 56px;
        line-height: 56px;
      }
    }
  }
}
