// ----------------------------------
// Fonts
// ----------------------------------

@font-face {
  font-family: 'SansRegular';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansBold';
  src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansSemiBold';
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansItalic';
  src: url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SerifRegular';
  src: url('/fonts/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SerifBold';
  src: url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SerifSemiBold';
  src: url('../fonts/SourceSerifPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.nw-promo-text {
  font-family: 'SerifSemiBold';
  text-align: center;
  color: $nw-mediumgrey;
  font-size: 20px;
  padding-bottom: 10px;
  .nw-highlight {
    font-size: 30px;
    color: $nw-mediumgreen;
    .nw-dehighlight {
      font-family: 'SansSemiBold';
      font-size: 16px;
      color: $nw-mediumgrey;
    }
  }
}
