// overlays for editable images
.nw-image-editable-overlay { 
  background-color: $nw-white75;
  color: black;
  display:block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
