.nw-listing-action-dropdown {
  .dropdown-toggle {
    color: $nw-darkgreen;
  }
  .dropdown-menu {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid $nw-darkgreen;
    background-color: $nw-mediumgreen;
    a {
      color: white;
      .full-width-menu-item {
        width: 100%;
      }
      
    }
  }
}
