.mobile-menu-logged-out {
  .background-cover {
    z-index: 999;
    position:fixed; 
    top: 0; 
    left:0; 
    width:100%; 
    height: 100%; 
    background-color: black; 
    opacity: 50%;
  }
  .menu-trigger {
    float: right;
    button {
      color: $nw-darkgreen;
      font-size: 28px;
      line-height: 38px;
    }
  }
  .menu-content{
    top: 0px;
    
    &.display {
      visibility: visible;
      right: 0px;
      z-index: 1000;
    }

    .menu-close-trigger {
      float: right;
    }
    .menu-items {
      .menu-item {
        line-height: 29px;
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
  }
}

/* when the screen width is greater than 780, hide it all */
@media only screen and (min-width: 780px) {
  .mobile-menu-logged-out {
    display: none;
  }
}
