.mobile-menu-logged-out {
  .menu-trigger {
    float: right;
    a {
      color: $nw-darkgreen;
      font-size: 28px;
      line-height: 38px;
    }
  }
  .menu-content{
    top: 0px;
    
    &.display {
      right: 0px;
    }
    .menu-close-trigger {
      float: right;
    }
    .menu-items {
      .menu-item {
        line-height: 29px;
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
  }
}

/* when the screen width is greater than 780, hide it all */
@media only screen and (min-width: 780px) {
  .mobile-menu-logged-out {
    display: none;
  }
}
