.nanomessages-panel {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: stretch;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.nw-card.nanomessages-card {
  height: 675px;
  background-image: none;
  background-color: #fff;
  @media(max-width: $screen-sm) {
    border-radius: 0;
    position: fixed;
    padding-top: 48px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .nw-card-header {
    background-color: #A5D9E4;
    border-bottom: 2px solid #b0b0b0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    .nw-card-title {
      width: 100%;
      background-color: transparent;
      text-align: center;
      color: #000;
      display: flex;
      justify-content: space-between;
      .nw-card-title-left {
        width: 30px;
        i {
          line-height: 20px;
          display: none;
        }
        @media(max-width: $screen-sm) {
          i {
            display: block;
          }
        }
      }
      .nw-card-title-right {
        width: 30px;
        i {
          line-height: 20px;
        }
      }
    }
  }
  .nw-card-content {
    padding: 0px;
    ul {
      padding-inline-start: 0px;
      .convo-item {
        border-bottom: 1px solid #eeeeee;
        &:hover {
          background-color: #eee;
        }
        &.convo-hidden {
          display: none;
        }
      }
      .convo-item.is-new {
        margin: 6px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 0px solid #eeeeee;
        border: 1px solid #ededed;
        border-radius: 5px;
        background-image: linear-gradient(#FFF, #ededed);
        .conversation-list-item {
          border: 0px;
        }
      }
      .convo-item.is-new.active {
        border: 1px solid #5f8c6f;
        
      }
    }
  }
  .nw-card-content.conversation {
    display: flex;
    min-height: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0px;
    .conversation-footer {
      flex: 0 0 46px;
      padding: 14px;
      background-color: #FFF;
      color: $nw-mediumgrey;
      .conversation-name {
        font-family: 'SansBold', sans-serif;
        color: #3C2109;
      }
    }
    .conversation-content {
      display: flex;
      flex-direction: column-reverse;
      flex: 1 1 100%;
      background: $white;
      padding-left: 28px;
      padding-right: 28px;
      margin-left: 0px;
      margin-right: 0px;
      width: auto;
      overflow-y: scroll;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      @media(max-width: $screen-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .nanomessages-container {
        
        padding-top: 28px;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;

        .nanomessage {
          opacity: 1;
          -webkit-transition: all 0.6s;
          transition: all 0.6s;
          &.message-new {
            opacity: 0;
            height: 0px;
            margin-bottom: 0px;
            overflow: hidden;
          }
  
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-bottom: 14px;
          .nw-avatar {
            width: 36px;
            margin-right: 7px;
            img {
              width: 36px;
              height: 36px;
            }
          }
          .nanomessage-arrow-left {
            flex: 0 0 10px;
            width: 10px;
            background-image: url('/images/global/nanomessage-left.svg');
            background-repeat: no-repeat;
            background-position: 0px 10px;
          }
          .nanomessage-arrow-right {
            flex: 0 0 10px;
            width: 10px;
            background-image: url('/images/global/nanomessage-right.svg');
            background-repeat: no-repeat;
            background-position: -10px 10px;
          }
          .nanomessage-content-container {
            flex: 1 1 100%;
            max-width: 527px;
            .nanomessage-content {
              padding: 14px;
              background-color: #DFE4E6;
              border-radius: 6px;
              font-size: 16px;
              line-height: 1.25;
              text-align: left;
              color: $nw-darkgrey;
              overflow-wrap: anywhere;
              img {
                max-width: 100%;
              }
            }
            .nanomessage-timesince {
              line-height: 1.57;
              letter-spacing: 0.3px;
              font-size: 14px;
              margin-top: 4px;
              color: #767676;
            }
            &.nw-no-speech-bubble {
              flex-wrap: wrap;
              .nanomessage-content {
                padding: 0px;
                font-size: 14px;
                background-color: transparent;
                display: flex;
              }
              .nanomessage-timesince {
                padding-left: 0px;
              }
            }
          }
          &.nanomessage-left {
            .nanomessage-content-container {
              .nanomessage-content {
              }
              .nanomessage-timesince {
                text-align: left;
              }
            }
          }
          &.nanomessage-right {
            justify-content: flex-end;
            .nanomessage-content-container {
              .nanomessage-content {
                background-color: #D4F5FF;
              }
              .nanomessage-timesince {
                text-align: right;
              }
            }
          }
        }
      }
    }
    .conversation-footer {
      border-top: 1px solid #DFE4E6;
      .new-message-form {
        flex: 0 0 154px;
        padding: 0px;
        padding-left: 14px;
        padding-right: 14px;
        #sendEmail {
          height: 14px;
        }
        label {
          font-size: 14px;
        }
        textarea, .nw-message-form {
          padding: 10px;
          width: 100%;
          height: 84px;
        }
      }
    }
  }
}
.nw-card.nanomessages-card.hide-mobile {
  @media(max-width: $screen-sm) {
    display: none;
    max-height: 1200px;
    border-radius: 0;
    position: fixed;
    padding-top: 48px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
.nw-card.nanomessages-card.not-fixed {
  @media(max-width: $screen-sm) {
    position: static;
    padding-top: 0px;
    height: 450px;
  }
}
.nw-no-speech-bubble {
  display: flex;
  .nw-system-message-image {
    img {
      border-radius: 18px;
      width: 36px;
    }
    margin-right: 10px;
  }
}
a {
  .nw-last-message {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    width: 100%;
  }
}
.conversation-list-item {
  border: solid 2px #FFFFFF;
}
.conversation-list-item.is-selected {
  background-color: #F7F7F7;
  border: solid 2px #5F8C7F;
}
.conversation-list-item.is-unread {
  .nw-avatar {
    img {
      border: 2px solid #FF6B6B;
    }
  }
  .nw-user-name-text {
    color: #000;
  }
  .nw-last-message {
    font-weight: 600;
  }
}
.fa-paper-plane-o {
  font-size: 20px;
}