.navbar {
  &.mainnav {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    .container-fluid {
      .nav.nw-nav-notify-buttons {
        height: 48px;
        li.nav-item {
          line-height: 48px;
          height: 48px;
          margin-top: 0px;
          margin-bottom: 0px;
          .dropdown-toggle {
            &.nav-link {
              padding-top: 0px;
              padding-bottom: 0px;
            }
            &::after {
              display: none;
            }
          }
          .dropdown-menu {
            margin-top: -16px;
          }
          a {
            tabindex: 0;
            display: block;
            line-height: 48px;
            width: 48px;
            height: 48px;
            border: 0;
            background-image: none;
            background-color: transparent;
            color: $nw-darkgreen;
            font-size: 20px;
            .fa-bell-o {
              font-size: 18px;
              color: $nw-darkgrey;
            }
            .fa-bars {
              font-size: 28px;
            }
            .non-mobile {
              display: block;
              height: 48px;
              width: 48px;
              line-height: 48px;
              text-align: center;
              i {
                height: 48px;
                line-height: 48px;
              }
            }
            &:hover, &:active, &:focus {
              background-color: $nw-darkblue;
              i {
                color: $nw-white;
              }
            } 
          }
        }
        .nw-noti-modal-container {
          max-height: 350px;
        }

        .nw-noti-modal {
          .nw-noti-modal-header {
            height: 30px;
            display: flex;
            justify-content: space-between;
            a {
              color: $nw-white;
              text-transform: capitalize;
              font-size: 12px;
              line-height: 1.67;
              text-decoration: underline;
            }
            .nw-noti-header-left {
              flex: 1 1 100%;
              text-align: left;
              padding-left: 10px;
            }
            .nw-noti-header-right {
              flex: 1 1 100%;
              text-align: right;
              padding-right: 10px;
            }
          }
          .nw-noti-modal-body {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            max-height: 320px;
            overflow: scroll;
          }
          .nw-noti-modal-footer {
          }
        }
      }
    }
  }
}
.nw-notification {
  cursor: pointer;
  padding: 13px;
  padding-left: 17px;
  padding-right: 15px;
  display: flex;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: $nw-lightaqua;
  }
  &.nw-noti-new {
    background-color: $nw-white-1;
    &:hover {
      background-color: $nw-lightaqua;
    }
  }
  .nw-noti-image {
    flex: 0 0 62px;
    img {
      width: 62px;
    }
  }
  .nw-noti-content-container {
    flex: 1 1 100%;
    padding-left: 15px;
    text-align: left;
    .nw-noti-content {
      width: 100%;
      line-height: 1.29;
      color: $nw-darkgreyblue;
      .nw-noti-headline-string {
        font-family: "SansBold", sans-serif;
      }
    }
    .nw-noti-tools-container {
      display: flex;
      justify-content: space-between;
      .nw-noti-time-ago {
        flex: 1 1 100%;
        font-size: 12px;
        line-height: 1.67;
        color: $nw-black;
        font-family: "SourceSansPro-Regular",sans-serif;
      }
      .nw-noti-button {
        flex: 1 1 100%;
        text-align: right;
        button {
          font-family: 'SansBold', sans-serif;
          font-size: 12px;
          line-height: 1.83;
          letter-spacing: 0.2px;
          text-align: center;
        }
      }
    }
  }
}
.nw-panel-primary-container {
  .nw-notification {
    border-bottom: 0px solid #ddd;
    border-radius: 5px;
  }
}

// ----------------------------------
// Styling for the red notifications
// circle
// ----------------------------------

.nw-unread-circle {
  text-align: center;
  width: 16px;
  height: 16px;
  background-color: $nw-mediumred;
  border-radius: 8px;
  font-size: 9px;
  color: $white;
  line-height: 16px;
  position: absolute;
  right: 0;
  bottom: 0px;
  &.nw-hidden {
    display: none;
  }
}
.conversation-list-item {
  .nw-unread-circle {
    position: relative;
  }
}
.notifications-modal-body {
  max-height: 400px;
  overflow-y: scroll;
}
