.nw-user-listing {
  padding: 10px;
  display: flex;
  align-items: center;
  .nano-avatar {
    flex: 0 0 62px;
    margin-right: 10px;
  }
  .nw-user-info {
    flex: 1 1 100%;
    padding-left: 10px;
    .nw-user-name {
      display: flex;
      font-family: 'SansBold', sans-serif;
      font-size: 16px;
      color: $nw-darkgrey;
      a {
        color: $nw-darkgrey;
        
      }
    }
    .nw-user-location {
      font-family: 'SansItalic', sans-serif;
      color: $nw-darkgrey;
    }
  }
  .user-buttons {
    flex: 1 1 100%;
    .buddy-buttons {
      padding: 0px;
    }
  }
}

/*---   start getting profile specific stuff all within the profile view   ---*/
.profile-view {
  .user-bio {
    max-height: 280px;
    overflow: auto;
  }
}

#missing-bio {
  color: $nw-mediumgrey;
  text-align: center;
  font-size: 16px;

  a {
    color: $nw-darkgrey;
    text-decoration: underline;
  }
}

#favorite-books-list {
  margin-bottom: 10px;
}

