.nw-panel {
  position: relative;
  background: white;
  border: 0px solid #FAFAFA;
  box-shadow: $nw-box-shadow;
  background: $nw-horiz-stripes;
  flex: 1 1 100%;
  margin-bottom: 60px;
  &.nw-panel-with-padding {
    padding: 28px;
    @media(max-width: $screen-md) {
      padding: 10px;
    }
    
  }
  @media (min-width: $screen-sm) {
    border-radius: $border-radius;
  }
  &.nw-with-tabs {
    margin-top: 40px;
    flex: 1 1 100%;
  }
  .nw-panel-primary-container {
    padding: 28px;
    @media(max-width: $screen-md) {
      padding: 10px;
    }
    padding-bottom: 1px;
    .nw-card {
      margin-bottom: 28px;
    }
  }
  .nw-panel-secondary-container {
    position: relative;
    .nw-panel-secondary {
      background-color: $nw-white-1;
      margin-top: 28px;
      padding: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media (min-width: $screen-sm) {
        border-radius: 0 0 $border-radius $border-radius;
      }
      &.nw-panel-hidden {
        display: none;
      }
    }
    .nw-panel-secondary > div {
      margin:10px;
    }
  }
}
.nw-panel.nw-page-top {
  margin-top: 120px;
}
.nw-panel-tabs {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  height: 36px;
  display: flex;
  justify-content: left;
  font-family: 'SansSemiBold', sans-serif;
  font-size: 16px;
  text-align: left;
  color: $nw-lightgrey;
  margin-top: -31px;
  padding-left: 40px;
  li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    color: $nw-lightgrey;
    border-radius: 4px;
    height: 36px;
    a {
      line-height: 36px;
      cursor: pointer;
      border-radius: 4px;
      color: #555555;
      padding-bottom: 10px;
      height: 36px;
      &.active, &:hover {
        text-decoration: none;
        color: #005555;
        background: linear-gradient(to top, #005555 0px,#005555 7px,transparent 7px,transparent 500px);
      }
    }
  }
}
.nw-panel-actions {
  height: 28px;
  margin-bottom: 28px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    > div {
      align-self: center;
    }
  }
  justify-content: space-between;
  #announce-new-project-button {
    width: 291px;
  }
  .nw-panel-actions-select {
    align-self: flex-end;
    @media (max-width: $screen-xs-max) {
      align-self: center;
    }
    
    #project-summary-sort-by-text {
      font-family: 'SansItalic', sans-serif;
      color: $nw-mediumgrey; 
    }
    select {
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: 0px;
      border-bottom: 1px solid black;
      padding-right: 25px;
    }
    &:after {
      content:"\f0d7";
      font-family: FontAwesome;
      color: $nw-black;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;      
      pointer-events: none;
      box-sizing: border-box; 
    }
  }
}
.nw-panel-intro {
  min-height: 140px;
  margin-top: 20px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  @media (max-width: $screen-xs-max) {
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  .left-side {
    flex: 1 1 100%;
    justify-content: flex-start;
  }
  .right-side {
    padding-top: 25px;
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
  }
  .welcome-content {
    height: 100%;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
    h1 {
      font-family: 'SerifBold', serif;
      font-size: 40px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.0;
      letter-spacing: -0.1px;
      text-align: left;
      color: $nw-brick;
      margin-bottom: 10px;
    }
  }
  display: flex;
  #stats-project-cover {
    position: relative;
    top: 0px;
    left: 0px;
    height: 150px;
    
    .project-cover {
      width: 255px;
      float: left;
      @media(max-width: $screen-md) {
        order: 3;
      }
      .project-cover-clip {
        position: absolute;
        bottom: 0px;
        width: 189px;
        height: 172px;
        left: 70px;
        clip-path: inset(0px 0px 0px -50px);
        img {
          transform: rotate(-15deg);
          transform-origin: bottom right;
          width: 122px;
          height: 172px;
          border-radius: 3px;
        }
      }
    }
  }
  .switcher{
    min-width: 200px;
    position: relative;
    margin-right: 10px;
    .switcher-select { 
      position: relative;
      font-size: 20px;
      select {
        font-size: 20px;
        
        font-family: "SerifSemiBold";
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 0px;
        border-bottom: 1px solid black;
        padding-right: 25px;
      }
      &:after {
        content:"\f0d7";
        font-family: FontAwesome;
        color: $nw-black;
        position: absolute; right: 0; bottom: -7px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;      
        pointer-events: none;
        box-sizing: border-box; 
      }
    }
  }
}
.nw-panel-footer {
  margin-bottom: 28px;
}
.nw-spacer {
  height: 30px;
  width: 100%;
}
.nw-flex-6-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 28px;
  padding-left: 0px;
  padding-bottom: 0px;
  .nw-card {
    height: 300px;
    box-sizing: border-box;
    margin-left: 28px;
    margin-bottom: 28px;
    width: 100%;
    &.no-height-limit {
      height: auto;
    }
    @media (min-width: $screen-lg) {
      &.flex-medium {
        width: calc(50% - 28px);
      }
      &.flex-small {
        width: calc(33.333% - 28px);
      }
    }
    @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
      &.flex-small {
        width: calc(50% - 28px);
      }
    }
  }
}
.nano-icon-tabs {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  color: #aaa;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    .nano-icon-tab {
      color: #aaa;
  
      cursor: pointer;
      flex: 1 1 25%;
      max-width: 100px;
      text-align: center;
      display: block;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: solid 6px transparent;
      i {
        font-size: 48px;
      }
    }
    .nano-icon-tab:hover {
      color: $nw-mediumgreen;
      border-bottom: solid 6px $nw-mediumgreen;
      text-decoration: none;
    }
  }
  a.active {
    .nano-icon-tab {
      color: $nw-mediumgreen;
      border-bottom: solid 6px $nw-mediumgreen;
    }
  }
}
