.plate-wrapper {
  height: 320px;
  .plate-editable-overlay {
    display: none;
  }
  &.user-editable:hover{
    .plate-editable-overlay {
      position: relative;
      width: 100%;
      height: 320px;
      margin-top: -320px;
      display:flex;
    }
  }
}

.nano-user-plate {
  height: 320px;
  background-image: url('/images/users/plate-default.png');
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;
  &.info-hidden {
    display: none;
  }
  .plate-cover {
    position: relative;
    width: 100%;
    height: 320px;
    background-color: $nw-darkgrey50;
    box-shadow: 0 0 14px 3px $nw-darkblue10;
    .container-fluid {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .plate-area {
         background-color: $nw-black70;
         border: 2px solid black;
         border-radius: 5px;
         padding: 10px;
         
        text-align: center;
        .plate-stat {
          font-size: 56px;
          color: $nw-white-1;
        }
        .plate-descriptor {
          font-size: 16px;
          color: $nw-mediumgrey;
          font-weight: bold;
        }
      }
      .plate-area:hover {
        cursor: pointer;
        .plate-stat {
          color: $nw-mediumlightblue;
        }
        .plate-descriptor {
          color: $nw-mediumlightblue;
        }
      }
    }
    .flip-corner-link {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      cursor: pointer;
    }
    &:hover {
      .flip-corner-link {
        display: block;
      }
    }
    
  }
}
