.nw-sidebar.nw-region-summary {
  font-family: 'SansBold', sans-serif;
  padding: 0px;
  padding-bottom: 0px;
  .nano-region-name-prelim {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    line-height: 16px;
    margin-bottom: 5px;
    
  }
  .nw-region-name {
    width: 100%;
    text-align: center;
    color: $nw-darkblue;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .nw-region-description-label {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    margin-bottom: 10px;
  }
  .nw-region-description {
    border-top: solid 2px $nw-lightgreyblue;
    padding-top: 14px;
    font-family: 'SansRegular', sans-serif;
    font-size: 14px;
    line-height: 1.38;
    text-align: left;
    color: $nw-darkgrey;
  }
}
