.nw-no-data{
  font-family: 'SerifRegular', serif;
  size: 20px;
  text-align: center;
  color: $nw-darkgrey;
  width: 100%;
}

.nw-loading-spinner{
  width: 100%;
  text-align: center;
  font-size: 56px;
  color: $nw-darkgrey;
}
