.nw-splash {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  text-align: center;
  
  .fa {
    color: white;
  }
  .congratulations {
    text {
      font-family: "SourceSerifPro";
      font-size: 40px;
      font-weight: bold;
      color: $nw-yellow;
      text-transform: uppercase;
    }
  }
  
  .unlocked{
    font-family: SourceSerifPro;
    font-size: 26px;
    text-align: center;
    color: $nw-lightgreyblue;
    margin-bottom: 35px;
  }
  .badge-image{
    margin-bottom: 28px;
    img{
      width: 95.3px;
      height: 107.8px;
    }
  }
  .badge-title {
    font-family: SourceSerifPro;
    font-size: 26px;
    color: $nw-yellow;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .badge-description {
    font-family: SourceSerifPro;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: $nw-lightgreyblue;
    margin-bottom: 37px;
  }
  
}

.nw-winner-splash {
  background-color: rgba(47, 48, 97, 0.98);
  
  .confetti {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5;
  }
  .winner-message {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: $nw-yellow;
    width: 626px;
    font-family: SourceSerifPro;
  }
  
  .winner-splash-content{
    width: 650px;
    height:450px;
    
    #winner-splash-step-1-badge-information{
      width: 550px;
    }
    .cert-download {
      padding-top: 20px;
      padding-bottom: 20px;
      a {
        color: white;
      }
    }
  }
  
  .navigation-arrow{
    font-size: 36px;
  }
  
}

.nw-badge-splash {
  /*background-color: rgba(52, 52, 52, 0.94);*/

}
