.nw-sidebar {
  background: white;
  border: 0px solid #FAFAFA;
  box-shadow: $nw-box-shadow;
  background: $nw-horiz-stripes;
  text-align: center;
  font-family: 'SansBold', sans-serif;
  .nw-sidebar-content {
    padding: 14px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  @media (min-width: $screen-sm) {
    flex: 0 0 299px;
    width: 299px;
    border-radius: 0;
    margin-right: 28px;
  }
  @media (max-width: $screen-xs-max) {
    flex: 0 0 100%;
  }
  .nw-sidebar-divot {
    @media (min-width: $screen-sm) {
      width: 299px;
      height: 7px;
      position: absolute;
      bottom: -20;
      background-image: url("/images/global/leftside_bottom.png");
      background-size: 299px 7px;
    }
  }
  .nw-avatar-frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    &.has-laurels {
      margin-bottom: 10px;
    }
  }
  .nw-item-name-prelim {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    line-height: 16px;
    margin-top: 10px;
  }
  .nw-item-name {
    width: 100%;
    text-align: center;
    color: #3C2109;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
  }
  .nw-item-description-label {
    width: 100%;
    text-align: center;
    color: #575757;
    margin-bottom: 10px;
  }
  .nw-item-description {
    border-top: solid 2px $nw-lightgreyblue;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'SansRegular', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: $nw-darkgrey;
    overflow-wrap: break-word;
  }
  .nw-item-location {
    width: 100%;
    text-align: center;
    color: $nw-black;
    font-style: italic;
  }
  .nw-member-since {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    font-style: italic;
  }
  .nw-item-social {
    width: 100%;
    display: flex;
    justify-content: center;
    .social-button {
      width: 26px;
      height: 26px;
      margin: 7px;
      background-color: $nw-lightblue;
      border-radius: 13px;
      color: $nw-mediumgreyblue;
      font-size: 12px;
      line-height: 26px;
    }
  }
  .nw-item-link, a {
    text-align: center;
    font-size: 16px;
    color: $nw-link-color;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
  i {
    cursor: pointer;
    min-width: 32px;
    line-height: 28px;
    color: $nw-mediumdarkgrey;
    font-size: 18px;
    &:hover {
      color: $nw-darkblue;
    }
  }
  .disclaimer {
    font-weight: 100;
    font-family:  sans-serif;
  }
  .buddy-buttons {
    padding: 10px;
    .buddy-status {
      padding-bottom: 10px;
    }
    &.button-danger {
      .buddy-status {
        color: $nw-darkred;
        font-family: 'SansBold', sans-serif;
      }
    }
    button {
      line-height: 17px;
      i {
        color: $nw-white-1;
        line-height: 19px;
      }
      &.button-reversed {
        i {
          color: $nw-mediumgreen;
        }
      }
    }
  }
}
