table {
  thead {
    tr {
      th {
        cursor: pointer;
        button {
          display: none;
        }
        .et-sort-indicator {
          color: transparent;
          &:before {
            color: #666;
            display: inline-block;
            border: none;
            line-height: 1;
            transform: rotate(0deg);
            content: '\25be';
          }
          &.is-ascending:before {
            transform: rotate(180deg);
          }
        }
        
      }
        th.is-sortable {
          cursor: pointer;

          &:hover {
            background-color: #e8f8e8;
          }
        }
      }
    }
  tbody {
    border-top: solid 2px #ccc;
    tr {
      border-bottom: solid 1px #ddd;
    }
    td {
      padding:0 70px 0 0;
      vertical-align: top;
    }
  }
}
.nw-filters {
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  @media (max-width: $screen-lg) {
    flex-direction: column;
  }
  .nw-filters-label {
    flex: 0 0 30%;
    font-size: 30px;
    text-align: right;
    padding-right: 30px;
    align-self: center;
  }
  .nw-filters-select {
    align-self: center;
    flex: 0 0 50%;
    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      width: 100%;
      padding-left: 20px;
    }
    .select-container {
      max-width: 350px;
    }
  }
  .nw-filters-buttons {
    flex: 0 0 20%;
    align-self: center;
    @media (max-width: $screen-lg) {
      margin-top: 10px;
    }
  }
}
.nw-filters-count {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}