.nano-panel {
  background: white;
  border: 1px solid #FAFAFA;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 14px 3px rgba(47,48,97,0.12);
  background: repeating-linear-gradient(0deg, #fff, #fff 7px, #fafafa 7px, #fafafa 8px);
  @include make-row();
  margin-bottom: $spacer;
  margin-top: 0;
  @media (min-width: $screen-sm) {
    border-radius: $border-radius;
  }
  .grid-wrapper {
    padding: 28px;
    width: 100%;
    display: grid;
    grid-gap: 28px;
    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;

      .g3-col1 {
        grid-column: 1;
        &.g3-hspan2 {
          grid-column: 1 / 3;
        }
      }
      .g3-col2 {
        grid-column: 2;
        &.g3-hspan2 {
          grid-column: 2 / 4;
        }
      }
      .g3-col3 {
        grid-column: 3;
      }
      .g3-row1 {
        grid-row: 1;
        &.g3-vspan2 {
          grid-row: 1 / 3;
        }
      }
      .g3-row2 {
        grid-row: 2;
        &.g3-vspan2 {
          grid-row: 2 / 4;
        }
      }
      .g3-row3 {
        grid-row: 3;
        &.g3-vspan2 {
          grid-row: 3 / 5;
        }
      }
      .g3-row4 {
        grid-row: 4;
        &.g3-vspan2 {
          grid-row: 4 / 6;
        }
      }
      .g3-row5 {
        grid-row: 5;
        &.g3-vspan2 {
          grid-row: 5 / 7;
        }
      }
    }
    @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
      grid-template-columns: 1fr 1fr;

      .g2-col1 {
        grid-column: 1;
        &.g2-hspan2 {
          grid-column: 1 / 3;
        }
      }
      .g2-col2 {
        grid-column: 2;
      }
      .g2-row1 {
        grid-row: 1;
        &.g2-vspan2 {
          grid-row: 1 / 3;
        }
      }
      .g2-row2 {
        grid-row: 2;
        &.g2-vspan2 {
          grid-row: 2 / 4;
        }
      }
      .g2-row3 {
        grid-row: 3;
        &.g2-vspan2 {
          grid-row: 3 / 5;
        }
      }
      .g2-row4 {
        grid-row: 4;
        &.g2-vspan2 {
          grid-row: 4 / 6;
        }
      }
    }
  }
}
