.nano-panel {
  background: white;
  border: 1px solid #FAFAFA;
  padding: $spacer;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 14px 3px rgba(47,48,97,0.12);
  background: repeating-linear-gradient(0deg, #fff, #fff 7px, #fafafa 7px, #fafafa 8px);
  @include make-row();
  margin-bottom: $spacer;
  margin-top: 0;
  @media (min-width: $screen-sm) {
    border-radius: $border-radius;
  }
}
