.nano-panel.left-sidebar.nano-profile {
  font-family: 'SansBold', sans-serif;
  .nano-user-name {
    width: 100%;
    text-align: center;
    color: $nw-darkblue;
    font-size: 26px;
  }
  .nano-user-location {
    width: 100%;
    text-align: center;
    color: $nw-black;
    font-style: italic;
  }
  .nano-member-since {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    font-style: italic;
  }
  .nano-user-social {
    width: 100%;
    display: flex;
    justify-content: center;
    .social-button {
      width: 26px;
      height: 26px;
      margin: 7px;
      background-color: $nw-lightblue;
      border-radius: 13px;
      color: $nw-mediumgreyblue;
      font-size: 12px;
      line-height: 26px;
    }
  }
  .nano-user-link {
    width: 100%;
    text-align: center;
    a {
      color: $nw-darkaqua;
    }
  }
}
.nano-card.user-card.flippable {
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  .nano-subcard {
    height: 300px;
    min-height: 300px;
    .nano-subcard-face {
      background: $nw-white;
      .nano-subcard-header {
        flex: 0 0 30px;
        height: 30px;
      }
      .nano-subcard-content {
        height: 260px;
        .nano-card-icon {
          height: 140px;
        }
        .small-text {
          font-size: 12px;
          color:$nw-black;
        }
      }
    }
  }
}
.nw-avatar-irregular {
  position: relative;
  text-align: center;
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-radius: 70px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.nano-avatar-large {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -70px;
  height: 140px;
  img, .avatar-editable-overlay{
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
  .avatar-editable-overlay {
    display:none;
  }
  &.user-editable:hover{
    .avatar-editable-overlay {
      display:flex;
      position: relative;
      margin: auto;
      margin-top: -140px;
      left: auto;
    }
  }
}
.nano-avatar-medium {
  width: 62px;
  text-align: center;
  height: 62px;
  img {
    width: 62px;
    height: 62px;
    border-radius: 31px;
  }
}
.nano-avatar-small {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}
.user-listing {
  padding: 15px;
  display: flex;
  .nano-avatar {
    flex: 0 0 62px;
    margin-right: 10px;
  }
  .user-info {
    flex: 1 1 100%;
    .nano-user-name {
      font-family: 'SansBold', sans-serif;
      font-size: 20px;
      color: $nw-darkgrey;
      a {
        color: $nw-darkgrey;
        
      }
    }
    .nano-user-location {
      font-family: 'SansItalic', sans-serif;
      color: $nw-darkgrey;
    }
  }
  .user-buttons {
    flex: 1 1 100%;
    .buddy-buttons {
      padding: 0px;
    }
  }
}

/*---   start getting profile specific stuff all within the profile view   ---*/
.profile-view {
  .user-bio {
    max-height: 280px;
    overflow: auto;
  }
}

#missing-bio {
  color: $nw-mediumgrey;
  text-align: center;
  font-size: 16px;

  a {
    color: $nw-darkgrey;
    text-decoration: underline;
  }
}

#favorite-books-list {
  margin-bottom: 10px;
}

#favorite-lists {
  display: initial;
}
