.nano-panel.left-sidebar.nano-profile {
  font-size: 14px;
  font-family: 'SourceSansPro-Bold', sans-serif;
  .nano-user-name {
    width: 100%;
    text-align: center;
    font-family: 'SourceSansPro-Bold', sans-serif;
    color: $nano-darkblue;
    font-size: 26px;
  }
  .nano-user-location {
    width: 100%;
    text-align: center;
    color: #000000;
    font-style: italic;
  }
  .nano-member-since {
    width: 100%;
    text-align: center;
    color: $nano-mediumgrey;
    font-style: italic;
  }
  .nano-user-social {
    width: 100%;
    display: flex;
    justify-content: center;
    .social-button {
      width: 26px;
      height: 26px;
      margin: 7px;
      background-color: $nano-lightblue;
      border-radius: 13px;
      color: #7880b5;
      font-size: 12px;
      line-height: 26px;
    }
  }
  .nano-user-link {
    width: 100%;
    text-align: center;
    font-family: 'SourceSansPro-Bold', sans-serif;
    a {
      color: $nano-mediumlightblue;
    }
  }
}
.nano-avatar-large {
  width: 100%;
  text-align: center;
  margin-top: -70px;
  height: 140px;
  img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}
.nano-avatar-medium {
  width: 62px;
  text-align: center;
  height: 62px;
  img {
    width: 62px;
    height: 62px;
    border-radius: 31px;
  }
}
.nano-avatar-small {
  width: 36px;
  height: 36px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}
.user-listing {
  padding: 15px;
  display: flex;
  .nano-avatar {
    flex: 0 0 62px;
    margin-right: 10px;
  }
  .user-info {
    flex: 1 1 100%;
    .nano-user-name {
      font-family: 'SourceSansPro-Bold', sans-serif;
      font-size: 20px;
      color: #343434;
      a {
        color: #343434;
        
      }
    }
    .nano-user-location {
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 14px;
      font-style: italic;
      color: #343434;
    }
  }
  .user-buttons {
    flex: 1 1 100%;
    .buddy-buttons {
      padding: 0px;
    }
  }
}

#favorite-books-list {
  margin-bottom: 10px;
}

#favorite-lists {
  display: initial;
}
