.nano-panel.left-sidebar.nano-profile {
  font-size: 14px;
  font-family: 'SourceSansPro-Bold', sans-serif;
  .nano-user-name {
    width: 100%;
    text-align: center;
    font-family: 'SourceSansPro-Bold', sans-serif;
    color: $nano-darkblue;
    font-size: 26px;
  }
  .nano-user-location {
    width: 100%;
    text-align: center;
    color: #000000;
    font-style: italic;
  }
  .nano-member-since {
    width: 100%;
    text-align: center;
    color: $nano-mediumgrey;
    font-style: italic;
  }
  .nano-user-social {
    width: 100%;
    display: flex;
    justify-content: center;
    .social-button {
      width: 26px;
      height: 26px;
      margin: 7px;
      background-color: $nano-lightblue;
      border-radius: 13px;
      color: #7880b5;
      font-size: 12px;
      line-height: 26px;
    }
  }
  .nano-user-link {
    width: 100%;
    text-align: center;
    font-family: 'SourceSansPro-Bold', sans-serif;
    a {
      color: $nano-mediumlightblue;
    }
  }
}
.nano-avatar-large {
  width: 100%;
  text-align: center;
  margin-top: -70px;
  height: 140px;
  img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}
.nano-avatar-small {
  height: 56px;
  img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    box-shadow: 0 0 14px 0 rgba(47, 48, 97, 0.1);
    
  }
}
