#project {
  position: relative;
  height: 223px;
  
  .project-status {
    position: absolute;
    top: -5px;
    left: 250px;
    @media(max-width: $screen-md) {
      left: 10px;
    }
  }
  
  .project-cover {
    width: 255px;
    float: left;
    @media(max-width: $screen-md) {
      order: 3;
    }
    .project-cover-clip {
      position: absolute;
      bottom: 0px;
      width: 189px;
      height: 170px;
      left: 70px;
      clip-path: inset(0px 0px 0px -50px);
      img {
        transform: rotate(-15deg);
        transform-origin: bottom right;
        width: 128px;
        height: 170px;
        border-radius: 3px;
      }
    }
  }

  .project-name-genres {
    position: absolute;
    margin-top: 36px;
    width: 39%;
    margin-left: 20%;
    .project-title {
      font-family: 'SourceSerifPro-regular', serif ;
      font-size: 26px;
      color: #343434;
      margin-bottom: 7px;
    }
    .project-genres {
      margin-top: 7px;
      font-family: 'SourceSansPro-regular', sans-serif;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      color: #979797;
    }
  }
  .project-count-display {
    position: absolute;   
    text-align: center;
    top: 36px;
    right: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .count{
      font-size: 56px;
      font-family: 'SourceSerifPro-Regular', serif;
      color: #2f3061;
      height: 70px;
    }
    .unit-text {
      font-weight: bold;
      font-family: 'SourceSerifPro-Bold', serif;
      font-size: 16px;
      color: #979797;
      
    }
  }

}
#project-details {
 
  height: 630px;
  margin: 0px auto;
 
  #project-cover-large {
    position: relative;
    background: #cfcfcf;
    border-radius: 6px;
    border: 1px solid #2f3061;
    float: left;
    height: 630px;
    width: 460px;
    /* box-shadow: 7px 7px -3px -3px #2f3061; */
  }
  
  #project-information {
    /* box-shadow: 7px 7px 0px 0px #2f3061; */
    padding: 28px;
    background: #e2eff3;
    border-radius: 6px;
    border: 1px solid #2f3061;
    float: left;
    height: 630px;
    width: 460px;
    #project-title {
      display: none;
    }
    #project-summary-label {
      font-family: "SourceSansPro-Regular", sans-serif;
      font-size: 14px;
      color: #979797;
    }
    #project-summary {
      font-family: "SourceSerifPro-Regular", serif;
      font-size: 16px;
      color: #343434;
    }
    #genres-and-links {
      position: absolute;
      bottom: 27px;
      
      #genres-label {
        font-family:'SourceSansPro-Regular', sans-serif;
        font-size: 14px;
        color: #979797;
        padding-bottom: 7px;
      }
      #genres-list {
        .genre {
          font-family: 'SourceSerifPro-Regular', serif;
          color: #343434;
          font-size: 18px;
          margin-right: 21px;
        }
      }
      #external-links {
        a {
          font-family: SourceSerifPro, serif;
          font-size: 16px;
          color: #343434;
        }
      }
    }
  }
}

#project-excerpt-display {
  padding: 28px;
  
  #project-excerpt-label {
    font-family: "SourceSansPro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #979797;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  #project-excerpt {
    font-family: "SourceSansPro", sans-serif;
    font-size: 16px;
    line-height: 1.38;
    color: #343434;
  }

}

#project-needs-details {
  position: relative;
  border: 2px dashed #e5e5e5;
  border-radius: 6px;
  margin: 28px;
  padding: 30px;
  #texts {
    text-align: center;
    font-size: 26px;
    color: #979797;
    #line-1 {
    
    }
    #line-2 {
      a{
        color: #343434;
        text-decoration: underline;
      }
    }
  }
  #graphic {
    position: absolute;
    bottom: 0px;
    right: 30px;
  }
}  

@media  (max-width: $screen-sm) {

  #project {
    position: relative;
    height: auto;
    
    .project-status {
      display: none;
    }
    
    .project-name-genres {
      position: relative;
      margin-top: 2px;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 25px;
    }
    .project-count-display {
      position: relative;   
      top: 0px;
      right: 0px;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 185px;
    }
  }
  #project-details-card {
    width: 94%;
    padding: 0;
    margin: 3%;
    height: auto;
    margin-bottom: 14px;
    
    #project-details {
      height: auto;
      #project-cover-large {
        display: none;
      }
      #project-information {
        /* box-shadow: 7px 7px 0px 0px #2f3061; */
        padding: 28px;
        background: #e2eff3;
        border: 1px solid #979797;
        float: none;
        height: auto;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
       
        #project-title {
          display: block;
          color: #2f3061;
          font-weight: bold;
          font-family: 'SourceSerifPro', serif;
          font-size: 26px;
        }
        #project-summary{
           margin-bottom: 28px;
        }
        #genres-and-links {
          position: relative;
          bottom: auto;
          #genres-list {
            overflow:auto;
            .genre {
              float: left;
              clear: left;
            }
          }
          #external-links {
            overflow: auto;
            .external-link {
             clear: left;
             float: left;
            }
          }
        }
      }
    }
  }
  #project-excerpt-card {
    margin: 3%;
    width: 94%;
    margin-bottom: 28px;
    min-height: auto;
  }
}
