#project-listing-panel {
  #project-listing-actions {
    margin-top: 28px;
    margin-left: 27px;
    height: 107px;
    position: relative;
    #announce-new-project-button {
      width: 291px;
    }
    
    #project-listing-sort {
      position: absolute;
      right: 0px;
      bottom: 0px;
      margin-right: 30px;
      margin-bottom: 15px;
      #project-listing-sort-by-text {
        font-family: 'SourceSansPro-It', sans-serif;
        font-size: 14px;
        font-style: italic;
        color: $nano-mediumgrey; 
      }
      select {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 0px;
        border-bottom: 1px solid black;
        padding-right: 25px;
        font-family: 'SourceSansPro-Regular', sans-serif;
      }
      &:after {
        content:"\f0d7";
        font-family: FontAwesome;
        color: #000;
        position: absolute; right: 0; top: 0;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;      
        pointer-events: none;
        box-sizing: border-box; 
      }
    }
  }

  .project-listing-card {
    position: relative;
    
    min-height: 151px;
    max-height: none;
    
    border-radius: 6px;
    background-image: repeating-linear-gradient(90deg, #f7f7f7, #f7f7f7 2px, #ededed 3px, #ededed 4px);
    border: solid 1px #dfe4e6;
    
    .project-actions {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .project-status {
      position: absolute;
      top: -5px;
      left: 176px;
      @media(max-width: $screen-md) {
        left: 10px;
      }
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .project-cover {
        flex: 0 0 189px;
        height: 150px;
        @media(max-width: $screen-md) {
          order: 3;
        }
        .project-cover-clip {
          position: absolute;
          bottom: 0px;
          width: 189px;
          height: 172px;
          clip-path: inset(0px 0px 0px -50px);
          img {
            transform: rotate(-15deg);
            transform-origin: bottom right;
            width: 122px;
            height: 172px;
            border-radius: 3px;
          }
        }
      }

      .project-name-genres {
        margin-top: 28px;
        flex: 0 0 298px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        .project-title {
          flex: 0 0 100%;
          font-family: 'SourceSerifPro-Regular', serif ;
          font-size: 20px;
          color: black;
          margin-bottom: 7px;
          text-align: left;
          a {
            color: #343434;
          }
        }
        .project-genres {
          flex: 0 0 100%;
          height: 22px;
          font-family: 'SourceSansPro-Regular', sans-serif;
          font-size: 14px;
          line-height: 1.57;
          text-align: left;
          color: #939393;
        }
      }
      .project-progress {
        margin-top: 18px;
        width: 352px;
        flex: 0 0 352px;
 
        .goal-text{ 
          margin-bottom: 7.5px;
          font-size: 16px;
          height: 20px;
          text-align: left;
          font-family: 'SourceSansPro-Regular', sans-serif;
          .goal {
            color: $nano-mediumgrey
          }
        }
        .nano-progress-bar{
          width: 100%;
        }
        
        .progress-text {
          margin-top: 7.5px;
          height: 18px;
          font-family: 'SourceSansPro-Regular', sans-serif;
          font-size: 14px;
          font-weight: bold;
          .count{
            color: $nano-mediumlightblue;
          }
          .count.goal-met {
            color: #834da9;
          }
        }
        .challenge-start {
          margin-top: 7.5px;
          font-size: 14px;
          font-family: 'SourceSansPro-Regular', sans-serif;
          float: right;
          .started {
            color: $nano-lightgrey;
          }
        }
      }
    }
  }
}
