.nano-panel.left-sidebar.region-summary {
  font-family: 'SansBold', sans-serif;
  padding: 0px;
  padding-bottom: 0px;
  .nano-region-name-prelim {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    line-height: 16px;
    margin-bottom: 5px;
    
  }
  .nano-region-name {
    width: 100%;
    text-align: center;
    color: $nw-darkblue;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .nano-region-description-label {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    margin-bottom: 10px;
  }
  .nano-region-description {
    border-top: solid 2px $nw-lightgreyblue;
    padding-top: 14px;
    font-family: 'SansRegular', sans-serif;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: $nw-darkgrey;
  }
  .nw-user-location {
    width: 100%;
    text-align: center;
    color: $nw-black;
    font-style: italic;
  }
  .nano-member-since {
    width: 100%;
    text-align: center;
    color: $nw-mediumgrey;
    font-style: italic;
  }
  .nano-user-social {
    width: 100%;
    display: flex;
    justify-content: center;
    .social-button {
      width: 26px;
      height: 26px;
      margin: 7px;
      background-color: $nw-lightblue;
      border-radius: 13px;
      color: $nw-mediumgreyblue;
      font-size: 12px;
      line-height: 26px;
    }
  }
  .nano-user-link {
    width: 100%;
    text-align: center;
    a {
      color: $nw-darkaqua;
    }
  }
}
