.nano-side-menu-toggle {
  cursor: pointer;
}
.nano-side-menu {
  position: fixed;
  right: -285px;
  overflow: scroll;
  -webkit-transition-property: right;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 1000;
  width: 285px;
  height: 100%;
  background-color: $nw-mediumgreen;
  box-shadow: 0 0 14px 2px $nw-darkblue10;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: $nw-lightblue;
  padding: 28px;
  padding-top: 14px;
  a {
    color: $nw-lightblue;
  }
  .nano-side-menu-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: -10px;
    font-size: 26px;
  }
  li {
    line-height: 29px;
    margin-top: 13px;
    margin-bottom: 13px;
    .user-link {
      font-size: 14px;
      display: flex;
      align-items: center;
      .nano-avatar-small {
        flex: 0 0 56px;
        margin-right: 10px;
      }
      .user-name {
        flex: 0 0 100%;
      }
    }
    ul {
      -webkit-transition-property: max-height;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;
      transition-property: max-height;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      max-height: 0px;
      overflow: hidden;
      padding-left: 12px;
    }
    .nano-side-menu-submenu-toggle {
      cursor: pointer;
      font-family: "SansSemiBold", sans-serif;
      .flipped {
        i {
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
          filter: FlipV;
          -ms-filter: "FlipV";
        }
      }
    }
  }
  li.menu-break {
    width: 100%;
    height: 1px;
    background-color: $nw-lightgreyblue;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}