.nano-tooltip {
  .tooltip-inner {
    box-shadow: 0 0 14px 0 $nw-darkgrey20;
    background-image: linear-gradient(to bottom, $nw-mediumlightblue, $nw-lightaqua);
    padding: 21px;
    color: $nw-black;
    max-width: 363px;
    text-align: left;
    .nano-tooltip-title {
      font-family: "SerifBold", serif;
      font-size: 20px;
      color: $nw-darkgreygreen;
    }
    .nano-tooltip-content {
      font-family: "SerifRegular", serif;
      font-size: 16px;
      color: $nw-black;
      line-height: 1.28;
    }
    .nano-tooltip-date {
      margin-top: 10px;
      font-family: "SerifItalic", serif;
      color: $nw-black;
      line-height: 1.2;
    }
    
  }
  .arrow::before {
    border-bottom-color: $nw-mediumlightblue;
    border-top-color: $nw-lightaqua;
  }
}