<h2>{{if genre.isNew "New" "Edit"}} Genre</h2>

{{#form-for
  afterSubmit=(action "afterSubmit")
  model=genre
  as |f|
}}
  <div class="form-group">
    {{f.input
      label="Name"
      property="name"
    }}
  </div>

  <input data-test-genre-submit type="submit" class="nano-button"
    value={{concat (if genre.isNew "Create" "Update") " Genre"}} />
{{/form-for}}
