<h2>Index</h2>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each genres as |genre|}}
      <tr>
        <td>{{genre.id}}</td>
        <td data-test-genre-item={{genre.id}}>{{genre.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>{{link-to '+ New Genre' 'authenticated.genres.new' data-test-new-genre=true}}</p>
