<h2>Show Genre</h2>

<p>
  <strong>Name:</strong>
  <span data-test-genre-name>{{genre.name}}</span>
</p>

<p>{{link-to 'Edit Genre' 'authenticated.genres.edit' genre.id data-test-edit-genre=true}}</p>
