<h2>Show Genre</h2>

<p>
  <strong>Name:</strong>
  <span data-test-genre-name>{{genre.name}}</span>
</p>

<p>
  {{link-to 'Edit Genre' 'authenticated.genres.edit' genre.id
    class="btn btn-outline-primary"
    data-test-edit-genre=true
  }}
  <button {{action "deleteGenre"}} class="btn btn-outline-danger" data-test-delete-genre>
    Delete Genre
  </button>
</p>
