{{#if noData}}
{{else}}
  <div class="nw-absolute nw-square-80 nw-flex-center">
    <img src='/images/global/fireball.svg' alt='Fireball showing streak' />
  </div>
  <div class="nw-absolute nw-square-80 nw-flex-center chart-data">
    {{streak}}
  </div>
{{/if}}
