<div style="width: 80px; flex: 0 0 80px;">
  {{charts/donut overallProgress=overallProgress dailyProgress=dailyProgress eventType=eventType}}
</div>
<div style="flex: 1 1 100%; padding-left: 20px;">
  {{charts/stats-large-over-small}}
</div>
