<div style="font-size: 36px; line-height: 36px; font-weight: bold; color: #000;">
  60%
</div>
<hr style="border-top: 6px dotted #F4A261; margin: 0;" />
<div style='font-size: 18px; font-weight: bold; color: #545454;'>
  <span style='color: #000;'>1,000</span> / 1,667 DAILY GOAL
</div>
