<h2>Locations</h2>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Longitude</th>
  </thead>
  <tbody>
    {{#each locations as |location|}}
      <tr>
        <td>
          {{location.id}}
        </td>
        <td>
          {{location.name}}
        </td>
        <td>
          {{location.longitude}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
