<div class="nav-logging-buttons d-flex">
  <button class="button-log"><span class="mobile">LOG</span><span class="non-mobile" aria-hidden="false">{{fa-icon "plus"}}</span></button>
  <button class="button-timer"><span class="mobile">TIMER</span><span class="non-mobile" aria-hidden="false">{{fa-icon "clock-o"}}</span></button>
</div>