<nav class="navbar micronav navbar-expand-lg" aria-label="secondary">
  <div class="container-fluid d-flex">
    <div class="shield-logo-container"><a class="shield-logo" href="/"><img src="logo/logo.svg" alt="" /></a></div>
    {{nav/search-field}}
    <div class="nav-store d-flex flex-row-reverse">
      {{nav/store-nav}}
      {{nav/help-nav}}
    </div>
  </div>
</nav>
