<ul class="navbar-nav store-blue">
  <li class="nav-item">
    {{link-to 'SHOP' 'index' class="nav-link"}}
  </li>
  <li class="nav-item">
    {{link-to 'DONATE' 'index' class="nav-link"}}
  </li>
</ul>
