{{#each model.panels as |panel|}}
  <div class="nano-panel">
    <div class="grid-wrapper">
      {{#each panel.cards as |card|}}
        <div class="nano-card {{card.class}}">
          {{card.title}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
