<div class="content-gutters">
  <div class="container-fluid">
    <div class="d-flex align-top">
      <div class="nano-panel with-tabs">
        <div id="settings-panel-layout">
          Search form
        </div>
      </div>
    </div>
    {{#if model.data}}
      hello
    {{else}}
      <div class="nano-panel">
        <div class="col-12">
          <h1 data-test-not-found-header>404 Not Found</h1>
        </div>
      </div>
    {{/if}}
  </div>
</div>
