<div class="content-gutters">
  <div class="container-fluid narrow">
    <div class="d-flex align-top">
      <div class="nano-panel with-tabs">
        <ul class="nano-panel-tabs narrow">
          <li>{{link-to 'Account' 'authenticated.settings.account'}}</li>
          <li>{{link-to 'Privacy' 'authenticated.settings.privacy'}}</li>
          <li>{{link-to 'Preferences' 'authenticated.settings.preferences'}}</li>
        </ul>
        <div class="card-container">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>