{{page-title "Winners' Circle"}}

<div class="content-gutters nw-pad-top">
  <div class="container">
    <div class="wrapper">
      <img
        src="/images/banners/winners-circle.png"
        alt="Winner's Circle Banner"
        style="width: 100%;"
      />
      <h1>Welcome to the Winners’ Circle, Writer! Time to bask in the glow of
        your well-earned spotlight…</h1>
      <p>Entries might take several minutes to appear, so thank you for being
        patient! If you see a response that doesn’t follow our Codes of
        Conduct/isn’t appropriate for all ages, please email
        <a href="mailto: moderators@nanowrimo.org">moderators@nanowrimo.org</a>.
        That includes the following guidelines: no violent and/or sexually
        explicit content, no profanity, no hate speech (i.e. racist, sexist,
        ableist, homophobic, transphobic, anti-Semitic, Islamophobic,
        xenophobic, ageist, fatphobic, classist, or other bigoted language).</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="nw-panel nw-with-grid">
      <iframe
        src="https://dk3mm7fqduozc.cloudfront.net/"
        width="100%"
        height="700"
        style="border:none;"
      >
      </iframe>
    </div>
  </div>
</div>
