<h2>Projects Index</h2>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each projects as |project|}}
      <tr>
        <td>{{project.id}}</td>
        <td data-test-project-name={{project.id}}>
          {{project.name}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>{{link-to '+ New Project' 'authenticated.projects.new'
  class="btn btn-outline-primary"
  data-test-new-project=true
}}</p>
