<h2>New Project</h2>

{{#form-for
  afterSubmit=(action "afterSubmit")
  model=project
  as |f|
}}

  <div class="form-group">
    {{f.input
      label="Name"
      property="name"
    }}
  </div>
  <div class="form-group">
    {{f.multiselect
      data-test-select-genre=true
      createOptionModel="genre"
      label="Genre(s)"
      options=genreOptions
      property="genres"
      searchField="name"
      searchEnabled=true
    }}
    
  </div>

  <input data-test-project-submit type="submit" class="nano-button" value="Create Project" />

{{/form-for}}
