{{nav/micro-nav}}  
{{nav/main-nav}}  

<div class="content-gutters">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
{{#if session.isAuthenticated}}
  <a href="#" class="nav-link" {{action 'invalidateSession'}} data-test-log-out>Log out</a>
{{/if}}
