{{#if show_navigation}}
  {{micro-nav}}  
  {{main-nav}}
{{/if}}
<div class="content-gutters">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {{outlet}}
      </div>
    </div>
  </div>
</div>