<main>

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">Brought To You By...
        </h1>
        <p class="copy">
          NaNoWriMo is the product of a superheroic, wondrous community. 
          So many people assembled to keep our nonprofit programs going, 
          including incredible donors like you.
          <b>Thank you!</b>

        </p>

      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about">
    <div class="container">
      <div class="wrapper">
        <h4>Monthly Donors</h4>
        <div>{{monthlyDonorString}}</div>
        
        <h4>Major Donors</h4>
        <div>{{majorDonorString}}</div>
        
        <h4>Supporting Donors</h4>
        <div>{{supportingDonorString}}</div>
        
      </div>
    </div>
  </section>

  

</main>
