<div id='brought-to-you-by'>
  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">Brought To You By...
        </h1>
        <p class="copy">
          NaNoWriMo is the product of a superheroic, wondrous community. 
          So many people assembled to keep our nonprofit programs going, 
          including incredible donors like you.<br>
          <b>Thank you!</b>

        </p>

      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about">
    <div class="container">
      <div class="wrapper">
        <div class='donor-title'>Monthly Donors</div>
        <div class='donor-list'>{{monthlyDonorString}}</div>
        
        <div class='donor-title'>Major Donors</div>
        <div class='donor-list'>{{majorDonorString}}</div>
        
        <div class='donor-title'>Supporting Donors</div>
        <div class='donor-list'>{{supportingDonorString}}</div>
        
      </div>
    </div>
  </section>
</div>
  

