<main>

  <!-- Hero -->
  <section class="hq-hero">
    <div class="container">
      <h1>Connect with NaNoWriMo!</h1>
      <p>Need some motivation, advice, or support? The NaNoWriMo community is here to help. Check out our <span>Events Calendar</span>, <span>Virtual Write-Ins</span>, <span>writing coaches</span>, and more.</p>
      <p>You can also follow us on social media for more great writing support!</p>
      <div class="social">
        <a href="" class="social"><i class="fa fa-facebook"></i></a>
        <a href="" class="social"><i class="fa fa-twitter-square"></i></a>
        <a href="" class="social"><i class="fa fa-tumblr-square"></i></a>
        <a href="" class="social"><i class="fa fa-youtube"></i></a>
        <a href="" class="social"><i class="fa fa-instagram"></i></a>
        <a href="" class="social"><i class="fa fa-pinterest-square"></i></a>
      </div>
    </div>
    <img class="hero-image" src="/images/logged-out/nano-faces.png" alt="The NaNo community.">
  </section>

  <!-- Events List -->
  <section class="events-block">
    <div class="container">
      <h2 class="heading">Participate in a NaNoWriMo Event!</h2>
      <div class="sort-line">
        <h3 class="active">Agenda</h3>
        <h3>Week</h3>
        <h3>Month</h3>
        <button>
          <i class="fa fa-print"></i>
          <p>Print</p>
        </button>
      </div>
      <ul class="events">
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>Young Writers Program Submission Close</h2>
          <p>Monday, April 30</p>
          <p>7.00AM</p>
          <a class="btn btn-outline-blue">Submit Your Story</a>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>Instagram Live</h2>
          <p>Monday, April 30</p>
          <p>7.00AM - 7.30AM</p>
          <p>Instagram Live</p>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>How to Write Short Stories This May</h2>
          <p>Thursday, May 03</p>
          <p>10.00AM - 10.30AM</p>
          <p>Webcast</p>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>NaNoLitMo</h2>
          <p>Thursday, May 24</p>
          <p>7.00PM - 9.00PM</p>
          <p>Octopus Salon, Oakland CA</p>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>NaNoWriMo at BookCon: The Power of Writing with Abandon</h2>
          <p>Monday, April 30</p>
          <p>7.00AM</p>
          <p>Javits Center Roadway, New York, NY</p>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event camp-nanowrimo accordion">
          <i class="fa fa-angle-down"></i>
          <h2>Camp NaNoWriMo Begins!</h2>
          <p>Monday, April 30</p>
          <p>7.00AM</p>
          <a class="btn btn-outline-blue">Sign Up</a>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
        <li class="event accordion">
          <i class="fa fa-angle-down"></i>
          <h2>NaNoLitMo</h2>
          <p>Monday, April 30</p>
          <p>7.00AM</p>
          <p>Octopus Salon, Oakland, CA</p>
          <i class="far fa-calendar-plus"></i>
          <div class="panel">
            <i class="fa fa-map-marker"></i>
            <div class="details">
              <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
              <a class="btn btn-green" href="">More Details</a>
            </div>
            <div class="description">
              <p><span>Hey, this is a panel</span></p>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
              <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
              <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="dates-range">
        <p>Showing events from <span>April 30</span> to <span>July 25</span>.</p>
        <a href="">Show past events</a>
        <a href="">Show more upcoming events</a>
      </div>
    </div>
  </section>

  <!-- Video Cards -->
  <section class="vid-cards">
    <div class="container">
      <div class="vid-card write-in">
        <h2>Virtual Write-Ins</h2>
        <p>Can't make it to an in-person write-in? Join us at a virtual one, streamed live from NaNoWriMo HQ. After all, writing is that much easier in the company of writers from around the world!</p>
        <button>View All Virtual Write-Ins</button>
        <p>Upcoming Virtual Write-In</p>
        <div class="info-line">
          <a href=""><img src="/images/logged-out/write-in.jpg"></a>
          <div class="info-block">
            <div class="date-line">
              <p>Virtual Write-In</p>
              <p>May 20, 2018</p>
            </div>
            <h3>How to Write Short Stories This May</h3>
          </div>
        </div>
      </div>
      <div class="vid-card youtube">
        <h2>YouTube Guides</h2>
        <p>Every year we partner with bookish YouTube vloggers to provide you with short, fun, weekly noveling tips. This year, we're working with more folks than ever to bring you an expanded Virtual Write-In schedule as well!</p>
        <button>View All YouTube Guides</button>
        <p>Latest YouTube Guide</p>
        <div class="info-line">
          <a href=""><img src="/images/logged-out/youtube.jpg"></a>
          <div class="info-block">
            <div class="date-line">
              <p>YouTube Guide</p>
              <p>May 03, 2018</p>
            </div>
            <h3>NaNoWriMo Week One - Tips on Getting Organized and Motivated! (featuring Farah Shamma)</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Writing Coaches -->
  <section class="coaches">
    <div class="container">
      <h2>Great authors volunteer to be our writing coaches!</h2>
      <div class="author-cards">
        <div class="author-card" data-toggle="modal" data-target="#JaneDoe">
          <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
          <h3>Jane Doe</h3>
          <p>Chief Operating Officer</p>
          <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
        </div>
        <div class="author-card" data-toggle="modal" data-target="#JohnSmith">
          <img src="/images/logged-out/face2.png" alt="Pic of John.">
          <h3>John Smith</h3>
          <p>Thechnical Director</p>
          <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
        </div>
        <div class="author-card" data-toggle="modal" data-target="#SmithSmithsonian">
          <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
          <h3>Smith Smithsonian</h3>
          <p>Lead Forums Moderator</p>
          <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
        </div>
        <div class="author-card" data-toggle="modal" data-target="#SuzyQueue">
          <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
          <h3>Suzy Queue</h3>
          <p>Director of Operations</p>
          <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
        </div>
      </div>
      <a class="btn btn-outline-blue">View All Writers Coaches</a>
    </div>
  </section>

  <!-- About Card Modal Popup -->
  <div class="modal" id="JaneDoe"> <!-- Active class makes modal appear -->
    <div class="overlay"></div>
    <div class="modal-main">
      <div class="close-modal" id="close-modal"><i class="fa fa-times-circle"></i></div>
      <img src="/images/logged-out/face1.png" class="person" alt="Tim Kim">
      <h6 class="name">Jane Doe</h6>
      <div class="title">NaNoWriMo Program Director</div>
      <p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
    </div>
  </div>
  <div class="modal" id="JohnSmith">
    <div class="overlay"></div>
    <div class="modal-main">
      <div class="close-modal" id="close-modal"><i class="fa fa-times-circle"></i></div>
      <img src="/images/logged-out/face2.png" class="person" alt="Tim Kim">
      <h6 class="name">John Smith</h6>
      <div class="title">NaNoWriMo Program Director</div>
      <p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
    </div>
  </div>
  <div class="modal" id="SmithSmithsonian">
    <div class="overlay"></div>
    <div class="modal-main">
      <div class="close-modal" id="close-modal"><i class="fa fa-times-circle"></i></div>
      <img src="/images/logged-out/face3.png" class="person" alt="Tim Kim">
      <h6 class="name">Smith Smithsonian</h6>
      <div class="title">NaNoWriMo Program Director</div>
      <p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
    </div>
  </div>
  <div class="modal" id="SuzyQueue">
    <div class="overlay"></div>
    <div class="modal-main">
      <div class="close-modal" id="close-modal"><i class="fa fa-times-circle"></i></div>
      <img src="/images/logged-out/face4.png" class="person" alt="Tim Kim">
      <h6 class="name">Suzy Queue</h6>
      <div class="title">NaNoWriMo Program Director</div>
      <p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
    </div>
  </div>

  <!-- Call to Action -->
  <section class="connect-final">
    <div class="container">
      <div class="call-card">
        <h2>Many NaNoWriMo participants become published authors!</h2>
        <p>WriMos turned published authors include <span>Sean Eben</span>, <span> Tamara Olson</span>, <span>William Fleming</span>, <span>Sinan Imre</span>, and many more.</p>
        <button class="btn btn-green">View All Published WriMos</button>
      </div>
      <div class="call-card">
        <h2>Sign up for NaNoWriMo and start telling your story!</h2>
        <p>Ready to start your next great writing project, and join the NaNoWriMo community? We're ready to help you get to "The End".</p>
        <button class="btn btn-green">Sign Up For NaNoWriMo</button>
      </div>
    </div>
  </section>

</main>
