<div class="nano-centered">
  <div>
    <div class="nw-login-image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nw-card">
      <div class="nw-card-content">
        <h2 class="nw-card-title">Account Deletion Confirmation</h2>
        <div class='nw-card-instruction'>
          {{#if confirmed}}
            You're account has been deleted.
          {{else}}
            Are you sure you want to delete your NaNoWriMo account? This can not be undone.
          {{/if}}
          {{#if displayForm}}
          <div style="text-align:center; margin-bottom:10px;">
            <button {{action 'confirmDelete'}}>Yes, delete account</button> <br>
            
            <a href="#" {{action 'confirmNoUnsubscribe'}}>NaNoWriMo Home</a>
          </div>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>
