<main class="home-page">
  
  <!-- Hero -->
  <section class="hero home">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">Every story matters. <br>Let's start writing yours.</h1>
        <p class="copy">Writing a novel alone can be difficult, even for seasoned writers. NaNoWriMo helps you track your progress, set milestones, connect with other writers in a vast community, and participate in events that are designed to make sure you finish your novel. Oh, and best of all, it’s free!</p>
        <div class="btn-wrapper">
          {{link-to "Sign Up" "sign-up" class="btn btn-green"}}
          <!--<a href="" class="btn btn-outline">Learn More</a>-->
        </div>
        <div class="cta">Young writers and educators, explore our <a href="https://ywp.nanowrimo.org/">Young Writers Program</a></div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about home">
    <div class="container">
      <div class="wrapper">
        <h6 class="subtitle">So, what is NaNoWriMo?</h6>
        <h4 class="headline">NaNoWriMo is a 501(c)(3) nonprofit organisation that provides <strong>tools, structure, community, and encouragement</strong> to help people find their voices, achieve creative goals, and build new worlds — on and off the page.</h4>
        <p class="copy">NaNoWriMo believes in the transformational power of creativity. We provide the structure, community, and encouragement to help people find their voices, achieve creative goals, and build new worlds—on and off the page.</p>
        <a href="/what-is-nanowrimo" class="btn btn-blue">More about the organization</a>
      </div>
      <img src="/images/logged-out/nano-about.svg" alt="">
    </div>
  </section>

  <!-- Articles -->
  <!--<section class="articles">
    <div class="container">
      <div class="wrapper">
        <div class="card featured">
          <div class="media">
            <img src="/images/logged-out/Screen Shot 2018-04-09 at 1.54.31 PM.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Featured NaNo Prep</div>
              <div class="date">April 3, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft</div>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 1, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 23, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card stackedheight">
          <div class="media">
            <a class="media-wrapper" href="">
              <i class="fas fa-external-link-alt icon"></i>
              <div class="text">To the NaNoWriMo Store!</div>
            </a>
            <img src="/images/logged-out/novelists.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="text-wrapper">
              <div class="title">Great novelists need great gear. Check out our store!</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->

  <!-- Stats -->
  <section class="stats">
    <div class="background" style="background-image: url('/images/logged-out/twitter-feed-bg.png'); background-repeat: no-repeat; background-size:cover;" data-speed="0.3" data-ios-fix="true"></div>
    <div class="container">
      <div class="stat-wrapper">
        <div class="stat">
          <div class="number" id="active-novelists">798,162</div>
          <div class="info">active novelists</div>
        </div>
        <div class="stat">
          <div class="number" id="novels-written">367,913</div>
          <div class="info">novels completed</div>
        </div>
        <!--<div class="stat">
          <div class="number" id="authors-published">7,402</div>
          <div class="info">authors published</div>
        </div>-->
      </div>
      <div class="text-wrapper">
        <h3 class="headline">Your support means no story goes untold.</h3>
        <p class="copy">National Novel Writing Month is a 501(c)(3) nonprofit.</p>
        <a href="https://store.nanowrimo.org/collections/donate" target="_blank" class="btn btn-blue">Donate Now</a>
      </div>
    </div>
  </section>

  <!-- Young Writers Program About Section-->
  <section class="ywp-about">
    <div class="container">
      <div class="text-wrapper">
        <div class="subtitle">What's the Young Writers Program about?</div>
        <h3 class="headline">The Young Writers Program offers <strong>tools, resources, and community access</strong> to help young writers and educators set ambitious creative goals and tackle projects year-round!</h3>
        <p class="copy">Each year, over 100,000 young writers under 18 enjoy our <strong>youth-friendly writing space, progress tracking tools,</strong> and <strong>Young Novelist Workbooks</strong>. Educators can support student skill development with our free Common Core–aligned curricula, online classroom management tools, and motivational classroom materials.</p>
        <a href="https://ywp.nanowrimo.org/" target="_blank" class="btn btn-white">More about the Young Writers Program</a>
      </div>
      <img src="/images/logged-out/YWP Logo.png" alt="Young Writers Program" class="logo">
    </div>
  </section>

  {{behind-the-scenes}}
  
</main>