<div class="content-gutters">
  <div class="container-fluid">
    <div class="nw-spacer">
    </div>
    <div class="nw-panel">
      <div class="nw-flex-6-cols">
        {{cms-offers}}
        <div class="nw-card flex-large">
          <div class='nw-card-header'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        <div class="nw-card flex-medium">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        <div class="nw-card flex-medium">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        <div class="nw-card flex-small">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        <div class="nw-card flex-small">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        <div class="nw-card flex-small">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#">Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
