<main>

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">About NaNoWriMo</h1>
        <p class="copy">NaNoWriMo is a 501(c)(3) nonprofit that believe stories matter. Our programs are made possible by the generous support of writers like you, amazing volunteers, and a full-time staff. Get to know our team!</p>
      </div>
    </div>
	</section>
  
	<!-- About Main Content-->
	<section class="about-content">
		<div class="container">
			<div class="tab-scroll"><div class="tabs">
				<a href="staff.html" class="tab-link active" data-target="#staff">Staff</a>
				<a href="writers-board.html" class="tab-link" data-target="#writers-board">Writers Board</a>
				<a href="directors-board.html" class="tab-link" data-target="#directors-board">Board of Directors</a>
				<a href="directors-board.html" class="tab-link" data-target="#volunteer-authors">Volunteer Authors</a>
				<a href="btyb.html" class="tab-link" data-target="#btyb">Brought to You By...</a>
				<a href="annual-reports.html" class="tab-link" data-target="#annual-reports">Financials &amp; Annual Reports</a>
      </div></div>
      <div class="tab-section active" id="staff">
        <div class="author-cards">
          <div class="author-card" data-toggle="modal" data-target="#TimKim">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p>Chief Operating Officer</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card" data-toggle="modal" data-target="#TimKim2">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p>Thechnical Director</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p>Lead Forums Moderator</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p>Director of Operations</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p>Chief Operating Officer</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p>Thechnical Director</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p>Lead Forums Moderator</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p>Director of Operations</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p>Chief Operating Officer</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p>Thechnical Director</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p>Lead Forums Moderator</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p>Director of Operations</p>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
        </div>
      </div>
      <div class="tab-section" id="writers-board">
        <div class="author-cards">
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
        </div>
      </div>
      <div class="tab-section" id="directors-board">
        <div class="author-cards">
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face1.png" alt="Pic of Jane.">
            <h3>Jane Doe</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum.</p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face2.png" alt="Pic of John.">
            <h3>John Smith</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face3.png" alt="Pic of Smith.">
            <h3>Smith Smithsonian</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
          <div class="author-card">
            <img src="/images/logged-out/face4.png" alt="Pic of Suzy.">
            <h3>Suzy Queue</h3>
            <p class="bio-info">Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. Lorem ipsum lorem ipsum lorem ipsum. </p>
          </div>
        </div>
      </div>
      <div class="tab-section" id="volunteer-authors">
        
      </div>
      <div class="tab-section btyb" id="btyb">
        <h2 class="headline">NaNoWriMo is the product of a superheroic, wondrous community. So many people assembled to keep our nonprofit programs going, including incredible donors like you. <strong>Thank you!</strong></h2>
        <div class="sponsors">
          <h4 class="title">NaNoWriMo 2018 Corporate Sponsors</h4>
          <div class="wrapper">
            <div class="card">
              <img src="/images/logged-out/kindlescout.png" alt="kindlescout" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/scrivener.png" alt="Scrivener. Outline. Edit. Storyboard. Write." class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/butterfly.png" alt="" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/swoonroads.png" alt="SwoonRoads" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/thegreatcoursesplus.png" alt="The Great Courses Plus" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/dabble.png" alt="Dabble. Craft your story." class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/kindlescout.png" alt="kindlescout" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/scrivener.png" alt="Scrivener. Outline. Edit. Storyboard. Write." class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/butterfly.png" alt="" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/swoonroads.png" alt="SwoonRoads" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/thegreatcoursesplus.png" alt="The Great Courses Plus" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/dabble.png" alt="Dabble. Craft your story." class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/kindlescout.png" alt="kindlescout" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/scrivener.png" alt="Scrivener. Outline. Edit. Storyboard. Write." class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/butterfly.png" alt="" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/swoonroads.png" alt="SwoonRoads" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/thegreatcoursesplus.png" alt="The Great Courses Plus" class="logo">
            </div>
            <div class="card">
              <img src="/images/logged-out/dabble.png" alt="Dabble. Craft your story." class="logo">
            </div>
          </div>
        </div>
        <div class="tab-scroll"><div class="tabs">
          <a href="" class="tab-link active" data-target="#monthly-donors">Monthly Donors</a>
          <a href="" class="tab-link" data-target="#supporting-donors">Supportings Donors</a>
          <a href="" class="tab-link" data-target="#major-donors">Major Donors</a>
          <a href="" class="tab-link" data-target="#funding-donors">Funding Donors</a>
        </div></div>
        <div class="tab-section active" id="monthly-donors">
            <div class="donor-names">Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur.</div>
        </div>
        <div class="tab-section" id="supporting-donors">
            <div class="donor-names">Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur.</div>
        </div>
        <div class="tab-section" id="major-donors">
            <div class="donor-names">Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur.</div>
        </div>
        <div class="tab-section" id="funding-donors">
            <div class="donor-names">Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur, Kat C, Jane Elise, Barbara Silcox, Heather C Wright, Kate Pilato, Kara Dennison, Amaya Ells, BD Wilson, TL Brooks, Kathe Perez, Shannon Kauderer, L Becker, Amber N. Jernigan, Caro Kinkead, Samantha Potter, Jess Yacovelle, Denise Swoveland, Elle C., JugglingWally, Spokane River Writers, Preemie Maboroshi, Patricia West Hays, Kelly Mead, Hazel Rose, owlbearwhisperer, KatPalmer, Mykah Quinn, Sarah E. Biglow, Shannon Denaux, Myra Daniel, Lynn Ellyn Robinson, MS, MichelleMPJ, Bella Cook, ihatepeas, Tia Bearden, Danica West, Melissa Plantz, Michele Riccio, Utoxin, MotleySu, sreya bremtin, Jenai May, V. Hartman, DiSanto, Allan T. Ritchie, Samantha Sterling, Harry Meier, Bernadette M. Martinez, Sono Yuu (OEL Yaoi Novels), Lehrer, Matthew Schnur.</div>
        </div>
        <div class="credit-people">
          <h4 class="title">Additional thanks to a bunch of wonderful people!</h4>
          <div class="wrapper">
            <div class="group">
              <div class="group-title">Volunteers</div>
              <p class="person">Our incredible <a class="name">Municipal Liaisons</a>. Pound for pound, you're the most heroic team we know.</p>
              <p class="person">Our <a class="name">forum moderators</a>. These folks keep our comunity welcoming and safe for novelists young and old.</p>
              <p class="person"><a class="name">Emily Bristow</a>, who busts spam like it's going out of style. (This should be any day now, right? Right?)</p>
              <p class="person">Our <a class="name">Come Write In</a> librarians, bookstore staff, and more. Thanks for letting enthusiastic writers turn your spaces into creative headquarters.</p>
              <p class="person">Our <a class="name">NaNo Ambassadors</a>: you help tell the world about what we do.</p>
            </div>
            <div class="group">
              <div class="group-title">Artists and Designers</div>
              <p class="person"><a class="name">Sebastian Abboud</a> pulled double duty this year and worked his talents on our 2017 theme—"Unleash your creative superpowers."— and our summer fundraising drive for a 2018 redesign.</p>
              <p class="person"><a class="name">Graham Dobson</a> has been our go-to designer for so many things for so many years. We love and adore him.</p>
              <p class="person"><a class="name">Elizabeth Doyle</a> is another favorite designer—this year, she brought her impeccable eye and magical touch to our 2016 Annual Report.</p>
              <p class="person"><a class="name">Andy Gregg</a> returned to design yet another incredible Night of Writing Dangerously poster. He just gets better and better.</p>
            </div>
            <div class="group">
              <div class="group-title">Board of Directors</div>
              <p class="person">Julie Barton, Chris Baty, Buster Benson, Karima Cammell, Sharon McKellar, Paul Oh, Justin Quimby, Julie Russell, Tony Shen, Michael Sippey, and Jason Snell keep our minds on the big picture of our organization. <a href="" class="name">See them here</a></p>
            </div>
            <div class="group">
              <div class="group-title">Writers Board</div>
              <p class="person">Gennifer Albin, Melissa Anelli, Susan Dennard, Mignon Fogarty, Kami Garcia, Rachael Herron, Hugh Howey, Maureen Johnson, Darynda Jones, Niall Leonard, Marissa Meyer, Daniel José Older, Mitali Perkins, and Scott Westerfeld are inspiring, amazing, and so gracious when we get starstruck talking to them. <a href="" class="name">See them here</a></p>
            </div>
            <div class="group">
              <div class="group-title">Interns</div>
              <p class="person">We literally have the best interns. They can do anything, and will soon be changing the world in even bigger ways. NaNo 2017 wouldn’t be the same without the talents of Nicholas Fierro, Maddi Porter, and Kristen Sibbald.</p>
            </div>
            <div class="group">
              <div class="group-title">You</div>
              <p class="person">If you’ve ever written us a nice email, posted about us on social media, or just told a friend about NaNoWriMo, we appreciate you. We’re proud of this strong community, and people like you make it even better every day. Thank you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-section annual-reports" id="annual-reports">
        <div class="preheadline">Mission Statement</div>
        <h2 class="headline">National Novel Writing Month believes in the transformational power of creativity. We provide the structure, community, and encouragement to help people find their voices, achieve creative goals, and build new worlds—on and off the page</h2>
        <div class="reports">
          <h4 class="title">Past annual reports</h4>
          <div class="wrapper">
            <div class="card">
              <img src="/images/logged-out/2016-annual-report.png" alt="2016 Annual Report" class="report-image">
              <div class="caption">2016 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2015-annual-report.png" alt="2015 Annual Report" class="report-image">
              <div class="caption">2015 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2014-annual-report.png" alt="2014 Annual Report" class="report-image">
              <div class="caption">2014 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2013annualreport.png" alt="2013 Annual Report" class="report-image">
              <div class="caption">2013 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2012annualreport.png" alt="2012 Annual Report" class="report-image">
              <div class="caption">2012 Annual Report</div>
            </div>
          </div>
        </div>
        <div class="reports">
          <h4 class="title">Past 990 reports</h4>
          <div class="wrapper">
            <div class="card">
              <img src="/images/logged-out/2016-annual-report.png" alt="2016 Annual Report" class="report-image">
              <div class="caption">2016 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2015-annual-report.png" alt="2015 Annual Report" class="report-image">
              <div class="caption">2015 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2014-annual-report.png" alt="2014 Annual Report" class="report-image">
              <div class="caption">2014 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2013annualreport.png" alt="2013 Annual Report" class="report-image">
              <div class="caption">2013 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2012annualreport.png" alt="2012 Annual Report" class="report-image">
              <div class="caption">2012 Annual Report</div>
            </div>
          </div>
        </div>
        <div class="reports">
          <h4 class="title">Past financial infographics</h4>
          <div class="wrapper">
            <div class="card">
              <img src="/images/logged-out/2016-annual-report.png" alt="2016 Annual Report" class="report-image">
              <div class="caption">2016 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2015-annual-report.png" alt="2015 Annual Report" class="report-image">
              <div class="caption">2015 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2014-annual-report.png" alt="2014 Annual Report" class="report-image">
              <div class="caption">2014 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2013annualreport.png" alt="2013 Annual Report" class="report-image">
              <div class="caption">2013 Annual Report</div>
            </div>
            <div class="card">
              <img src="/images/logged-out/2012annualreport.png" alt="2012 Annual Report" class="report-image">
              <div class="caption">2012 Annual Report</div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</section>

	<!-- About Card Modal Popup -->
	<div class="modal" id="TimKim"> <!-- Active class makes modal appear -->
		<div class="overlay"></div>
		<div class="modal-main">
			<div class="close-modal" id="close-modal"><i class="fas fa-times-circle"></i></div>
			<img src="/images/logged-out/tim kim.png" class="person" alt="Tim Kim">
			<h6 class="name">Tim Kim</h6>
			<div class="title">NaNoWriMo Program Director</div>
			<p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
		</div>
  </div>
  <div class="modal" id="TimKim2">
		<div class="overlay"></div>
		<div class="modal-main">
			<div class="close-modal" id="close-modal"><i class="fas fa-times-circle"></i></div>
			<img src="/images/logged-out/tim kim.png" class="person" alt="Tim Kim">
			<h6 class="name">Tim Kim</h6>
			<div class="title">NaNoWriMo Program Director</div>
			<p class="copy">As Director of Communications, Tim oversees communications, including the blog, newsletter, and general updates from HQ. In other words, he is a glorified town caller. Please feel free to picture him with a speaking-trumpet, as it is his accoutrement of choice—preferably bedazzled rather majestically to separate him from the other town callers. As a former NaNoWriMo intern himself, Tim also oversees our intern program, the most difficult part of which is frantically searching for ways to permanently retain these fantastic folks.<br><br>Tim has worked for Once, Wired, and San Francisco magazines, as well as at Condé Nast. He is searching for new ways to humble-brag about the fact that he is only two degrees of separation away from Taylor Swift, and that his dog is possibly the cutest dog ever.</p>
		</div>
	</div>

  <!-- About -->
  <section class="about">
		<div class="container">
			<div class="wrapper">
				<h6 class="subtitle">See what we’re up to at NaNo HQ…</h6>
				<h4 class="headline">NaNoWriMo runs monthly writing events and supports creative writers year-round.</h4>
				<p class="copy">November is National Novel Writing Month, but don't wait to commit to your next great writing project! NaNoWriMo supports writing all year long with resources, webcasts, meet-ups, and more.</p>
				<a href="" class="btn btn-blue">Connect with NaNoWriMo</a>
			</div>
			<img src="/images/logged-out/nano-helment-logo.svg" alt="NaNoWriMo Shield Logo">
		</div>
	</section>

</main>
