<section class="hero">
  <div class="container">
    <div class="wrapper">
      <h1 class="headline">NaNoWriMo Pep Talks</h1>
      <p class="copy">Pep talks are inspirational letters written by well-known authors during NaNoWriMo just for you. Need some inspiration or motivation? Check out our archive!</p>
    </div>
  </div>
</section>

<!-- About Main Content-->
<section class="about-content">
	<div class="container">
  </div>
</section>
