<main>
  <div class="content-gutters">
    <div class="container-fluid">
      <div class="nano-panel">
        <div class="nano-card">
          <div class="nano-subcard">
            <div class="nano-subcard-face face-front filled-grey">
              <div class="nano-subcard-header">
                <div class="corner-label">Pep Talks</div>
              </div>
              <div class="nano-subcard-content center-vertically center-horizontally" style="background-image: url('/images/cards/homeregion.svg')">
                <p>Pep talks coming soon!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>