<main>

  <!-- Hero -->
  <section class="press-hero hero">
    <div class="container">
      <div class="wrapper">
        <h1>NaNoWriMo is a 501(c)(3) nonprofit that believes your story matters.</h1>
        <p>Our mission statement: National Novel Writing Month believes in the transformational power of creativity. We
          provide the structure, community, and encouragement to help people find their voices, achieve creative goals,
          and build new worlds—on and off the page.</p>
      </div>
    </div>
  </section>

  <!-- Quick Facts -->
  <section class="press-facts">
    <div class="container">
      <h2>A few quick facts from 2016.</h2>
      <div class="stat-wrapper">
        <div class="stat">
          <h2 class="number" id="young-writers">384,126</h2>
          <p class="info">Young Writers Program participants</p>
        </div>
        <div class="stat">
          <h2 class="number" id="municipal-volunteers">928</h2>
          <p class="info">Municipal Liasons volunteered across 6 continents and within 646 regions</p>
        </div>
        <div class="stat">
          <h2 class="number" id="come-write">1,168</h2>
          <p class="info">Locations opened their doors for the Come Write In program</p>
        </div>
        <div class="stat">
          <h2 class="number" id="campers">60,951</h2>
          <p class="info">Campers tackled a writing project at Camp NaNoWriMo</p>
        </div>
      </div>
    </div>
  </section>

  <!-- NaNo in the News -->
  <section class="nano-news">
    <div class="container">
      <h2>Find NaNoWriMo in the news</h2>
      <ul class="news-list">
        <li class="article-line">
          <h3>NaNoWriMo Is Big for Writers - and It Helps Publishers, Too</h3>
          <p>Publishers Weekly</p>
          <a class="btn" href="#">Read Article</a>
        </li>
        <li class="article-line">
          <h3>National Novel Writing Month: Writing 50,000 words with 10 other writers - in a castle</h3>
          <p>CNN</p>
          <a class="btn" href="#">Read Article</a>
        </li>
        <li class="article-line">
          <h3>8 Best-Selling Books Written During NaNoWriMo That Show You It Can Be Done</h3>
          <p>The Bustle</p>
          <a class="btn" href="#">Read Article</a>
        </li>
        <li class="article-line">
          <h3>Peer Pressure at Camp NaNoWriMo</h3>
          <p>The Huffington Post</p>
          <a class="btn" href="#">Read Article</a>
        </li>
        <li class="article-line">
          <h3>20,000 New Yorkers Just Tried to Write a Novel In a Month</h3>
          <p>The New York Observer</p>
          <a class="btn" href="#">Read Article</a>
        </li>
        <li class="article-line">
          <h3>National Novel Writing Month Heads Into 16th Year</h3>
          <p>NPR</p>
          <a class="btn" href="#">Read Article</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Published WriMos -->
  <section class="published-wrimos">
    <div class="container">
      <div class="info-block">
        <h2>Thousands of NaNoWriMo participants become published authors!</h2>
        <p>WriMos turned published authors include <span>Sara Gruen</span>, <span>Erin Morgenstern</span>, <span>Hugh
            Howey</span>, <span>Rainbow Rowell</span>, <span>Jason Hough</span>, <span>Marissa Meyer</span> and many
          more.</p>
        <a class="btn btn-blue" href="#">View All Published WriMos</a>
      </div>
      <img src="/images/logged-out/book-stack.png">
    </div>
  </section>

  <!-- Logo Use -->
  <section class="logo-use">
    <div class="container">
      <div class="text-block">
        <p>Can I use your awesome logos?</p>
        <h2>View and learn how to use our official NaNoWriMo logos.</h2>
        <p>Click through for full-size images. Please accompany all usage of logos with: "Image courtesy of National
          Novel Writing Month."</p>
        <a class="btn btn-white" href="#">Download Our Logos</a>
      </div>
      <div class="image-block">
        <img class="crest" src="/images/logged-out/crest.png" alt="full size NaNoWriMo logo with text for use">
      </div>
      <div class="image-block">
        <img class="crest-name" src="/images/logged-out/crest-namex2.png" alt="full size NaNoWriMo logo for use">
      </div>
    </div>
  </section>

  <!-- Past Press -->
  <section class="nano-news past-press">
    <div class="container">
      <h2>Press releases from the past</h2>
      <ul class="news-list">
        <li class="article-line">
          <h3>NaNoWriMo Is Big for Writers - and It Helps Publishers, Too</h3>
          <p>Sept 27, 2017</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
        <li class="article-line">
          <h3>National Novel Writing Month: Writing 50,000 words with 10 other writers - in a castle</h3>
          <p>Oct 25, 2016</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
        <li class="article-line">
          <h3>8 Best-Selling Books Written During NaNoWriMo That Show You It Can Be Done</h3>
          <p>Nov 5, 2015</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
        <li class="article-line">
          <h3>Peer Pressure at Camp NaNoWriMo</h3>
          <p>Sept 25, 2015</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
        <li class="article-line">
          <h3>20,000 New Yorkers Just Tried to Write a Novel In a Month</h3>
          <p>Oct 16, 2014</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
        <li class="article-line">
          <h3>National Novel Writing Month Heads Into 16th Year</h3>
          <p>Oct 7, 2013</p>
          <a class="btn" href="#">Read Press Release</a>
        </li>
      </ul>
      <h2>Didn't find what you need above? Get in touch with our team.</h2>
      <a href="#">Make a Press Inquiry</a>
    </div>
  </section>

</main>