<main class="programming-and-impact">

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">NaNoWriMo has programs for writers of all ages throughout the year.</h1>
        <p class="copy">Our programs support nearly half a million writers around the world, including 80,000 young writers in classrooms. We focus on building self-efficacy, developing writing fluency, and making the joy of creative self-expression accessible to everyone.</p>
      </div>
    </div>
  </section>

  <!-- Top Navigation -->
  <section class="navigation">
    <div class="container">
      <div class="wrapper">
        <a href="" class="nav-link" data-target="#nanowrimo">NaNoWriMo</a>
        <a href="" class="nav-link">Young Writers Program</a>
        <a href="" class="nav-link nav-link-current" data-target="#the-now-what-months">The "Now What?" Months</a>
        <a href="" class="nav-link">Camp NaNoWriMo</a>
        <a href="" class="nav-link">Come Write In</a>
        <a href="" class="nav-link">Writers Resources</a>
      </div>
    </div>
  </section>

  <div class="tab-section active" id="the-now-what-months">

    <!-- About -->
    <section class="about">
      <div class="container">
        <div class="wrapper">
          <h4 class="headline"><strong>We support the revision and publishing process.</strong></h4>
          <p class="copy">It’s an extension of our anything-goes, wombat-infused noveling philosophy, with the added aim of helping you fulfill your novel’s potential: from first draft to final.</p>
          <a href="" class="btn btn-blue">Explore "Now What" Resources</a>
        </div>
        <img src="/images/logged-out/the now what months.png" alt='The "Now What?" Months'>
      </div>
    </section>

    <!-- Events List -->
    <section class="events-block">
      <div class="container">
        <h2 class="heading">Participate in a NaNoWriMo Event!</h2>
        <div class="sort-line">
          <h3 class="active">Agenda</h3>
          <h3>Week</h3>
          <h3>Month</h3>
          <button>
            <i class="fas fa-print"></i>
            <p>Print</p>
          </button>
        </div>
        <div class="events">
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>Short Story Month Virtual Write-In</h2>
            <p>Friday, May 11</p>
            <p>8.00AM</p>
            <a class="btn btn-outline-blue">Submit Your Story</a>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>NaNoLitMo</h2>
            <p>Thursday, May 24</p>
            <p>7.00PM - 9.00PM</p>
            <p>Octopus Salon, Oakland CA</p>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>NaNoWriMo at BookCon: The Power of Writing with Abandon</h2>
            <p>Monday, April 30</p>
            <p>7.00AM</p>
            <p>Javits Center Roadway, New York, NY</p>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event camp-nanowrimo accordion">
            <i class="fas fa-angle-down"></i>
            <h2>Camp NaNoWriMo Begins!</h2>
            <p>Monday, April 30</p>
            <p>7.00AM</p>
            <a class="btn btn-outline-blue">Sign Up</a>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="dates-range">
          <p>Showing events from <span>April 30</span> to <span>July 25</span>.</p>
          <a href="">Show past events</a>
          <a href="">Show more upcoming events</a>
        </div>
      </div>
    </section>

  </div>

  <div class="tab-section" id="nanowrimo">

    <!-- About -->
    <section class="about">
      <div class="container">
        <div class="wrapper">
          <h4 class="headline"><strong>We support the revision and publishing process.</strong></h4>
          <p class="copy">It’s an extension of our anything-goes, wombat-infused noveling philosophy, with the added aim of helping you fulfill your novel’s potential: from first draft to final.</p>
          <a href="" class="btn btn-blue">Explore "Now What" Resources</a>
        </div>
        <img src="/images/logged-out/the now what months.png" alt='The "Now What?" Months'>
      </div>
    </section>

    <!-- Events List -->
    <section class="events-block">
      <div class="container">
        <h2 class="heading">Participate in a NaNoWriMo Event!</h2>
        <div class="sort-line">
          <h3 class="active">Agenda</h3>
          <h3>Week</h3>
          <h3>Month</h3>
          <button>
            <i class="fas fa-print"></i>
            <p>Print</p>
          </button>
        </div>
        <div class="events">
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>Short Story Month Virtual Write-In</h2>
            <p>Friday, May 11</p>
            <p>8.00AM</p>
            <a class="btn btn-outline-blue">Submit Your Story</a>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>NaNoLitMo</h2>
            <p>Thursday, May 24</p>
            <p>7.00PM - 9.00PM</p>
            <p>Octopus Salon, Oakland CA</p>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event accordion">
            <i class="fas fa-angle-down"></i>
            <h2>NaNoWriMo at BookCon: The Power of Writing with Abandon</h2>
            <p>Monday, April 30</p>
            <p>7.00AM</p>
            <p>Javits Center Roadway, New York, NY</p>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
          <div class="event camp-nanowrimo accordion">
            <i class="fas fa-angle-down"></i>
            <h2>Camp NaNoWriMo Begins!</h2>
            <p>Monday, April 30</p>
            <p>7.00AM</p>
            <a class="btn btn-outline-blue">Sign Up</a>
            <i class="far fa-calendar-plus"></i>
            <div class="panel">
              <i class="fas fa-map-marker"></i>
              <div class="details">
                <a href=""><span>The Octopus Literary Salon</span><br>2101 Webster St #170<br>Oakland, CA 94612<br>USA</a>
                <a class="btn btn-green" href="">More Details</a>
              </div>
              <div class="description">
                <p><span>Hey, this is a panel</span></p>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum .</p>
                <p><span>Anne Raeff's</span> short story collection, The Jungle Around Us, won the 2015 Flannery O'Connor Award for Short Fiction. The collection was also a finalist for the California Book Award and was on The San Francisco Chronicle's 100 Best Books of 2017 list. Her second novel, Winter Kept Us Warm, was just published in February, 2018. </p>
                <p><span>Lori Ostlund’s</span> first book, a story collection entitled The Bigness of the World, won the Flannery O’Connor Award and the California Book Award for First Fiction. Her stories have appeared in the Best American Short Stories and the PEN/O. Henry Prize Stories and in literary journals such as ZYZZYVA and New England Review. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="dates-range">
          <p>Showing events from <span>April 30</span> to <span>July 25</span>.</p>
          <a href="">Show past events</a>
          <a href="">Show more upcoming events</a>
        </div>
      </div>
    </section>

  </div>

  <!-- Callouts -->
  <section class="callouts">
    <div class="container">
      <div class="wrapper">
          <div class="text-wrapper">
            <img src="/images/logged-out/goal-tracker.svg" class="icon" alt="Set new goals for your novel. Introducing goal trackers!">
            <h3 class="headline">Set new goals for your novel. Introducing goal trackers!</h3>
            <p class="copy">Use our Goal Trackers to set a creative goal for the beginning of the year, whether you want to keep track of the words added to your draft, or the hours you spend revising.</p>
            <a href="" class="btn btn-green">Track your next creative goal</a>
          </div>
          <div class="text-wrapper">
            <img src="/images/logged-out/globe-pinpoint.svg" class="icon" alt="It takes a whole lot of donors and sponsors to make NaNoWriMo happen.">
            <h3 class="headline">Find a community of writers and critique partners.</h3>
            <p class="copy">As always, there’s no better encouragement than your fellow writers. Meet beta readers and sympathetic ears.</p>
            <a href="" class="btn btn-green">Find Other WriMos in Now What Forums</a>
          </div>
      </div>
    </div>
  </section>

  <!-- Articles -->
  <section class="articles">
    <div class="container">
      <h3 class="headline">Resources to help you make a revision and publishing plan.</h3>
      <div class="wrapper">
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 1, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 23, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="media">
            <img src="/images/logged-out/Image.png" alt="Truth &amp; Dare with NaNoWriMo: Giving Yourself Permission to Write a Sloppy First Draft">
          </div>
          <div class="body">
            <div class="info">
              <div class="category">Pep Talk</div>
              <div class="date">April 2, 2018</div>
            </div>
            <div class="text-wrapper">
              <div class="title">Grant Faulkner: Keep Moving Forward, One Word at a Time</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sort">
        <a href="" class="left-arrow arrow">
          <i class="fas fa-arrow-left"></i>
        </a>
        <a href="" class="page active">1</a>
        <a href="" class="page">2</a>
        <a href="" class="page">3</a>
        <a href="" class="page">4</a>
        <a href="" class="page">5</a>
        <div class="page">...</div>
        <a href="" class="page">15</a>
        <a href="" class="right-arrow arrow">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Testomonials -->
  <section class="testimonials">
    <div class="container">
      <img src="/images/logged-out/Quote Sign.svg" class="quote-sign">
      <div class="testimonial-wrapper">
        <div class="testimonial">
          <p class="copy">The NaNoWriMo community is so supportive, everyone is pulling for you, regardless of where you live or what language you speak. Now, where there was creative deadness, my mind is bursting at the seams with ideas and stories.</p>
          <div class="author">
            <div class="person">Graeme McMillan</div>
            <div class="info">TIME Magazine</div>
            <img src="/images/logged-out/time.png" alt="TIME Magazine">
          </div>
        </div>
        <div class="testimonial">
          <p class="copy">The NaNoWriMo community is so supportive, everyone is pulling for you, regardless of where you live or what language you speak. Now, where there was creative deadness, my mind is bursting at the seams with ideas and stories.</p>
          <div class="author">
            <div class="person">Graeme McMillan</div>
            <div class="info">TIME Magazine</div>
            <img src="/images/logged-out/time.png" alt="TIME Magazine">
          </div>
        </div>
        <div class="testimonial">
          <p class="copy">The NaNoWriMo community is so supportive, everyone is pulling for you, regardless of where you live or what language you speak. Now, where there was creative deadness, my mind is bursting at the seams with ideas and stories.</p>
          <div class="author">
            <div class="person">Graeme McMillan</div>
            <div class="info">TIME Magazine</div>
            <img src="/images/logged-out/time.png" alt="TIME Magazine">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stats -->
  <section class="stats">
    <div class="background"></div>
    <div class="container">
      <div class="stat-wrapper">
        <div class="stat">
          <div class="number" id="nanowrimo-participants">306,230</div>
          <div class="info">NaNoWriMo Participants</div>
        </div>
        <div class="stat">
          <div class="number" id="ywp-educators">95,912</div>
          <div class="info">Young Writers Program student and educator participants</div>
        </div>
        <div class="stat">
          <div class="number" id="writing-projects">65,962</div>
          <div class="info">writing projects during Camp NaNoWriMo</div>
        </div>
        <div class="stat">
          <div class="number" id="municipal-liaison">972</div>
          <div class="info">Municipal Liaison volunteers in 646 regions internationally</div>
        </div>
        <div class="stat">
          <div class="number" id="lorem-ipsum-1">123,456</div>
          <div class="info">Lorem Ipsum</div>
        </div>
        <div class="stat">
          <div class="number" id="lorem-ipsum-2">1,837,591</div>
          <div class="info">Lorem Ipsum</div>
        </div>
        <div class="stat">
          <div class="number" id="lorem-ipsum-3">7,402</div>
          <div class="info">Lorem Ipsum</div>
        </div>
        <div class="stat">
          <div class="number" id="lorem-ipsum-4">7,402</div>
          <div class="info">Lorem Ipsum</div>
        </div>
      </div>
      <div class="text-wrapper">
        <h3 class="headline">Your support means no story goes untold.</h3>
        <p class="copy">NaNoWriMo is a 501(c)(3) nonprofit that believe stories matter. We're powered by donations from writers like you. Please give to make the world a better, more creative place.</p>
        <a href="" class="btn btn-green">Donate now</a>
      </div>
    </div>
  </section>

  <!-- NaNo Press -->
  <section class="nano-press">
    <div class="container">
      <div class="headline">NaNoWriMo in the news...</div>
      <div class="image-wrapper">
        <img src="/images/logged-out/writersdigest.png" class="logo" alt="">
        <img src="/images/logged-out/newyorktimes.png" class="logo" alt="">
        <img src="/images/logged-out/bookforum.png" class="logo" alt="">
        <img src="/images/logged-out/SF Chronicle.png" class="logo" alt="">
        <img src="/images/logged-out/USA TODAY.png" class="logo" alt="">
        <img src="/images/logged-out/publishersweekly.png" class="logo" alt="">
      </div>
      <div class="btn-wrapper">
        <a href="" class="btn btn-blue">Read more NaNoWriMo Press</a>
      </div>
    </div>
  </section>

</main>
