<div class='nw-panel'>
  <div class='nw-card'>
    <h2>Revert Email</h2>
    {{#if attemptingVerification}}
      attempting email reversion...
    {{else}}  
      {{#if successMessage}}
        {{successMessage}}
      {{else}}
        <div class='alert alert-error'>
          {{errorMessage}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>


