<div class="nano-panel">
  <div class="col">
    <h2>Sign Up</h2>

    {{sign-up-form
      changeset=(changeset signUpAttempt validationsForCurrentStep)
      isStepOne=isStepOne
      switchStep=(action "switchStep")
      submit=(action "signUp")
    }}

    <hr />

    <p>{{link-to 'Sign In' 'sign-in'}}</p>
  </div>
</div>
