<div class="nano-panel">
  <div class="col">
    <h2>Sign Up</h2>

    {{sign-up-form
      changeset=(changeset signUpAttempt SignUpAttemptValidations)
      afterSubmit=(action "afterSubmit")
    }}

    <hr />

    <p>{{link-to 'Sign In' 'sign-in'}}</p>
  </div>
</div>
