<h2>Sign Up</h2>

<form {{action "createUser" on="submit"}}>
  {{input name="username" value=user.username}}

  <input type="submit" value="Sign Up" />
</form>

<p>{{link-to 'Sign In' 'sign-in'}}</p>
