<div class="nano-centered">
  <div>
    <div class="login_image"><img src="login_image.svg" alt="" /></div>
    <div class="nano-card login">

      <h2 class="card-title">Welcome back! Just keep writing, writing, and writing...</h2>

      <form {{action "validateAndSubmit" on="submit"}}>
        <div class="form-group">
          {{validated-input
            autocomplete="email"
            autofocus=true
            errors=changeset.errors
            hasAttemptedSubmit=hasAttemptedSubmit
            label="Email"
            name="email"
            placeholder="user@domain.com"
            type="email"
            value=changeset.email
          }}
        </div>
        <div class="form-group">
          {{password-field f=f}}
        </div>

        <button data-test-sign-in-submit type="submit" class="btn btn-primary">Sign In</button>
      </form>
      <p>{{link-to 'Sign Up' 'sign-up'}}</p>
      <div class="nano-hr">OR</div>
      <button data-test-sign-in-submit class="btn nano-blue">Continue with Facebook</button>
      <button data-test-sign-in-submit class="btn nano-red">Continue with Google</button>
    </div>
  </div>
</div>
