<div class="nano-centered">
  <div>
    <div class="nw-login-image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nw-card">
      <div class="nw-card-content">
        <h2 class="nw-card-title">Email Unsubscribe</h2>
        <div class='nw-card-instruction'>
          {{cardInstruction}}
          {{#if displayForm}}
          <div>
            <button {{action 'confirmUnsubscribe'}}>Yes, unsubscribe me</button><button {{action 'confirmNoUnsubscribe'}}>No thank you</button>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
 {{queryParams.token}}
