<main>

  <!-- Hero -->
  <section class="hero support">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline"><span>Looking for more ways to support NaNoWriMo?</span></h1>
        <p class="copy">If you can't donate directly right now, or are looking for more ways to support our nonprofit, there are a bunch of opportunities to partner in our mission to build a better, more creative world!</p>
        <div class="btn-wrapper">
          <a href="" class="btn btn-green">About Our Impact</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Facebook Fundraiser -->
  <section class="fb-fundraiser">
    <div class="container">
      <p>How else can I help?</p>
      <h2>Create a <span>Facebook fundraiser</span> for NaNoWriMo.</h2>
      <p>National Novel Writing Month uses Facebook as its participant fundraising platform. We chose it for two reasons:</p>
      <ol>
        <li>
          If you already use Facebook, set-up is quick and seamless. (AKA, one less service to sign up for!)
        </li>
        <li>
          You'll be able to reach your friends and family where they already are.
        </li>
      </ol>
      <p>If you have any questions about fundraising via Facebook, please contact us via the link in the footer.</p>
      <a class="btn btn-blue" href="#">Start Fundraising</a>
      <a class="btn btn-outline-blue" href="#">Learn More</a>
    </div>
  </section>

  <!-- Ways to Support -->
  <section class="support-cards">
    <div class="container">
      <h2>There are many other ways to support NaNoWriMo</h2>
      <ul class="cards">
        <li class="support-card">
          <h2>Give by shopping through AmazonSmile</h2>
          <p>Shopping through AmazonSmile automatically donates 0.5% of the price of your eligible purchases to NaNoWriMo—at no extra cost to you.</p>
          <p>To choose to donate to NaNoWriMo, click the button below, then log in to your Amazon account. Then just continue to shop. Make sure you shop through AmazonSmile every time you log on to keep contributing!</p>
          <a class="btn btn-green" href="#">Support NaNoWriMo Through AmazonSmile</a>
          <!-- <img src="img/amz-smile.png"> -->
        </li>
        <li class="support-card">
          <h2>Give by buying a Writer's Digest noveling kit.</h2>
          <p>Writer’s Digest is selling a 30-day noveling kit—and they’re giving 30% of the proceeds to NaNoWriMo through the end of November 2017.</p>
          <p>In this value pack, award-winning authors share practical techniques for developing plots, staying motivated and managing competing priorities during the novel writing process. With sample worksheets, schedules and outlines from best-selling stories to guide you, you’ll get your novel idea on paper in the quickest and most efficient way possible. You’ll be armed with every tool you need to get creativity flowing, stay motivated, and complete a best-seller during NaNoWriMo!</p>
          <a class="btn btn-green" href="#">Support NaNoWriMo by Getting Your 30-Day Noveling Kit</a>
          <!-- <img src="img/novel-kit.png"> -->
        </li>
        <li class="support-card">
          <h2>Give by buying books.</h2>
          <p>Believe it or not, you can also help National Novel Writing Month by doing a favorite activity of every writer: buying books and writing supplies.</p>
          <div class="button-block">
            <div class="digest">
              <a class="btn btn-green" href="#">Buy Through Writer's Digest</a>
              <p>Writer's Digest will also donate 12% for each book purchase you make here.</p>
            </div>
            <div class="amazon">
              <a class="btn btn-green" href="#">Buy Through Amazon</a>
              <p>Amazon donates 6% of every purchase you make if you begin by clicking through this link, whether you buy the latest bestseller or a laptop.</p>
            </div>
          </div>
          <!-- <img src="img/books.png"> -->
        </li>
        <li class="support-card">
          <h2>Give by buying a custom scarf of your novel.</h2>
          <p>Celebrate literary abandon with a unique, custom-made scarf featuring the words of your story. Yes, you can wear your novel around your neck! Litographs will donate $12 per scarf to NaNoWriMo, and they offer free shipping within the United States.</p>
          <a class="btn btn-green" href="#">Support NaNoWriMo by Purchasing Your Custom Scarf</a>
          <!-- <img src="img/scarf.png"> -->
        </li>
        <li class="support-card">
          <h2>Donate through your daily activities.</h2>
          <p>Use <span>Goodsearch.com</span> to search the web—you’ll earn a penny for NaNoWriMo with every search.</p>
          <p>Use <span>Goodshop.com</span> to shop online—choose from over 7,000 major stores (like iTunes, Barnes & Noble, and Target) and 100,000 coupons, and earn a percentage of each purchase for NaNoWriMo.</p>
          <div>
            <a class="btn btn-green" href="#">Visit Goodsearch.com</a>
            <a class="btn btn-green" href="#">Visit Goodshop.com</a>
          </div>
          <!-- <img src="img/good.png"> -->
        </li>
        <li class="support-card">
          <h2>Ask your company to match your donation.</h2>
          <p>If you work for a sizable company, chances are good that your employer will match your donation. In the past, National Novel Writing Month has received doubled (and even tripled!) matches from companies like Apple, Google, Intel, JC Penney, Wells Fargo, and many more.</p>
          <a class="btn btn-green" href="#">Find Out If Your Company Will Match Your Donation</a>
        </li>
        <li class="support-card">
          <h2>Give by donating your car or vehicle.</h2>
          <p>You can “drive” creativity by donating your vehicle through Donate Car USA. Your donated vehicle will be sold at auction, and the proceeds will go to NaNoWriMo.</p>
          <a class="btn btn-green" href="#">Donate Your Vehicle Today</a>
        </li>
        <li class="support-card">
          <h2>Become a NaNoWriMo Ambassador</h2>
          <p>Love NaNoWriMo and want to lend a hand? Consider the internet your hometown? Join our intrepid team of NaNoWriMo Ambassadors!</p>
          <p>This squad of superstars spreads the word about our events and organization all across the internet, acts as a first line of response for HQ feedback, and is our go-to for helping to publicize key information and new initiatives.</p>
          <a class="btn btn-green" href="#">Apply to Become a NaNoWriMo Ambassador</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- NaNo Store Links -->
  <section class="store-links">
    <div class="container">
      <h2><strong>Check out the NaNo Store!</strong> Every purchase helps NaNoWriMo’s mission to help people find their creative voices.</h2>
      <ul class="link-cards">
        <li class="link-card">
          <div class="media">
            <a class="media-wrapper" href="">
              <i class="fas fa-external-link-alt icon"></i>
              <div class="text">To the NaNoWriMo Store!</div>
            </a>
            <img src="img/store-1.png" alt="Pen &amp; Pencil shirts.">
          </div>
          <h3>Camp NaNoWriMo 2018 "Pen &amp; Pencil" Shirt</h3>
        </li>
        <li class="link-card">
          <div class="media">
            <a class="media-wrapper" href="">
              <i class="fas fa-external-link-alt icon"></i>
              <div class="text">To the NaNoWriMo Store!</div>
            </a>
            <img src="img/store-2.png" alt="NaNo mug.">
          </div>
          <h3>NaNoWriMo "Superpowered Noveling" Mug</h3>
        </li>
        <li class="link-card">
          <div class="media">
            <a class="media-wrapper" href="">
              <i class="fas fa-external-link-alt icon"></i>
              <div class="text">To the NaNoWriMo Store!</div>
            </a>
            <img src="img/store-3.png" alt="The No Plot, No Problem book.">
          </div>
          <h3>No Plot, No Problem! (Autographed)</h3>
        </li>
        <li class="link-card">
          <div class="media">
            <a class="media-wrapper" href="">
              <i class="fas fa-external-link-alt icon"></i>
              <div class="text">To the NaNoWriMo Store!</div>
            </a>
            <img src="img/store-4.png" alt="NaNoWriMo Brain poster.">
          </div>
          <h3>NaNoWriMo YWP "NaNoWriMo Brain" Poster</h3>
        </li>
      </ul>
      <a class="btn btn-white" href="#">Check Out The Full Store</a>
    </div>
  </section>

  <!-- Donate -->
  <section class="donate">
    <div class="container">
      <h2>Your support means no story goes untold.</h2>
      <p>NaNoWriMo is a 501(c)(3) nonprofit that believe stories matter. We're powered by donations from writers like you. Please give to make the world a better, more creative place.</p>
      <a class="btn btn-blue" href="#">Donate Now</a>
    </div>
  </section>

</main>
