<main>

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="headline">NaNoWriMo is a 501(c)(3) nonprofit that believes your story matters.</h1>
        <p class="copy">NaNoWriMo believes in the transformational power of creativity. We provide the structure, community, and encouragement to help people find their voices, achieve creative goals, and build new worlds—on and off the page.</p>
        <!--<div class="btn-wrapper">
          <a href="" class="btn btn-green">Learn More About Our App</a>
          <a href="" class="btn btn-outline">Learn More About Our Programs</a>
        </div>-->
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about">
    <div class="container">
      <div class="wrapper">
        <h6 class="subtitle">What is NaNoWriMo?</h6>
        <h4 class="headline">National Novel Writing Month began in 1999 as a daunting but straightforward challenge: to write 50,000 words of a novel during the thirty days of November.</h4>
        <p class="copy">Now, each year on November 1, hundreds of thousands of people around the world begin to write, determined to end the month with 50,000 words of a brand-new novel. You may know this mass creative explosion by the name National Novel Writing Month, or NaNoWriMo—but that's not all that NaNoWriMo is! <br><br> NaNoWriMo is a nonprofit organization that supports writing fluency and education. But it's also a social network for writers like LinkedIn is for job professionals, or DeviantArt is for artists, or Facebook is for moms whose kids accept their friend requests only to provide them with "limited profile" access. It tracks words for writers like Fitbit tracks steps for the ambulatory. It's a real-world event, during which 900+ volunteers in places like Mexico City, Seoul, and Milwaukee coordinate communal writing sessions in thousands of partnering libraries, coffee shops, and community centers like… well, like nothing else. <br><br> It's internet-famous. It's a community-powered fandom (before there was the Beyhive, or Nerdfighters, there were Wrimos). It's a start-up incubator for novels (books like Water for Elephants, Fangirl, and WOOL began as rough drafts in November!). It's a teaching tool, it's a curriculum, and its programs run year-round. <br><br> Whatever you thought NaNoWriMo was, it is more than that.</p>
      </div>
    </div>
  </section>

  <!-- NaNo's Impact -->
  <section class="our-impact">
    <div class="container">
      <div class="subtitle">Our Impact</div>
      <h3 class="headline">NaNoWriMo supports hundreds of thousands of writers.</h3>
      <p class="copy">NaNoWriMo has grown into a nonprofit that runs year-round programs across 646 regions around the world and in thousands of classrooms, and empowers nearly half a million people to access the power of creative writing.</p>
      <div class="graph-wrapper">
        <div class="graph-group">
          <div class="graph-wrapper">
            <div class="bar-graph">
              <div class="number">21</div>
              <div class="bar"></div>
              <div class="year">1999</div>
            </div>
            <div class="bar-graph current">
              <div class="grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
              <div class="number">306,230</div>
              <div class="bar"></div>
              <div class="year">2017</div>
            </div>
          </div>
          <div class="text-wrapper">
            <div class="title">NaNoWriMo participants</div>
            <img src="/images/logged-out/NaNo-Shield-Logo.svg" alt="NaNoWriMo participants" class="logo">
          </div>
        </div>
        <div class="graph-group">
          <div class="graph-wrapper">
            <div class="bar-graph">
              <div class="number">747</div>
              <div class="bar" style="height:125px"></div>
              <div class="year">2004</div>
            </div>
            <div class="bar-graph current">
              <div class="grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
              <div class="number">95,912</div>
              <div class="bar" style="height:345px"></div>
              <div class="year">2017</div>
            </div>
          </div>
          <div class="text-wrapper">
            <div class="title">Young Writers Program participants</div>
            <img src="/images/logged-out/YWP Logo.png" alt="NaNoWriMo participants" class="logo">
          </div>
        </div>
        <div class="graph-group">
          <div class="graph-wrapper">
            <div class="bar-graph">
              <div class="number">12,876</div>
              <div class="bar" style="height:125px"></div>
              <div class="year">2011</div>
            </div>
            <div class="bar-graph current">
              <div class="grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
              <div class="number">65,692</div>
              <div class="bar" style="height:375px"></div>
              <div class="year">2017</div>
            </div>
          </div>
          <div class="text-wrapper">
            <div class="title">Camp NaNoWriMo projects</div>
            <img src="/images/logged-out/Camp-Nanowrimo-No-Sign-300px-RGB1.png" alt="Camp NaNoWriMo projects" class="logo">
          </div>
        </div>
        <div class="graph-group">
          <div class="graph-wrapper">
            <div class="bar-graph">
              <div class="number">13</div>
              <div class="bar" style="height:22px"></div>
              <div class="year">2002</div>
            </div>
            <div class="bar-graph current">
              <div class="grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
              <div class="number">972</div>
              <div class="bar" style="height:265px"></div>
              <div class="year">2017</div>
            </div>
          </div>
          <div class="text-wrapper">
            <div class="title">Municipal Liaison volunteers</div>
            <img src="/images/logged-out/Page 1.png" alt="Municipal Liaison volunteers" class="logo">
          </div>
        </div>
      </div>
      <div class="stats mobile-data">
        <div class="stat-wrapper">
        <div class="stat">
          <div class="number" id="nano-participants">306,230</div>
          <div class="info">NaNoWriMo Participants</div>
        </div>
        <div class="stat">
          <div class="number" id="young-writers">95,912</div>
          <div class="info">Young Writers Program Participants</div>
        </div>
        <div class="stat">
          <div class="number" id="camp-projects">65,692</div>
          <div class="info">Camp NaNoWriMo Projects</div>
        </div>
        <div class="stat">
          <div class="number" id="volunteers">972</div>
          <div class="info">Municipal Liason Volunteers</div>
        </div>
      </div>
      </div>
    </div>
  </section>

  {{behind-the-scenes}}

  <!-- Callouts -->
  <section class="callouts">
    <div class="container">
      <div class="wrapper">
          <div class="text-wrapper">
              <img src="/images/logged-out/volunteers-hand-icon.svg" class="icon" alt="We’re grateful to our local volunteers!">
            <h3 class="headline">We’re grateful to our local volunteers!</h3>
            <p class="copy">Every year, hundreds of incredible volunteers around the world coordinate writing groups in their local libraries, bookstores, and community centers.</p>
            <a href="https://nanowrimo.org/local-volunteers" target="_blank" class="btn btn-green">Find out more about our Municipal Liaisons</a>
          </div>
          <div class="text-wrapper">
              <img src="/images/logged-out/heart-sponsorships.svg" class="icon" alt="It takes a whole lot of donors and sponsors to make NaNoWriMo happen.">
            <h3 class="headline">It takes a whole lot of donors and sponsors to make NaNoWriMo happen.</h3>
            <p class="copy">NaNoWriMo couldn't happen without the support of our corporate partners, hard-working volunteers and staff, and, most importantly, donors like you.</p>
            <a href="https://nanowrimo.org/brought-to-you-by" target="_blank" class="btn btn-green">NaNoWriMo is Brought To You by...</a>
          </div>
      </div>
    </div>
  </section>

  <!-- Final Callout -->
  <section class="final-callout">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="headline">Your support means no story goes untold.</h3>
            <p class="copy">NaNoWriMo is a 501(c)(3) nonprofit that believe stories matter. We're powered by donations from writers like you. Please give to make the world a better, more creative place.</p>
            <a href="https://store.nanowrimo.org/collections/donate" class="btn btn-green" target="_blank">Donate Now</a>
        </div>
    </div>
  </section>

</main>
