<div id="widget-display" style="margin:20px">
  <div style="width:500px">
  
    <h2>nw-card</h2>
    
    <!--start the card -->
    <div class='nw-card'>
      <div class='nw-card-header'>
        <div class='nw-card-title'>
          Card Title
        </div>
        <div class='nw-card-actions'>
          <div class='nw-card-display-actions'>display actions</div>
          <div class='nw-card-model-actions'>model actions</div>
        </div>
      </div>
      
      <div class='nw-card-content'>
        content area: fill this with a flex layout or something
      </div>
      <div class='nw-card-footer'>
        <div class='nw-card-footer-image'>
        </div>
        <div class='nw-card-footer-actions'></div>
      </div>
    </div>
    <!--end of card -->
    
  </div>
</div>
