<div id="widget-display" style="margin:20px">
  <div style="width:500px">
  
    <h2>nw-card</h2>
    <!--start the card -->
    <div class='nw-card'>
      <div class='header'>
        <div class='title'>
          Card Title
        </div>
        <div class='actions'>
          <div class='display-actions'>display actions</div>
          <div class='model-actions'>model actions</div>
        </div>
      </div>
      
      <div class='content'>
        content area: fill this with a flex layout or something
      </div>
      <div class='footer'>
        footer
      </div>
    </div>
    <!--end of card -->
    
  </div>
</div>
